//
//    @tableOfContent
//      1. Pagination
//


//
//   @section 1. Pagination
//


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        width: 12px;
        height: 12px;
    }

    .page {
        &-item {
            margin-right: .5rem;
            margin-left: .5rem;
        }

        &-link {
            text-decoration: none;
            padding: 1rem .5rem .5rem .5rem;

            &.active,
            &:hover {
                color: var(--color-gray-900);
                border-bottom: 2px solid var(--color-gray-900);
            }

            &--previous,
            &--next {
                padding: 5px 10px;

                &:hover {
                    color: var(--color-white);
                    background: var(--color-gray-900);
                    border-radius: 50%;

                    .icon {
                        fill: var(--color-white);
                    }
                }
            }
        }
    }
}

.f3-widget-paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    a {
        padding: 0.5rem;

        &:hover {
            text-decoration: none;
            border-bottom: 1px solid;
        }

        &.current {
            font-weight: bold;
            border-bottom: 2px solid;
        }
    }

    a.arrow {
        border-radius: 100%;
        padding: 6px 8px;
        line-height: 0;

        &:hover {
            background: var(--color-gray-900);
            color: #FFF;
            border: 0;
        }

        svg {
            width: 14px;
            height: 14px;
        }
    }
}


// end of pagination.scss file
