//
//    @tableOfContent
//      1. Employee welcome message
//


//
//   @section 1. Employee welcome message
//

.employee-welcome {

    &--onload-hidden {
        .employee-welcome-message {
            opacity: 0;
            transform: translate3d(-5rem, 0, 0);
        }

        .employee-finder {
            opacity: 0;
            transform: translate3d(5rem, 0, 0);
        }
    }

    @include media-breakpoint-up(md) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8, 1fr);
        margin: -1rem 0 -4rem;
    }

    @include media-breakpoint-up(lg) {
        margin: -2rem 0;
    }
}

.employee-welcome-message {
    @include background-blur;

    display: grid;
    gap: 3rem;
    max-width: 56.5rem;
    padding: 1.5rem;
    transition: opacity 1s ease 0.8s, transform 0.7s ease 0.7s;

    @include media-breakpoint-up(md) {
        padding: 2.25rem 2rem 1.875rem 3rem;
        grid-column: 1 / 9;
        grid-row: 1 / 7;
    }

    @include media-breakpoint-up(xl) {
        grid-template-columns: 2fr 3fr;
        padding: 2.25rem 2rem 1.875rem 3rem;
        grid-column: 1 / 10;
        grid-row: 1 / 6;
    }

    &__title {
        @include h4;
    }

    &__sub-title {
        font-size: 20px; // @todo style-variable?
        line-height: 38px; // @todo style-variable?
    }

    &__link {
        @include link-secondary-with-arrow;
    }

    &__body {
    }
}

// end of employee-welcome-message.scss file
