<!-- Component Start: navigation--sub -->

<div class="navigation navigation--sub">
    <ul class="navigation__items">
        <li class="navigation__item">
            <a class="navigation__link" href="#chat">Chat</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="#bookmark">Lesezeichen</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="#user">User</a>
        </li>
        <li class="navigation__item">
            <button type="button" class="navigation__link">Suche</button>
        </li>
    </ul>
</div>

<!-- Components End: navigation--sub -->
