//
//    @tableOfContent
//      1. Social feed
//


//
//   @section 1. Social feed
//

.social-feed {
    --css-icon-size: 2.25rem;

    padding: 1.5rem;
    background-color: var(--color-white);

    @include media-breakpoint-down(md) {
        padding: 3rem;
    }

    &__title {
        @include h5;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;

        .icon {
            @include size(2.25rem);

            &--twitter {
                color: $color-twitter;
            }
        }
    }

    &__content {
        overflow-y: auto;
        position: relative;
        height: 38rem;

        &::after {
            @include loading;

            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            margin: -4rem;
        }
    }

    // twitter
    .twitter-timeline {
        opacity: 0;

        &-rendered {
            opacity: 1;
        }
    }

    // instagram
    iframe {
        width: 100%;
        height: 100%;
    }
}

// end of social-feed.scss file
