//
//    @tableOfContent
//      1. Card default
//      2. Card - image left
//      3. Card - image right
//      4. Card - image size
//      5. Card - xl
//      6. Card - ratio
//      7. Card - service
//      8. Card - events
//      9. Card - employee
//     10. Card - employee contact
//     11. Card - congratulation
//     12. Card - blackboard
//     13. Card - new job
//     14. Card - new page
//     15. Card - short message
//     16. Card - main news
//     17. Card - info
//


//
//   @section 1. Card default
//

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: $container-default-widths + 1rem;
    margin-right: auto;
    margin-left: auto;
    padding: .75rem;
    color: var(--color-gray-900);

    &__image {
        margin-bottom: 1.625rem;
    }

    &__header {
        display: flex;
        flex-direction: column;
        color: var(--color-accent);

        // @todo für andere Farben noch aufbereiten
        .carousel--color-orange & {
            color: var(--color-orange);
        }
    }

    &--list {
        flex-direction: row;
        align-items: flex-end;

        .card__title {
            margin-right: .5rem;
            font-size: 30px !important;
            line-height: 36px !important;
        }
    }

    &__title {
        @include h5;
        @include hyphens;

        margin-bottom: 0;
    }

    &__sub-title {
        order: -1;
        margin-bottom: .25rem;
    }

    &__link {
        &--hidden {
            opacity: 0;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            font-size: 0;

            [class*='icon-'] {
                @include size(2rem);

                padding: .625rem;
            }

            &:hover,
            &:focus {
                ~ .card__content {
                    .card__header {
                        color: var(--color-gray-900);
                    }
                }

                [class*='icon-'] {
                    color: var(--color-white);
                    background-color: var(--color-gray-900);
                }
            }

            // rotate Icon if Link extern
            &[href^="http"]{
                [class*='icon-'] {
                    transform: rotate(-45deg);
                }
            }
        }

        &--more {
            @include link-secondary-with-arrow;
        }
    }

    &__footer {
        margin-top: auto;
    }

    &__tags {
        @include list-reset;

        display: flex;
        flex-wrap: wrap;
    }

    &__tag {
        &:not(:last-child) {
            &::after {
                content: '|';
                display: inline-block;
                margin: 0 .75rem;
            }
        }
    }

    &__intro {
        .card__contact {
            @include media-breakpoint-up(md) {
                position: absolute;
                top: 20rem;
                right: 0;
                z-index: 1;
            }

            @include media-breakpoint-up(lg) {
                top: 31rem;
            }
        }
    }

    &__content {
        mark {
            padding: 0;
            background: transparent;
            color: var(--color-accent);
        }
    }
}


//
//   @section 2. Card - image left
//

.card--image-left {
    gap: 2.75rem; // @todo variable

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

    .card {
        &__image {
            flex: 0 0 var(--space-16);
            width: var(--space-16);
        }
    }
}


//
//   @section 3. Card - image right
//

.card--image-right {
    flex-direction: row;
    justify-content: flex-end;
    gap: 2.75rem; // @todo variable

    .card {
        &__image {
            order: 1;
            flex: 0 0 var(--space-16);
            width: var(--space-16);
        }
    }
}


//
//   @section 4. Card - image size
//

.card--image-size-xxs {
    .card {
        &__image {
            flex: 0 0 3.375rem; // @todo variable
            width: 3.375rem; // @todo variable
        }
    }

    [class*='image-color-'] {
        position: relative;
        background-color: var(--color-gray-100);

        // @todo mixin zusammen mit .picture--no-image ::after erstellen
        &::before,
        &::after {
            content: '';
            position: absolute;
            bottom: var(--space-xs-negative);
            left: var(--space-xs-negative);
            z-index: -1;
            width: calc(50% + .5rem); // @todo variable
            aspect-ratio: 1;
        }

        &::before {
            background-color: $color-white;
        }

        &::after {
            opacity: .7;
            background-color: var(--color-accent);
        }
    }
}

.card--image-size-xs {
    .card {
        &__image {
            flex: 0 0 6rem; // @todo variable
            width: 6rem; // @todo variable
        }
    }
}

.card--image-size-sm {
    .card {
        &__image {
            @include media-breakpoint-up(md) {
                //flex: 0 0 22.5rem; // @todo variable
                flex: 0 0 0; // @todo variable
                width: 22.5rem; // @todo variable
            }
        }
    }
}

.card--image-size-md {
    .card {
        &__image {
            @include media-breakpoint-up(md) {
                //flex: 0 0 auto; // @todo variable
                //width: 100%; // @todo variable
            }
        }
    }
}


//
//   @section 5. Card - xl
//

.card--xl {
    &.card--image-left,
    &.card--image-right {
        gap: 3.75rem;

        .card {
            &__image {
                flex: 0 0 28.625rem; // @todo variable;
                width: 28.625rem; // @todo variable
            }

            &__title {
                @include h3;
            }

            &__content {
                max-width: 33.75rem;
            }
        }
    }
}


//
//   @section 6. Card - ratio
//

.card--ratio-square {
    aspect-ratio: 1;
}


//
//   @section 7. Card - service
//

.card--service {
    padding: 1.125rem 2rem 4rem;

    .card {
        &__title {
            height: 3.5rem;
            margin-bottom: .5rem;
            // @todo line-clamp hinzufügen
        }

        &__link {
            &--hidden {
                opacity: 1;
            }
        }
    }
}


//
//   @section 8. Card - events
//

.card--event {
    .card {
        &__sub-title {
            order: 0;
            font-size: 28px; // @todo font-style?
            line-height: 28px; // @todo font-style?
        }

        &__title {
            @include h3;
        }

        &__text {
            @include h6;
        }
    }
}


//
//   @section 9. Card - employee
//

.card--employee {
    .card {
        &__sub-title {
            order: 0;
            margin-bottom: 0;
        }

        &__title {
            @include h6;

            margin-bottom: .5rem;
        }

        &__text {
            font-weight: 700;
        }
    }
}

.card--employee-contact {
    margin-top: 3rem;
    padding: 2rem;
    border: 1px solid var(--color-gray-200);
    width: 100%;

    .card {
        &__sub-title {
            //order: 0;
            //margin-bottom: 0;
        }

        &__title {
            @include h6;

            order: -1;
            margin-bottom: .625rem;
        }

        &__text {
            font-weight: 700;
        }

        &__image {
            max-width: 5rem;
            margin-top: -5rem;
        }

        &__contact {
            @include list-reset;

            display: flex;
            flex-direction: column;
            gap: .25rem;
            margin-top: auto;
        }

        &__item {
            display: flex;
            align-items: center;
            gap: .5rem;

            a {
                position: relative;
                z-index: 1;
            }
        }
    }
}


//
//   @section 10. Card - employee contact
//


//
//   @section 11. Card - congratulation
//

.card--congratulation {
    .card {
        &__sub-title {
            margin-bottom: .5rem;
        }

        &__title {
            @include font-base;

            margin-bottom: 0;
        }
    }
}


//
//   @section 12. Card - blackboard
//

.card--blackboard {
    //aspect-ratio: 1;
    aspect-ratio: 257/230;
    padding: 2rem;

    .card {
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        &__text {
            margin-top: auto;
        }

        &__title {
            @include h5;

            margin-bottom: 0;
        }
    }
}


//
//   @section 14. Card - new page
//

.card--new-page {
    margin-top: 1rem;
    padding-top: .25rem;

    .card {
        &__title {
            @include h6;
        }

        &__sub-title {
            order: 0;
            margin-bottom: 0;
        }

        &__link {
            &--hidden { // @todo > umbennen von --hidden in --overlay
                opacity: 1;
                align-items: flex-start;
                justify-content: flex-start;

                [class*='icon-'] {
                    border-radius: 50%;
                }
            }

            ~ .card__content,
            ~ .card__footer {
                margin-left: 2rem;
            }
        }
    }
}

//
//   @section 15. Card - short message
//

.card--short-message {
    padding-right: 0;
    padding-left: 0;

    &:not(:last-child) {
        border-bottom: 1px solid $color-gray-200;
    }

    .card {
        &__title {
            @include font-base;
        }
    }
}


//
//   @section 16. Card - main news
//

.card--main-news {
    gap: 2rem;

    @include media-breakpoint-up(md) {
        gap: 7.25rem;
    }

    .card {
        &__header {
            margin-bottom: 1.5rem;
        }

        &__title {
            @include h1;

            z-index: 1;
            max-width: 38rem;

            @include media-breakpoint-up(md) {
                margin: 3rem 0 2rem -18.75rem;
            }
        }

        &__sub-title {
            order: 0;
        }

        &__body {
            max-width: 23rem;
        }

        &__text {
            @include text-copy-standard;
        }

        &__image {
            position: relative;
            margin-bottom: 0;
            padding: 3rem;

            @include media-breakpoint-up(md) {
                flex: 0 0 50%;
                width: 50%;
            }

            //&::after {
            //    @include background-pattern($color-gray-900);
            //
            //    content: '';
            //    position: absolute;
            //    top: 0;
            //    right: 1rem;
            //    bottom: 0;
            //    left: 1.25rem;
            //    z-index: -1;
            //}

            .picture {
                position: relative;
                top: 5rem;
                left: -3.875rem;
                max-width: 29.5rem;

                &__pattern {
                    top: -9rem;
                    bottom: -1.25rem;
                    left: 2rem;
                    right: -6rem;
                }
            }
        }
    }
}


//
//   @section 17. Card - info
//

.card--info {
    padding: 1.5rem;
    background-color: var(--color-white);

    @include media-breakpoint-up(md) {
        padding: 3rem;
    }

    .card {
        &__content {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include media-breakpoint-up(md) {
                flex-direction: row;
            }
        }

        &__header {
            @include media-breakpoint-up(md) {
                flex: 0 0 20rem;
                width: 20rem;
            }
        }

        &__text {
            max-width: 40rem;
        }
    }
}


.card--picture-text {

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        margin-bottom: 4rem;
    }

    .card {
        &__header {
            @include h4;
            margin: 1rem 0;
        }

        &__content {
            @include text-copy-standard();

            @include media-breakpoint-up(lg) {
                max-width: 33rem;
                margin-left: 4.75rem;
            }
        }
    }

    &.card--image-size {
        &-lg {
            .card {
                margin-bottom: 5rem;

                &__image {
                    flex: 0 0 100%;
                    max-width: 100%;

                    @include media-breakpoint-up(lg) {
                        flex: 0 0 42.625rem;
                        max-width: 60.625rem;
                        margin-left: 5rem;
                        margin-bottom: 0;
                    }
                }

                &__content {
                    @include media-breakpoint-up(lg) {
                        max-width: 60.625rem;
                        margin-left: 5rem;
                    }
                }
            }

            .picture {
                &__caption {
                    margin-bottom: 1rem;
                }
            }
        }
        &-md {
            .card {
                &__image {
                    width: 100%;

                    @include media-breakpoint-up(lg) {
                        flex: 0 0 27.5rem;
                        width: 27.5rem;
                    }
                }
            }
        }

        &-sm {
            .card {
                &__image {
                    width: 100%;

                    @include media-breakpoint-up(lg) {
                        flex: 0 0 12.5rem;
                        width: 12.5rem;
                        margin-left: 7rem;
                    }
                }

                &__content {
                    @include media-breakpoint-up(lg) {
                        margin-left: 12.75rem;
                    }
                }
            }

            .picture__pattern {
                left: -9.375rem;
                right: -9.375rem;
            }
        }
    }
}

.head-area {
    &--picture {
        position: relative;

        .picture__caption {
            @include media-breakpoint-up(lg) {
                margin-left: 5.5rem;
                margin-right: .5rem;
            }
        }
    }
}

// card more theme
.card--more-theme {
    &:hover {
        text-decoration: underline;
    }

    & > .card {
        &:not(:last-child) {
            padding-right: 1rem;
        }

        &__image {
            .picture__image,
            .picture--no-image .picture__item{
                object-fit: cover;
                aspect-ratio: 179 / 119; // width:358, height:238
            }

            [class*='image-color-'] {
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -.875rem; // @todo variable
                    left: -.875rem; // @todo variable
                    width: calc(50% + .875rem); // @todo variable
                }
            }
        }

        &__sub-title {
            margin-bottom: 0;
        }
    }
}

// end of card.scss file
