//
//    @tableOfContent
//      1. Anchor navigation
//


//
//   @section 1. Anchor navigation
//

.navigation--anchor {
    position: relative;
    background: var(--color-gray-100);

    //@include media-breakpoint-up(xxl) {
    @media screen and (min-width: 1800px ) {
        position: fixed;
        top: 27vh;
        left: 2rem;
        bottom: 5rem;
        background: transparent;
        overflow: hidden;
        max-width: 24vw;
    }

    .navigation {
        &__button {
            display: flex;
            position: absolute;
            top: 1.25rem;
            bottom: 0;
            z-index: 1;
            border: none;
            height: 1.5rem;

            &.right {
                right: 0;
            }

            &.left {
                left: 0;
            }

            &[disabled=disabled] {
                display: none;
            }


            //@include media-breakpoint-up(xxl) {
            @media screen and (min-width: 1800px ) {
                display: none;
            }
        }

        &__items {
            //overflow-x: scroll;
            scroll-behavior: smooth;
            scroll-snap-type: x mandatory;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            padding: 1.25rem;
            margin-bottom: 0;
            //white-space: nowrap;
            overflow: auto;

            // @todo mixin
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }

            /* Track */
            &::-webkit-scrollbar-track,
            &::-webkit-scrollbar-thumb {
                background: transparent;
            }

            //@include media-breakpoint-up(xxl) {
            @media screen and (min-width: 1800px ) {
                flex-direction: column;
                align-items: start;
            }
        }

        &__item {
            display: inline-flex;
            overflow: visible;
            max-width: 100%;
            padding: 0 2.5rem 0 0;

            &:first-child {
                margin-left: 2rem;
            }

            &::before,
            &::after {
                display: none;
            }

            //@include media-breakpoint-up(xxl) {
            @media screen and (min-width: 1800px ) {
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
                padding: 0 0 1.875rem 2rem;
                margin-top: -0.25rem;

                &::before {
                    content: '';
                    position: absolute;
                    left: .375rem;
                    top: 1rem;
                    display: block;
                    height: 100%;
                    border-left: 1px solid var(--color-gray-900);
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0.25rem;
                    display: block;
                    width: .75rem;
                    height: .75rem;
                    background: transparent;
                    border: 1px solid var(--color-gray-900);
                    border-radius: 50%;
                }

                &.active {
                    &::after {
                        background: var(--color-black);
                    }
                }

                &:first-child {
                    margin-left: 0;
                }

                &:last-child::before {
                    height: 0;
                }
            }
        }

        &__link {
            @include text-copy-x-small;

            text-decoration: none;

            &.active,
            &:focus,
            &:hover {
                font-weight: 700;
            }
        }
    }
}

// end of navigation--sub.scss file
