//
//    @tableOfContent
//      1. Anchor navigation
//


//
//   @section 1. Anchor navigation
//

.navigation--anchor {
    margin-left: 2.5rem;

    @media screen and (max-width: $container-default-widths) {
        background: var(--color-gray-100);
        overflow-x: scroll;
        scroll-behavior: smooth;
        position: relative;
        scroll-snap-type: x mandatory;
        margin-left: 0;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        /* Track */
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-thumb {
            background: transparent;
        }
    }

    &-button {
        display: none;

        @media screen and (max-width: $container-default-widths) {
            display: flex;
            position: fixed;
            top: 1.25rem;
            bottom: 0;
            z-index: 1;
            border: none;
            height: 1.5rem;

            &.right {
                right: 0;
            }

            &.left {
                left: 0;
            }
        }
    }

    &--items {
        flex-direction: column;

        @media screen and (max-width: $container-default-widths) {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            padding: 1.25rem;
            margin-bottom: 0;
            white-space: nowrap;
        }
    }

    &__item {
        overflow: hidden;
        position: relative;
        padding: 0 0 1.875rem 2rem;

        @media screen and (max-width: $container-default-widths) {
            display: inline-flex;
            overflow: visible;
            max-width: 100%;
            padding: 0 2.5rem 0 0;

            &:first-child {
                margin-left: 2rem;
            }
        }

        &::before {
            content: '';
            position: absolute;
            left: .375rem;
            top: 0;
            height: 100%;
            border: 1px solid var(--color-gray-900);
            border-width: 0 0 0 1px;

            @media screen and (max-width: $container-default-widths) {
                display: none;
            }
        }

        &:first-child::before {
            top: .75rem;
        }

        &:last-child::before {
            height: .375rem;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: .375rem;
            width: .75rem;
            height: .75rem;
            background: var(--color-white);
            border: 1px solid var(--color-gray-900);
            border-radius: 50%;

            @media screen and (max-width: $container-default-widths) {
                display: none;
            }
        }

        &.current {
            color: var(--color-primary);

            &::before {
                border-top-color: var(--color-primary);
            }

            &::after {
                border-color: var(--color-primary);
                background: var(--color-primary);
            }
        }
    }

    &__link {
        @include h6();
        font-family: $font-family-sans-serif;
        letter-spacing: .6px;
        text-decoration: none;
    }
}

// end of navigation--sub.scss file
