//
//    @tableOfContent
//      1. Sub navigation
//


//
//   @section 1. Sub navigation
//

.navigation--sub {
    .navigation {
        &__items {
            @include list-reset;

            display: flex;
            align-items: center;
            gap: .5rem;

            @include media-breakpoint-up(md) {
                gap: 2rem;
            }
        }

        &__item {
            &--open-chat,
            &--bookmark/*,
            &--user*/ {
                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }

            &--menu-toggle {
                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;

            &.fx--toggle-main-menu {
                .icon {
                    &--menu,
                    &--close {
                        transition: transform $transition-time;
                    }

                    &--menu {
                        .fx--main-menu-open & {
                            transform: scale3d(0, 0, 1);
                        }
                    }

                    &--close {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin: -.625rem;
                        transform: scale3d(0, 0, 1);

                        .fx--main-menu-open & {
                            transform: scale3d(1, 1, 1);
                        }
                    }
                }
            }
        }
    }
}

// end of navigation--sub.scss file
