//
//    @tableOfContent
//      1. Fonts
//       1.1 The Serif
//       1.2 The Sans
//      2. Headlines
//      3. Hero headlines
//      4. Font styles
//      5. Text styles
//       5.1 Introtext
//       5.2 Copy standard
//       5.3 Copy small
//       5.4 Copy x small
//       5.5 Main navigation
//       5.6 Link
//


//
//   @section 1. Typography
//

// @section 1.1 The Serif
@font-face {
    font-family: 'The Serif';
    font-weight: 700;
    font-style: normal;
    src: url('assets/fonts/the-serif/the-serif--bold-subset.woff2') format('woff2');
    unicode-range: U+22, U+25-3F, U+41-5F, U+61-7D, U+C4, U+D6, U+DC, U+DF, U+E4, U+F6, U+FC;
    font-display: swap;
}

// @section 1.2 The Sans
@font-face {
    font-family: 'The Sans';
    font-weight: 200;
    font-style: normal;
    src: url('assets/fonts/the-sans/the-sans--light-subset.woff2') format('woff2');
    unicode-range: U+22, U+25-3F, U+41-5F, U+61-7D, U+C4, U+D6, U+DC, U+DF, U+E4, U+F6, U+FC;
    font-display: swap;
}

@font-face {
    font-family: 'The Sans';
    font-weight: 300;
    font-style: normal;
    src: url('assets/fonts/the-sans/the-sans--plain-subset.woff2') format('woff2');
    unicode-range: U+22, U+25-3F, U+41-5F, U+61-7D, U+C4, U+D6, U+DC, U+DF, U+E4, U+F6, U+FC;
    font-display: swap;
}

@font-face {
    font-family: 'The Sans';
    font-weight: 500;
    font-style: normal;
    src: url('assets/fonts/the-sans/the-sans--semi-bold-subset.woff2') format('woff2');
    unicode-range: U+22, U+25-3F, U+41-5F, U+61-7D, U+C4, U+D6, U+DC, U+DF, U+E4, U+F6, U+FC;
    font-display: swap;
}

@font-face {
    font-family: 'The Sans';
    font-weight: 700;
    font-style: normal;
    src: url('assets/fonts/the-sans/the-sans--bold-subset.woff2') format('woff2');
    unicode-range: U+22, U+25-3F, U+41-5F, U+61-7D, U+C4, U+D6, U+DC, U+DF, U+E4, U+F6, U+FC;
    font-display: swap;
}


//
//   @section 2. Headlines
//
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-family-serif;
}

.h1, h1 {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 1.5rem;

    + .text-sub-title {
    }

    @include media-breakpoint-up(md) {
        font-size: 34px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 58px;
        line-height: 70px;
        margin-bottom: 2.5rem;

        + .text-sub-title {
        }
    }
}

.h2, h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 1.25rem;

    + .text-sub-title {
    }

    @include media-breakpoint-up(md) {
        font-size: 44px;
        line-height: 50px;
        margin-bottom: 2.5rem;

        + .text-sub-title {
        }
    }
}

.h3, h3 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 1rem;

    + .text-sub-title {
    }

    @include media-breakpoint-up(md) {
        font-size: 34px;
        line-height: 42px;
        margin-bottom: 1.5rem;

        + .text-sub-title {
        }
    }
}

.h4, h4 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0.75rem;

    + .text-sub-title {
    }

    @include media-breakpoint-up(md) {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 1.25rem;

        + .text-sub-title {
        }
    }
}

.h5, h5 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0.5rem;

    + .text-sub-title {
    }

    @include media-breakpoint-up(md) {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 1rem;

        + .text-sub-title {
            order: 0;
            font-size: 28px;
            line-height: 28px;
            margin-top: -1rem;
            margin-bottom: 1rem;
        }
    }
}

.h6, h6 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0.25rem;
}

.m-b-0 {
    margin-bottom: 0;
}


//
//   @section 3. Hero headlines
//

.hero-headline {
    display: flex;
    align-items: center;

    &__title {
        margin-top: 1rem;
        margin-bottom: 0;
        margin-left: -5rem;
        position: relative;
        z-index: 2;
        flex: 1 1 auto;
    }

    &__image {
        order: -1;
        flex: 0 0 50%;
        width: 50%;
    }

    &--with-image {
        align-items: flex-start;
    }
}


//
//   @section 4. Font styles
//

.font-base {
    @include font-base;
}

.font-family-serif {
    font-family: var(--font-family-serif);
}

.font-family-sans-serif {
    font-family: var(--font-family-sans-serif);
}


//
//   @section 5. Text styles
//

// @section 5.1 Introtext
.text-intro {
    font-family: var(--font-family-sans-serif);
    font-weight: 200;
    line-height: 1.6;
}

// @section 5.2 Copy standard
.text-copy-standard {
    @include text-copy-standard;

    &--bold {
        @include text-copy-standard(700, .3px);
    }
}

// @section 5.3 Copy small
.text-copy-small {
    @include text-copy-small;

    &--bold {
        @include text-copy-small(700, .6px);
    }
}

// @section 5.4 Copy x small
.text-copy-x-small {
    @include text-copy-x-small;

    &--bold {
        @include text-copy-x-small(700, .6px);
    }
}


// end of typography.scss file
