//
//    @tableOfContent
//      1. Fonts
//       1.1 The Serif
//       1.2 The Sans
//      2. Headlines
//       2.1 H1
//       2.2 H2
//       2.3 H3
//       2.4 H4
//       2.5 H5
//       2.6 H6
//      3. Hero headlines
//      4. Font styles
//      5. Text styles
//       5.1 Introtext
//       5.2 Copy standard
//       5.3 Copy small
//       5.4 Copy x small
//       5.5 Main navigation
//       5.6 Link
//


//
//   @section 1. Typography
//

// @section 1.1 The Serif
@font-face {
    font-family: 'The Serif';
    font-weight: 700;
    font-style: normal;
    src: url('assets/fonts/the-serif/the-serif--bold.woff2') format('woff2');
}

// @section 1.2 The Sans
@font-face {
    font-family: 'The Sans';
    font-weight: 200;
    font-style: normal;
    src: url('assets/fonts/the-sans/the-sans--light.woff2') format('woff2');
}

@font-face {
    font-family: 'The Sans';
    font-weight: 300;
    font-style: normal;
    src: url('assets/fonts/the-sans/the-sans--plain.woff2') format('woff2');
}

@font-face {
    font-family: 'The Sans';
    font-weight: 500;
    font-style: normal;
    src: url('assets/fonts/the-sans/the-sans--semi-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'The Sans';
    font-weight: 700;
    font-style: normal;
    src: url('assets/fonts/the-sans/the-sans--bold.woff2') format('woff2');
}


//
//   @section 2. Headlines
//

// @section 2.1 H1
.h1,
h1 {
    @include h1;
}

// @section 2.2 H2
.h2,
h2 {
    @include h2;
}

// @section 2.3 H3
.h3,
h3 {
    @include h3;
}

// @section 2.4 H4
.h4,
h4 {
    @include h4;
}

// @section 2.5 H5
.h5,
h5 {
    @include h5;
}

// @section 2.6 H6
.h6,
h6 {
    @include h6;
}


//
//   @section 3. Hero headlines
//

.hero-headline {
    display: flex;
    align-items: center;

    &__title {
        margin-top: 1rem;
        margin-bottom: 0;
        margin-left: -5rem;
        position: relative;
        z-index: 2;
        flex: 1 1 auto;
    }

    &__image {
        order: -1;
        flex: 0 0 50%;
        width: 50%;
    }

    &--with-image {
        align-items: flex-start;
    }
}


//
//   @section 4. Font styles
//

.font-base {
    @include font-base;
}

.font-family-serif {
    font-family: var(--font-family-serif);
}

.font-family-sans-serif {
    font-family: var(--font-family-sans-serif);
}


//
//   @section 5. Text styles
//

// @section 5.1 Introtext
.text-intro {
    @include text-intro;
}

// @section 5.2 Copy standard
.text-copy-standard {
    @include text-copy-standard;

    &--bold {
        @include text-copy-standard(700, .3px);
    }
}

// @section 5.3 Copy small
.text-copy-small {
    @include text-copy-small;

    &--bold {
        @include text-copy-small(700, .6px);
    }
}

// @section 5.4 Copy x small
.text-copy-x-small {
    @include text-copy-x-small;

    &--bold {
        @include text-copy-x-small(700, .6px);
    }
}


// end of typography.scss file
