//
//    @tableOfContent
//      1. Infobox
//


//
//   @section 1. Infobox
//

.infobox {
    position: relative;
    max-width: $container-default-widths + 2rem;
    //margin: auto;
    margin-bottom: 3.5rem;

    &--background {
        &-white {
            background-color: var(--color-white);
        }

        &-gray-100 {
            background-color: var(--color-gray-100);
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: -1rem;
        z-index: -1;
        height: 100%;
        background-image: var(--pattern-url);
    }

    &--wrapper {
        margin-left: 3rem;

        .list--vertical {
            flex-direction: column;
            align-items: start;
            margin-right: 0;
        }
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__text {
        @include text-copy-standard;
        margin-bottom: 1.5rem;
    }

    &__items {
        padding-left: 0;
        list-style: none;

        .icon {
            width: .75rem;
            height: .75rem;
            margin-right: .625rem;
            vertical-align: baseline;
        }

        >.infobox__item {
            margin-bottom: .5rem;

            .primary-link {
                @include link-primary();
                text-decoration: none;
            }
        }
    }

    &.color__border {
        border-width: 1px;
        border-style: solid;

        &::after {
            top: 1rem;
            right: -1rem;
            left: 2rem;
        }

        > .infobox--wrapper {
            margin: 1.5rem 2.5rem;
        }
    }
}

// end of infobox.scss file
