#
# IDE files
#
.idea

#
# OS
#
.DS_Store

#
# Build
#
.Build

#
# Cache files
#
.sass-cache/

#
# Packages
#
bin/
vendor/
node_modules/

#
# Prototype
#
**/patternlab/public/
**/patternlab/pattern_exports
**/patternlab/source/assets
**/patternlab/dependencyGraph.json

#
# Keep
#
!.gitkeep

#
# Misc
#
nbproject
venv

#
# phing-typo3-deployer
#
/htdocs/build.env.properties
/htdocs/build.xml
/htdocs/bin
/htdocs/shared
/htdocs/vendor
/htdocs/releases

