parameters:
	ignoreErrors:
		-
			message: "#^Method Xima\\\\XmGoaccess\\\\Widgets\\\\LineChartWidget\\:\\:__construct\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Widgets/LineChartWidget.php

		-
			message: "#^Method Xima\\\\XmGoaccess\\\\Widgets\\\\LineChartWidget\\:\\:getCssFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Widgets/LineChartWidget.php

		-
			message: "#^Method Xima\\\\XmGoaccess\\\\Widgets\\\\LineChartWidget\\:\\:getEventData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Widgets/LineChartWidget.php

		-
			message: "#^Method Xima\\\\XmGoaccess\\\\Widgets\\\\LineChartWidget\\:\\:getOptions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Widgets/LineChartWidget.php

		-
			message: "#^Property Xima\\\\XmGoaccess\\\\Widgets\\\\LineChartWidget\\:\\:\\$options type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Widgets/LineChartWidget.php

		-
			message: "#^Method Xima\\\\XmGoaccess\\\\Widgets\\\\ListWidget\\:\\:__construct\\(\\) has parameter \\$buttonProvider with no type specified\\.$#"
			count: 1
			path: Classes/Widgets/ListWidget.php

		-
			message: "#^Method Xima\\\\XmGoaccess\\\\Widgets\\\\ListWidget\\:\\:__construct\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Widgets/ListWidget.php

		-
			message: "#^Method Xima\\\\XmGoaccess\\\\Widgets\\\\ListWidget\\:\\:getItems\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Widgets/ListWidget.php

		-
			message: "#^Method Xima\\\\XmGoaccess\\\\Widgets\\\\ListWidget\\:\\:getOptions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Widgets/ListWidget.php

		-
			message: "#^Property Xima\\\\XmGoaccess\\\\Widgets\\\\ListWidget\\:\\:\\$options type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Widgets/ListWidget.php

		-
			message: "#^Method Xima\\\\XmGoaccess\\\\Widgets\\\\Provider\\\\AbstractGoaccessDataProvider\\:\\:readJsonData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Widgets/Provider/AbstractGoaccessDataProvider.php

		-
			message: "#^Method Xima\\\\XmGoaccess\\\\Widgets\\\\Provider\\\\BrowsersChartDataProvider\\:\\:getChartData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Widgets/Provider/BrowsersChartDataProvider.php

		-
			message: "#^Method Xima\\\\XmGoaccess\\\\Widgets\\\\Provider\\\\BrowsersChartDataProvider\\:\\:getGoaccessChartData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Widgets/Provider/BrowsersChartDataProvider.php

		-
			message: "#^Method Xima\\\\XmGoaccess\\\\Widgets\\\\Provider\\\\OsChartDataProvider\\:\\:getChartData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Widgets/Provider/OsChartDataProvider.php

		-
			message: "#^Method Xima\\\\XmGoaccess\\\\Widgets\\\\Provider\\\\OsChartDataProvider\\:\\:getGoaccessChartData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Widgets/Provider/OsChartDataProvider.php

		-
			message: "#^Method Xima\\\\XmGoaccess\\\\Widgets\\\\Provider\\\\RequestsListDataProvider\\:\\:getItems\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Widgets/Provider/RequestsListDataProvider.php
