parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property DOMNode\\:\\:\\$tagName\\.$#"
			count: 1
			path: packages/xm_dkfz_net_events/Classes/Utility/EventLoaderUtility.php

		-
			message: "#^Cannot call method getName\\(\\) on ReflectionType\\|null\\.$#"
			count: 2
			path: packages/xm_dkfz_net_events/Classes/Utility/EventLoaderUtility.php

		-
			message: "#^Method Xima\\\\XmDkfzNetEvents\\\\Utility\\\\EventLoaderUtility\\:\\:getEvents\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_events/Classes/Utility/EventLoaderUtility.php

		-
			message: "#^Parameter \\#1 \\$datetime of class DateTime constructor expects string, string\\|null given\\.$#"
			count: 1
			path: packages/xm_dkfz_net_events/Classes/Utility/EventLoaderUtility.php

		-
			message: "#^Property Xima\\\\XmDkfzNetEvents\\\\Utility\\\\EventLoaderUtility\\:\\:\\$events \\(array\\<Xima\\\\XmDkfzNetEvents\\\\Domain\\\\Model\\\\Dto\\\\Event\\>\\) does not accept mixed\\.$#"
			count: 1
			path: packages/xm_dkfz_net_events/Classes/Utility/EventLoaderUtility.php

		-
			message: "#^Cannot access offset 'fe_users' on mixed\\.$#"
			count: 3
			path: packages/xm_dkfz_net_site/Classes/DataProcessing/PageContactsProcessor.php

		-
			message: "#^Cannot access offset 'tx_xmdkfznetsite…' on mixed\\.$#"
			count: 3
			path: packages/xm_dkfz_net_site/Classes/DataProcessing/PageContactsProcessor.php

		-
			message: "#^Parameter \\#1 \\$array of function array_keys expects array, mixed given\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/DataProcessing/PageContactsProcessor.php

		-
			message: "#^Parameter \\#1 \\$itemlist of method TYPO3\\\\CMS\\\\Core\\\\Database\\\\RelationHandler\\:\\:start\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/DataProcessing/PageContactsProcessor.php

		-
			message: "#^Cannot access offset 'description' on array\\<string, mixed\\>\\|false\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/DataProcessing/TeaserProcessor.php

		-
			message: "#^Cannot access offset 'media' on array\\<string, mixed\\>\\|false\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/DataProcessing/TeaserProcessor.php

		-
			message: "#^Cannot access offset 'title' on array\\<string, mixed\\>\\|false\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/DataProcessing/TeaserProcessor.php

		-
			message: "#^Cannot access offset 'tx_xmdkfznetsite…' on array\\<string, mixed\\>\\|false\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/DataProcessing/TeaserProcessor.php

		-
			message: "#^Cannot call method fetchAssociative\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/DataProcessing/TeaserProcessor.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\DataProcessing\\\\TeaserProcessor\\:\\:process\\(\\) has parameter \\$contentObjectConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/DataProcessing/TeaserProcessor.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\DataProcessing\\\\TeaserProcessor\\:\\:process\\(\\) has parameter \\$processedData with no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/DataProcessing/TeaserProcessor.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\DataProcessing\\\\TeaserProcessor\\:\\:process\\(\\) has parameter \\$processorConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/DataProcessing/TeaserProcessor.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\DataProcessing\\\\TeaserProcessor\\:\\:process\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/DataProcessing/TeaserProcessor.php

		-
			message: "#^Property Xima\\\\XmDkfzNetSite\\\\Domain\\\\Model\\\\Dto\\\\PhoneBookAbteilung\\:\\:\\$leitung type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Domain/Model/Dto/PhoneBookAbteilung.php

		-
			message: "#^Property Xima\\\\XmDkfzNetSite\\\\Domain\\\\Model\\\\Dto\\\\PhoneBookAbteilung\\:\\:\\$sekretariat type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Domain/Model/Dto/PhoneBookAbteilung.php

		-
			message: "#^Property Xima\\\\XmDkfzNetSite\\\\Domain\\\\Model\\\\Place\\:\\:\\$contacts \\(TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\<Xima\\\\XmDkfzNetSite\\\\Domain\\\\Model\\\\Contact\\>\\|null\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\<mixed\\>\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Domain/Model/Place.php

		-
			message: "#^Property Xima\\\\XmDkfzNetSite\\\\Domain\\\\Model\\\\Place\\:\\:\\$feGroups \\(TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\<TYPO3\\\\CMS\\\\Extbase\\\\Domain\\\\Model\\\\FrontendUserGroup\\>\\|null\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\<mixed\\>\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Domain/Model/Place.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\Domain\\\\Repository\\\\BeGroupRepository\\:\\:findAllFileMounts\\(\\) should return array\\<int, array\\{title\\: string, uid\\: int\\}\\> but returns array\\<int, array\\<string, mixed\\>\\>\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Domain/Repository/BeGroupRepository.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\Domain\\\\Repository\\\\BeGroupRepository\\:\\:findAllGroupsWithDkfzNumber\\(\\) should return array\\<int, array\\{dkfz_id\\: string, uid\\: int\\}\\> but returns array\\<int, array\\<string, mixed\\>\\>\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Domain/Repository/BeGroupRepository.php

		-
			message: "#^Return type \\(array\\<int, array\\{dkfz_id\\: string, uid\\: int\\}\\>\\) of method Xima\\\\XmDkfzNetSite\\\\Domain\\\\Repository\\\\BeGroupRepository\\:\\:findAllGroupsWithDkfzNumber\\(\\) should be compatible with return type \\(array\\<int, array\\{dkfz_number\\: string, uid\\: int\\}\\>\\) of method Xima\\\\XmDkfzNetSite\\\\Domain\\\\Repository\\\\ImportableGroupInterface\\:\\:findAllGroupsWithDkfzNumber\\(\\)$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Domain/Repository/BeGroupRepository.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\Domain\\\\Repository\\\\PlaceRepository\\:\\:findAllUsersWithDkfzId\\(\\) should return array\\<int, array\\{dkfz_id\\: int, dkfz_hash\\: string, uid\\: int\\}\\> but returns array\\<int, array\\<string, mixed\\>\\>\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Domain/Repository/PlaceRepository.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\Domain\\\\Repository\\\\PlaceRepository\\:\\:findByDkfzIds\\(\\) should return array\\<int, array\\{dkfz_id\\: int, dkfz_hash\\: string, uid\\: int\\}\\> but returns array\\<int, array\\<string, mixed\\>\\>\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Domain/Repository/PlaceRepository.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\Domain\\\\Repository\\\\UserGroupRepository\\:\\:findAllGroupsWithDkfzNumber\\(\\) should return array\\<int, array\\{dkfz_number\\: string, uid\\: int\\}\\> but returns array\\<int, array\\<string, mixed\\>\\>\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Domain/Repository/UserGroupRepository.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\Domain\\\\Repository\\\\UserRepository\\:\\:findAllUsersWithDkfzId\\(\\) should return array\\<int, array\\{dkfz_id\\: string, dkfz_hash\\: string, uid\\: int\\}\\> but returns array\\<int, array\\<string, mixed\\>\\>\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Domain/Repository/UserRepository.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\Domain\\\\Repository\\\\UserRepository\\:\\:findByDkfzIds\\(\\) should return array\\<int, array\\{dkfz_id\\: int, dkfz_hash\\: string, uid\\: int\\}\\> but returns array\\<int, array\\<string, mixed\\>\\>\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Domain/Repository/UserRepository.php

		-
			message: "#^Return type \\(array\\<int, array\\{dkfz_id\\: string, dkfz_hash\\: string, uid\\: int\\}\\>\\) of method Xima\\\\XmDkfzNetSite\\\\Domain\\\\Repository\\\\UserRepository\\:\\:findAllUsersWithDkfzId\\(\\) should be compatible with return type \\(array\\<int, array\\{dkfz_id\\: int, dkfz_hash\\: string, uid\\: int\\}\\>\\) of method Xima\\\\XmDkfzNetSite\\\\Domain\\\\Repository\\\\ImportableUserInterface\\:\\:findAllUsersWithDkfzId\\(\\)$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Domain/Repository/UserRepository.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\EventListener\\\\BackendUserLookup\\:\\:getTypo3User\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/EventListener/BackendUserLookup.php

		-
			message: "#^Property Xima\\\\XmDkfzNetSite\\\\EventListener\\\\BackendUserLookup\\:\\:\\$typo3User type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/EventListener/BackendUserLookup.php

		-
			message: "#^Property Xima\\\\XmDkfzNetSite\\\\EventListener\\\\FrontendUserLookup\\:\\:\\$typo3User type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/EventListener/FrontendUserLookup.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\Form\\\\Element\\\\OverrideToggleElement\\:\\:render\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Form/Element/OverrideToggleElement.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\Hook\\\\DataHandlerHook\\:\\:processDatamap_preProcessFieldArray\\(\\) has parameter \\$incomingFieldArray with no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Hook/DataHandlerHook.php

		-
			message: "#^Cannot call method fetchAllAssociative\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Preview/InfoboxPreviewRenderer.php

		-
			message: "#^Cannot access offset 'description' on array\\<string, mixed\\>\\|false\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Preview/TeaserPreviewRenderer.php

		-
			message: "#^Cannot access offset 'media' on array\\<string, mixed\\>\\|false\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Preview/TeaserPreviewRenderer.php

		-
			message: "#^Cannot access offset 'title' on array\\<string, mixed\\>\\|false\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Preview/TeaserPreviewRenderer.php

		-
			message: "#^Cannot access offset 'tx_xmdkfznetsite…' on array\\<string, mixed\\>\\|false\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Preview/TeaserPreviewRenderer.php

		-
			message: "#^Cannot call method fetchAllAssociative\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 2
			path: packages/xm_dkfz_net_site/Classes/Preview/TeaserPreviewRenderer.php

		-
			message: "#^Cannot call method fetchAssociative\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Preview/TeaserPreviewRenderer.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\Preview\\\\TeaserPreviewRenderer\\:\\:fillChildFromLink\\(\\) has no return type specified\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Preview/TeaserPreviewRenderer.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\Preview\\\\TeaserPreviewRenderer\\:\\:fillChildFromLink\\(\\) has parameter \\$item with no type specified\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Preview/TeaserPreviewRenderer.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\Preview\\\\TeaserPreviewRenderer\\:\\:resolveChildLinkItems\\(\\) has no return type specified\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Preview/TeaserPreviewRenderer.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\Preview\\\\TeaserPreviewRenderer\\:\\:resolveChildLinkItems\\(\\) has parameter \\$item with no type specified\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Preview/TeaserPreviewRenderer.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\ResourceResolver\\\\AbstractResolver\\:\\:updateBackendUser\\(\\) has parameter \\$beUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/ResourceResolver/AbstractResolver.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\ResourceResolver\\\\AbstractResolver\\:\\:updateFrontendUser\\(\\) has parameter \\$beUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/ResourceResolver/AbstractResolver.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\ResourceResolver\\\\DkfzResolver\\:\\:updateBackendUser\\(\\) has parameter \\$beUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/ResourceResolver/DkfzResolver.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\ResourceResolver\\\\DkfzResolver\\:\\:updateFrontendUser\\(\\) has parameter \\$feUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/ResourceResolver/DkfzResolver.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\ResourceResolver\\\\GitlabResolver\\:\\:updateBackendUser\\(\\) has parameter \\$beUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/ResourceResolver/GitlabResolver.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\ResourceResolver\\\\GitlabResolver\\:\\:updateFrontendUser\\(\\) has parameter \\$feUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/ResourceResolver/GitlabResolver.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\ResourceResolver\\\\XimaResolver\\:\\:updateBackendUser\\(\\) has parameter \\$beUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/ResourceResolver/XimaResolver.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\ResourceResolver\\\\XimaResolver\\:\\:updateFrontendUser\\(\\) has parameter \\$feUser with no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/ResourceResolver/XimaResolver.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\Tca\\\\TcaUtility\\:\\:getItemsForColorField\\(\\) has parameter \\$items with no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Tca/TcaUtility.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\Tca\\\\TcaUtility\\:\\:getItemsForColorField\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Tca/TcaUtility.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\Tca\\\\TcaUtility\\:\\:getRandomColor\\(\\) has no return type specified\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Tca/TcaUtility.php

		-
			message: "#^Property Xima\\\\XmDkfzNetSite\\\\Tca\\\\TcaUtility\\:\\:\\$colors type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/Tca/TcaUtility.php

		-
			message: "#^Attribute class JetBrains\\\\PhpStorm\\\\ArrayShape does not exist\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Cannot call method fetchAssociative\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 2
			path: packages/xm_dkfz_net_site/Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\BackendUserFactory\\:\\:createBasicBackendUser\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\BackendUserFactory\\:\\:findUserByUsernameOrEmail\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\BackendUserFactory\\:\\:getQueryBuilder\\(\\) has parameter \\$tableName with no type specified\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\BackendUserFactory\\:\\:persistAndRetrieveUser\\(\\) has parameter \\$userRecord with no type specified\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\BackendUserFactory\\:\\:persistAndRetrieveUser\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\BackendUserFactory\\:\\:persistAndRetrieveUser\\(\\) should return array\\|null but returns array\\<string, mixed\\>\\|false\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\BackendUserFactory\\:\\:persistIdentityForUser\\(\\) has parameter \\$userRecord with no type specified\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\BackendUserFactory\\:\\:registerRemoteUser\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/BackendUserFactory.php

		-
			message: "#^Attribute class JetBrains\\\\PhpStorm\\\\ArrayShape does not exist\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Cannot call method fetchAssociative\\(\\) on Doctrine\\\\DBAL\\\\Result\\|int\\.$#"
			count: 2
			path: packages/xm_dkfz_net_site/Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\FrontendUserFactory\\:\\:createBasicFrontendUser\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\FrontendUserFactory\\:\\:findUserByUsernameOrEmail\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\FrontendUserFactory\\:\\:getQueryBuilder\\(\\) has parameter \\$tableName with no type specified\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\FrontendUserFactory\\:\\:persistAndRetrieveUser\\(\\) has parameter \\$userRecord with no type specified\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\FrontendUserFactory\\:\\:persistAndRetrieveUser\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\FrontendUserFactory\\:\\:persistAndRetrieveUser\\(\\) should return array\\|null but returns array\\<string, mixed\\>\\|false\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\FrontendUserFactory\\:\\:persistIdentityForUser\\(\\) has parameter \\$userRecord with no type specified\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\FrontendUserFactory\\:\\:registerRemoteUser\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\UserFactory\\\\FrontendUserFactory\\:\\:updateFrontendUserSlug\\(\\) has parameter \\$userRecord with no type specified\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/UserFactory/FrontendUserFactory.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\ViewHelpers\\\\Format\\\\Json\\\\DecodeViewHelper\\:\\:initializeArguments\\(\\) has no return type specified\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/ViewHelpers/Format/Json/DecodeViewHelper.php

		-
			message: "#^Method Xima\\\\XmDkfzNetSite\\\\ViewHelpers\\\\Format\\\\Json\\\\DecodeViewHelper\\:\\:renderStatic\\(\\) has parameter \\$arguments with no value type specified in iterable type array\\.$#"
			count: 1
			path: packages/xm_dkfz_net_site/Classes/ViewHelpers/Format/Json/DecodeViewHelper.php
