:root {
    // size
    --css-icon-size: #{$css-icon-size};
    --scrollbar-width: 0;

    // timing
    --transition-time: #{$transition-time};

    // Colors
    @each $name, $value in $colors {
        --color-#{$name}: #{$value};
    }

    // Typography
    --font-family-serif: #{$font-family-serif};
    --font-family-sans-serif: #{$font-family-sans-serif};

    // Spacing / Dimensions
    --space-unit: 1rem;
    --space-xxs:  calc(0.25 * var(--space-unit));
    --space-xs:   calc(0.5 * var(--space-unit));
    --space-xs-negative:  calc(-0.5 * var(--space-unit));
    --space-sm:   calc(0.75 * var(--space-unit));
    --space-md:   calc(1.5625 * var(--space-unit));
    --space-lg:   calc(3.5 * var(--space-unit));
    --space-xl:   calc(4 * var(--space-unit));
    --space-xxl:  calc(5 * var(--space-unit));
    --space-16: calc(16 * var(--space-unit));
    --space-doubled: calc(2 * var(--space-unit));

    --content-width: 970px;
    --content-padding: 5rem;
    --dimension-default: calc(1.25 * var(--space-unit));
    --default-overflow-margin:  calc(7.188 * var(--space-unit));
    --default-overflow-margin-negative: 0;

    @include media-breakpoint-up(xl) {
        --default-overflow-margin-negative: calc(-7.188 * var(--space-unit));
    }
}

@each $name, $value in $colors {
    .color-accent--#{$name},
    // @TODO: Is this .image-color-* class needed?
    .image-color--#{$name} {
        --color-accent: #{$value};
        --pattern-url: url('data:image/svg+xml;utf8,<svg width="6" height="6" xmlns="http://www.w3.org/2000/svg"><path d="M-1.646,8.354L8.354,-1.646L7.646,-2.354L-2.354,7.646L-1.646,8.354ZM5.354,7.354L7.354,5.354L6.646,4.646L4.646,6.646L5.354,7.354ZM-0.646,1.354L1.354,-0.646L0.646,-1.354L-1.354,0.646L-0.646,1.354Z" style="fill:#{$value};"/></svg>');
    }

    // NOTE: AVOID THESE CLASSES
    .color--#{$name} {
        color: var(--color-#{$name});
    }

    .background--#{$name} {
        background-color: var(--color-#{$name});
    }

    .corner--#{$name}::after {
        background-color: var(--color-#{$name});
    }
}

// NOTE: BETTER USE THESE CLASSES
.color {
    color: var(--color-accent);
}

.background-color {
    background-color: var(--color-accent);
}

.background-pattern, .pattern {
    background-image: var(--pattern-url);
}

.frame-type-container-tabs,
.frame-type-container-accordion {
    --color-gray-white: var(--color-gray-100);
}

.frame-type-container-tabs,
.frame-type-container-accordion {
    --color-gray-white-reversed: var(--color-white);
}

// @TODO: Is this class needed anymore?
.background--expanded {
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        z-index: -1;
        width: calc(100vw - var(--scrollbar-width)); // @todo minus
        background-color: inherit;
        transform: translateX(-50%);
    }
}

// @TODO: Is there a better location for this class?
[class*="corner-"] {
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--color-white);
    }

    &::before {
        z-index: -1;
    }

    &::after {
        z-index: -2;
        transform: translate3d(-1rem, 1rem, 0);
        background-color: var(--color-accent);
    }

    &.corner--right::after {
        transform: translate3d(1rem, 1rem, 0);
    }
}
