//
//    @tableOfContent
//      1. Basic variables scss
//


//
//   @section 1. Basic variables scss
//

// sizes
$container-default-widths: 75rem; // 1170px;
$container-expand-widths: 98.75rem; // 1580px;
$container-md-widths: 60.625rem; // 960px;
$css-icon-size: .75rem;

// timing
$transition-time: 300ms;

// colors
$color-primary: rgb(0, 71, 185); // #0047b9;
$color-primary-opacity-10: rgb(229 236 248); // #0047b9 10%;
$color-primary-opacity-15: rgba(0, 71, 185, .85); // #0047b9 15%;
$color-secondary: #f00;
$color-cyan: rgb(0, 158, 227); // #009ee3
$color-blue-900: rgb(0, 24, 110); // #00186E;

$color-green: rgb(0, 153, 51); // #009933;
$color-green-light: rgb(160, 180, 0); // #a0b400;

$color-yellow: rgb(255, 214, 0); // #ffd600;
$color-orange: rgb(255, 92, 0); // #ff5c00;

$color-magenta: rgb(229, 0, 125); // #e5007D;
$color-purple: rgb(119, 70, 151); // #774697;

$color-gray-100: rgb(238, 238, 238); // #eee;
$color-gray-200: rgb(220, 220, 220); // #dcdcdc;
$color-gray-300: rgb(221, 221, 221); // #dddddd;
$color-gray-500: rgb(102, 102, 102); // #666;
$color-gray-700: rgb(153, 153, 153); // #999;
$color-gray-900: rgb(17, 17, 17); // #111;
$color-white: rgb(255, 255, 255); // #fff;
$color-black: #000;

$color-twitter: rgb(29, 161, 242); // 1DA1F2

// mark (e.g. autocomplete)
$mark-bg: $color-yellow;


    // typography
$font-family-serif: 'The Serif', serif;
$font-family-sans-serif: 'The Sans', sans-serif;

$h1: (
    font-size: 58px,
    line-height: 70px
);

$h2: (
    font-size: 44px,
    line-height: 50px
);

$h3: (
    font-size: 34px,
    line-height: 42px
);

$h4: (
    font-size: 24px,
    line-height: 32px
);

$h5: (
    font-size: 20px,
    line-height: 26px
);

$h6: (
    font-size: 18px,
    line-height: 24px
);

$font-base: (
    font-size: 16px,
    line-height: 24px
);

// paragraphs
$paragraph-margin-bottom: .625rem;

// end of basic-variables-scss.scss file
