<!-- Component Start: list -->

<div class="tags">{# @todo !!! vereinheitlichen und ordentlich benennen #}
    {% if title %}
        <h3 class="h6">{{ title }}</h3>
    {% endif %}
    <ul class="list list--inline">
        {% for item in items %}
            <li>
                <a href="#" class="button button--secondary">{{ item.text }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<!-- Components End: list -->
