//
//    @tableOfContent
//      1. List
//


//
//   @section 1. List
//

.list {
    @include list-reset;

    &--inline {
        display: flex;
        gap: .25rem;
    }
}

// @todo !!!
.tags {
    margin-bottom: 3rem;
}

// end of list.scss file
