//
//    @tableOfContent
//      1. Contact
//


//
//   @section 1. Contact
//

.contact {
    &--background {
        width: 25rem;
        background: var(--color-primary-opacity-10);
        padding: 2.5rem;
    }

    &__items {
        @include list-reset;
    }

    &__item {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }

        .icon {
            width: 1rem;
            height: 1rem;
        }

        >.contact__link {
            padding-left: .5rem;
            text-decoration: none;
        }
    }

    // contact width image
    &-image {
        &--container {
            display: flex;
            margin-left: 1rem;

            > .card {
                width: auto;
                margin: 0;
                padding: .5rem;
            }

            > .contact--information {
                margin-top: .25rem;
                margin-left: 1.5rem;

                >.contact__items {
                    .contact__item {
                        margin-bottom: .125rem;
                    }
                }
            }
        }
    }
}

// end of contact.scss file
