//
//    @tableOfContent
//      1. Fonts
//       1.1 The Serif
//       1.2 The Sans
//      2. Headlines
//      3. Hero headlines
//      4. Font styles
//      5. Text styles
//       5.1 Introtext
//       5.2 Copy standard
//       5.3 Copy small
//       5.4 Copy x small
//       5.5 Main navigation
//       5.6 Link
//


//
//   @section 1. Typography
//

// @section 1.1 The Serif
@font-face {
    font-family: 'The Serif';
    font-weight: 700;
    font-style: normal;
    src: url('./assets/fonts/the-serif/the-serif--bold.woff2') format('woff2');
}

// @section 1.2 The Sans
@font-face {
    font-family: 'The Sans';
    font-weight: 200;
    font-style: normal;
    src: url('./assets/fonts/the-sans/the-sans--light.woff2') format('woff2');
}

@font-face {
    font-family: 'The Sans';
    font-weight: 300;
    font-style: normal;
    src: url('./assets/fonts/the-sans/the-sans--plain.woff2') format('woff2');
}

@font-face {
    font-family: 'The Sans';
    font-weight: 500;
    font-style: normal;
    src: url('./assets/fonts/the-sans/the-sans--semi-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'The Sans';
    font-weight: 700;
    font-style: normal;
    src: url('./assets/fonts/the-sans/the-sans--bold.woff2') format('woff2');
}


//
//   @section 2. Headlines
//

.h1,
h1 {
    font-family: $font-family-serif;
    font-size: map-get($h1, 'font-size');
    line-height: map-get($h1, 'line-height');
}

.h2,
h2 {
    font-family: $font-family-serif;
    font-size: map-get($h2, 'font-size');
    line-height: map-get($h2, 'line-height');
}

.h3,
h3 {
    font-family: $font-family-serif;
    font-size: map-get($h3, 'font-size');
    line-height: map-get($h3, 'line-height');
}

.h4,
h4 {
    font-family: $font-family-serif;
    font-size: map-get($h4, 'font-size');
    line-height: map-get($h4, 'line-height');
}

.h5,
h5 {
    font-family: $font-family-serif;
    font-size: map-get($h5, 'font-size');
    line-height: map-get($h5, 'line-height');
}

.h6,
h6 {
    font-family: $font-family-serif;
    font-size: map-get($h6, 'font-size');
    line-height: map-get($h6, 'line-height');
}

.font-base {
    font-family: $font-family-serif;
    font-size: map-get($font-base, 'font-size');
    line-height: map-get($font-base, 'line-height');
}


//
//   @section 3. Hero headlines
//

.hero-headline {
    display: flex;
    align-items: center;

    &__title {
        margin-top: 1rem;
        margin-bottom: 0;
        margin-left: -5rem;
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
    }

    &__image {
        order: -1;
        flex: 0 0 50%;
        width: 50%;
    }

    &--with-image {
        align-items: flex-start;
    }
}


//
//   @section 4. Font styles
//

.font-family-serif {
    font-family: var(--font-family-serif);
}

.font-family-sans-serif {
    font-family: var(--font-family-sans-serif);
}


//
//   @section 5. Text styles
//

// @section 5.1 Introtext
@mixin text-intro {
    font-family: var(--font-family-sans-serif);
    font-size: 24px;
    line-height: 38px;
    font-weight: 200;
}

.text-intro {
    @include text-intro;
}

// @section 5.2 Copy standard
@mixin text-copy-standard ($font-weight: false, $letter-spacing: false) {
    font-family: var(--font-family-sans-serif);
    font-size: 18px;
    line-height: 30px;

    @if $font-weight {
        font-weight: $font-weight;
    }

    @if $letter-spacing {
        font-weight: $letter-spacing;
    }
}


.text-copy-standard {
    @include text-copy-standard;

    &--bold {
        @include text-copy-standard(700, .3px);
    }
}

// @section 5.3 Copy small
@mixin text-copy-small ($font-weight: false, $letter-spacing: false) {
    font-family: var(--font-family-sans-serif);
    font-size: 16px;
    line-height: 24px;

    @if $font-weight {
        font-weight: $font-weight;
    }

    @if $letter-spacing {
        font-weight: $letter-spacing;
    }
}


.text-copy-small {
    @include text-copy-small;

    &--bold {
        @include text-copy-small(700, .6px);
    }
}

// @section 5.4 Copy x small
@mixin text-copy-x-small ($font-weight: false, $letter-spacing: false) {
    font-family: var(--font-family-sans-serif);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .6px;

    @if $font-weight {
        font-weight: $font-weight;
    }

    @if $letter-spacing {
        font-weight: $letter-spacing;
    }
}


.text-copy-x-small {
    @include text-copy-x-small;

    &--bold {
        @include text-copy-x-small(700, .6px);
    }
}

// @section 5.5 Main navigation
@mixin text-main-navi {
    font-family: var(--font-family-sans-serif);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .3px;
}

// @section 5.6 Link
@mixin link-primary {
    font-family: var(--font-family-sans-serif);
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

@mixin link-secondary {
    font-family: var(--font-family-sans-serif);
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 1.2px;
}


// end of typography.scss file
