//
//    @tableOfContent
//      1. Tabs
//


//
//   @section 1. Tabs
//

.nav {
    &-tabs {
        border-bottom: 1px solid var(--color-gray-900);
    }

    &-item {
        & > .nav-link {
            width: 100%;
            color: var(--color-gray-900);
            border: none;
            @include text-copy-small(900);

            @include media-breakpoint-up(lg) {
                @include text-copy-standard(900);
            }


            &.active {
                color: var(--color-gray-900);
                border-bottom: 3px solid var(--color-gray-900);
            }

            &:hover,
            &:focus {
                cursor: pointer;
                color: var(--color-white);
                background: var(--color-gray-900);
                border-bottom: 3px solid var(--color-gray-900);
            }
        }
    }
}

.tab {
    &-content {
        background: var(--color-gray-100);
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
    }

    &-pane {
        padding: 2rem 0;
        max-width: var(--content-width);
        margin: auto;

        .frame {
            background: transparent;
            box-shadow: none;
        }
    }

    &-title:not(:first-child) {
        padding-top: 2rem;
    }

    &-item {
        &__wrapper {
            width: 100%;
            border-bottom: 1px solid var(--color-gray-100);
            padding: .625rem;
            margin: 1rem auto 1.5rem;

            @include media-breakpoint-up(lg) {
                padding: 1.2rem;
            }


            &--background {
                &-white {
                    background: var(--color-white);
                    margin: auto;

                    .tab-item__type {
                        background: var(--color-gray-100);
                    }
                }

                &-gray-100 {
                    background: var(--color-gray-100);

                    .tab-item__type {
                        background: var(--color-white);
                    }
                }
            }

            &--active {
                z-index: 1;
                box-shadow: 0 24px 32px 0 var(--color-black);
            }
        }

        &__title {
            display: inline-flex;
            align-items: center;

            @include media-breakpoint-down(md) {
                margin-bottom: .5rem;
            }

            .icon {
                margin-right: 1rem;
            }

            h6 {
                @include text-copy-small(200);
                margin-bottom: 0;
            }
        }

        &__detail {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__type {
            padding: .25rem .5rem .125rem .5rem;
            border-radius: .625rem;
            text-transform: uppercase;
            color: var(--color-gray-500);
            @include text-copy-xs-small(700, .5px);
        }

        &__size {
            text-transform: uppercase;
            color: var(--color-gray-500);
            @include text-copy-xs-small;
        }

        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            border: none;
            background: transparent;

            &:hover {
                cursor: pointer;
                color: var(--color-white);
                background: var(--color-gray-900);
                border-radius: 50%;
            }
        }
    }
}


// end of tabs.scss file
