//
//    @tableOfContent
//      1. Content wrapper
//


//
//   @section 1. Content wrapper
//

.content-wrapper {

    &:not(:first-of-type) {
        margin-top: var(--space-xxl);
    }

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $container-default-widths;
        margin: 0 auto 2.5rem; // .75rem;
        padding-bottom: .375rem;
    }

    &__title {
        margin-bottom: .25rem;
    }

    &__pattern {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: .5rem;
    }

    &__link {
        @include link-secondary-with-arrow;
    }

    &--sm {
        .content-wrapper {
            &__title {
                @include h5;

                margin-bottom: .5rem;
            }
        }
    }

    &--md {
        max-width: $container-md-widths;
        margin: auto;
    }

    &__horizontal {
        @include media-breakpoint-up(lg) {
            display: flex;
            max-width: $container-default-widths;
            margin: 1.875rem auto .75rem;
        }

        & > .card {
            padding-right: 1rem;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &__picture {
        //max-width: $container-default-widths;
        max-width: 69.125rem;
        margin: auto;

        &-position {
            &-left {
                .picture {
                    float: left;
                    clear: both;

                    &--orientation {
                        &-md {
                            &-square {
                                width: 100%;

                                @include media-breakpoint-up(md) {
                                    flex: 0 0  27.5rem;
                                    width: 27.5rem;
                                    margin-right: 4.8rem;
                                }
                            }

                            &-rectangle {
                                width: 100%;

                                @include media-breakpoint-up(md) {
                                    flex: 0 0 18.125rem;
                                    width: 18.125rem;
                                    margin-left: 4rem;
                                    margin-right: 10rem;
                                }
                            }
                        }

                        &-sm {
                            &-square {
                                width: 100%;

                                @include media-breakpoint-up(md) {
                                    flex: 0 0 18.75rem;
                                    width: 18.75rem;
                                    margin-left: 4rem;
                                    margin-right: 10rem;
                                }
                            }

                            &-rectangle {
                                width: 100%;

                                @include media-breakpoint-up(md) {
                                    flex: 0 0 12.5rem;
                                    width: 12.5rem;
                                    margin-left: 7rem;
                                    margin-right: 13rem;
                                }
                            }
                        }

                    }

                    &__caption {
                        margin-bottom: 0;
                    }
                }

                .--content {
                    max-width: $container-md-widths;
                    margin-left: auto;
                }
            }

            &-right {
                .picture {
                    float: right;
                    clear: both;

                    &--orientation {
                        &-md {
                            &-square {
                                width: 100%;

                                @include media-breakpoint-up(md) {
                                    flex: 0 0 27.5rem;
                                    width: 27.5rem;
                                    margin-left: 4.8rem;
                                }
                            }

                            &-rectangle {
                                width: 100%;

                                @include media-breakpoint-up(md) {
                                    flex: 0 0 18.125rem;
                                    width: 18.125rem;
                                    margin-right: 4rem;
                                    margin-left: 10rem;
                                }
                            }
                        }

                        &-sm {
                            &-square {
                                width: 100%;

                                @include media-breakpoint-up(md) {
                                    flex: 0 0 18.75rem;
                                    width: 18.75rem;
                                    margin-right: 4rem;
                                    margin-left: 10rem;
                                }
                            }

                            &-rectangle {
                                width: 100%;

                                @include media-breakpoint-up(md) {
                                    flex: 0 0 12.5rem;
                                    width: 12.5rem;
                                    margin-right: 7rem;
                                    margin-left: 13rem;
                                }
                            }
                        }
                    }

                    &__caption {
                        margin-bottom: 0;
                    }
                }

                .--content {
                    max-width: $container-md-widths;
                    margin-right: auto;
                }
            }
        }

        .--title {
            @include h4;
            margin: 1rem 0;
        }

        .--text {
            @include text-copy-standard();
        }
    }

    &__content-text {
        p  {
            padding-bottom: 1rem;

            > a {
                text-decoration: underline;

                &:hover {
                    box-shadow: inset 0 -2px 0 0 var(--color-black);
                    text-decoration: none;
                }
            }

        }
    }

    &.frame-type-textmedia {
        +.frame-type-textmedia {
            margin-top: var(--space-xl);
            margin-bottom: 0;
        }
    }

    &.frame-type-infobox {
        +.frame-type-infobox {
            margin-top: var(--space-lg);
            margin-bottom: 0;
        }
    }

    &.frame-type-heroteaser {
        margin-bottom: var(--space-md);
    }

    &.frame-type-serviceSlider {
        background-color: rgba($color-cyan, .75);
        width: 100vw;

        +.frame-type-serviceSlider {
            margin-top: 0;
            padding-top: 0;
        }

        .content-wrapper {
            &__content {
                max-width: $container-default-widths + 2rem;

                .card {
                    &__header,
                    &__text {
                        color: $black;
                    }
                }
            }

            &__header {
                margin: 0 auto .75rem;
                padding: 0;
            }
        }
    }
}

.head-area {
    &--picture {
        position: relative;
    }
}


.frame {
    width: 100%;
    background-color: var(--color-white);
    box-shadow: 0 var(--space-xl) 0 var(--space-xxl) var(--color-white);

    .background--image + & {
        box-shadow: 0 var(--space-xxl) 0 var(--space-xxl) var(--color-white);
        margin-top: 0;
        padding-top: var(--space-xxl);
    }

    &.frame-type-container-accordion {
        box-shadow: none;
    }
}

.main--default {

    .frame-type-heroteaser {
       width: 1200px;
        max-width: 1200px;
    }

    .frame-type-textmedia {
        width: 1200px;
        max-width: 1200px;
    }

    .frame-type-accordion {
        width: 1200px;
        max-width: 1200px;
    }

    .frame-type-table {
        width: 1200px;
        max-width: 1200px;
    }
}
// end of content-wrapper.scss file
