//
//    @tableOfContent
//      1. Debug screenshot
//


//
//   @section 1. Debug screenshot
//

.debug-screenshot {
    opacity: var(--debug-screenshot-opacity);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 49; // @todo -1 von gridlines
    background-position: 50% var(--debug-screenshot-position);
    background-repeat: no-repeat;
    pointer-events: none;
}

// end of debug-screenshot.scss file
