//
//    @tableOfContent
//      1. Hero form
//


//
//   @section 1. Hero form
//

body#p8, body#p111 {
    --content-width: 1200px;
}
#c175 {
    --content-width: 800px;
}

.frame-ke_search_pi2 {

    .layout__item--two {

        @include media-breakpoint-down(md) {
            grid-template-columns: unset;
        }

        .results {
            @include media-breakpoint-down(md) {
                padding-top: var(--content-padding);;
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding-top: 0;
    }

    .list-view__item {
        a {
            &:hover {
                text-decoration: none;

                .card__title .tab__item__title {
                    text-decoration: underline;
                }
            }
        }

        .card__tags {
            margin-top: calc(.5 * var(--content-padding));
        }
    }
}

.frame-ke_search_pi1 {
    @include media-breakpoint-down(md) {
        padding-bottom: 0;
    }
}

.hero-form {
    --color-primary: #2662c3;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: $container-default-widths + 2rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5rem;
    background-color: var(--color-primary);
    color: var(--color-white);

    @include media-breakpoint-up(md) {
        padding: 3rem 5rem;
    }

    @include media-breakpoint-up(xl) {
        padding: 5rem 7rem;
    }

    &__title {
        margin-bottom: 0;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }

    + .results {
        margin-top: -10rem;
        padding-top: 13rem;
    }

    .field:not(.fx--focus) {

        position: relative;

        &:after {
            content: '';
            display: block;
            width: 15px;
            height: 100%;
            background-image: linear-gradient(90deg, transparent, var(--color-primary));
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1000;
        }
    }

    &__wrapper {
        --color-primary: #2662c3;
        background-color: var(--color-primary);
        color: var(--color-white);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__filter-button {
        display: block;
        background-color: var(--color-primary);
        color: white;
        display: flex;

        svg {
            width: 12px;
        }

        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}

.hero-form--search {

    .search__button {
        position: absolute;
        right: 0;
        background: transparent;
        color: var(--color-white);
    }

}

.layout__item--two {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--space-xxl);

    .results {
        padding-top: 0;
        grid-template-columns: 1fr !important;

        &__title {
            margin-bottom: 0;
        }

        &--search {
            .list-view__item {
                border-bottom: 1px solid var(--color-gray-300);

                &:last-child {
                    border-bottom: 0;
                }
            }

            .card {
                padding: 2rem 0;

                &__tag {
                    @include text-copy-x-small;
                    color: var(--color-gray-500);

                    &:not(:last-child)::after {
                        content: '/';
                    }
                }

                &__title {
                    font-size: 20px;
                    line-height: 26px;
                }

                &__header {
                    .card__sub-title {
                        order: 1;
                        margin-bottom: var(--space-unit);
                    }

                    .card__title {
                        hyphens: auto;
                        word-break: break-word;
                        order: 2;
                    }
                }

                &__text {
                    p {
                        margin-bottom: 0;
                        hyphens: auto;
                    }
                }
            }

            .tab-item {
                &__type {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    gap: 9px;
                    line-height: 17px;

                    &--icon {
                        line-height: 0;
                    }

                    .icon {
                        width: 15px;
                        height: 15px;
                        font-size: 15px;
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }
}

// end of hero-form.scss file
