//
//    @tableOfContent
//      1. Hero form
//


//
//   @section 1. Hero form
//

.hero-form {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: $container-default-widths + 2rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5rem;
    background-color: var(--color-primary);
    color: var(--color-white);

    @include media-breakpoint-up(md) {
        padding: 3rem 5rem;
    }

    &__title {
        margin-bottom: 0;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }

    + .results {
        margin-top: -10rem;
        padding-top: 13rem;
    }

    &--search {
        max-width: $container-md-widths - 10rem;
        background-color: var(--color-primary-opacity-15);

        @include media-breakpoint-up(md) {
            padding: 3.5rem 6rem;
        }

        .field--text {
            .field__label {
                opacity: 1;
            }
        }

        .search {
            &__button {
                position: absolute;
                top: 5rem;
                right: 6rem;
                background: transparent;
                color: var(--color-white);
            }
        }
    }
}

//@todo auslagen

.layout__item--two {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--space-xxl);

    .results {
        padding-top: 0;
        grid-template-columns: 1fr !important;

        &--search {
            .list-view__item {
                border-bottom: 1px solid var(--color-gray-300);

                &:last-child {
                    border-bottom: 0;
                }
            }
            .card {
                padding: 2rem 0;

                &__tag {
                    @include text-copy-x-small;
                    color: var(--color-gray-500);

                    &:not(:last-child)::after {
                        content: '/';
                    }
                }
            }
        }
    }
}

// end of hero-form.scss file
