<!-- Component Start: tooltip -->

<div class="tooltip-wrapper">
    <p>
        <span data-tooltip="Tool time" data-tooltip-placement="bottom-start">
            ich bin ein tooltip
        </span>
    </p>

    <p>
        <span data-tooltip="Here we go">
            noch ein Tooltip
        </span>
    </p>

    <button data-tooltip="Inhalte filtern" data-tooltip-placement="bottom-end">Button</button>
</div>


<!-- Components End: tooltip -->
