//
//    @tableOfContent
//      1. Tooltip
//


//
//   @section 1. Tooltip
//

[data-tippy-root] {
    .tippy {
        &-box {
            background-color: var(--color-black);
            border-radius: .125rem;
        }

        &-content {
            padding: .375rem;
            @include text-copy-xxs-small(200,.8px);
        }

        &-arrow {
            color: var(--color-black);
        }
    }
}

// end of tooltip.scss file
