//
//    @tableOfContent
//      1. Language switcher
//


//
//   @section 1. Language switcher
//

.language-switcher {
    position: relative;
    margin-left: -.5rem; // @todo eventuell eher am header__left

    &__items {
        @include list-reset;

        display: flex;
    }

    //&__item {  }

    &__link {
        @include size(2rem);
        @include font-header-meta;

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .25rem;
        color: inherit;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 3rem;

        &::after {
            opacity: 0;
            content: '';
            position: absolute;
            right: .5rem;
            bottom: .25rem;
            left: .5rem;
            height: 1px;
            background-color: var(--color-white);
            transform: translate3d(0, .25rem, 0);
            transition: opacity $transition-time * .5, transform $transition-time * .5;
        }

        &:hover,
        &:focus,
        &.fx--active {
            color: inherit;
            text-decoration: none;

            &::after {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        &.fx--blocked {
            cursor: not-allowed;
        }

        &.fx--active {
            &:hover,
            &:focus {
                &::after {
                    opacity: 0;
                    transform: translate3d(0, .25rem, 0);
                }
            }
        }
    }
}

// end of language-switcher.scss file
