//
//    @tableOfContent
//      1. Contact
//


//
//   @section 1. Contact
//

.contact {
    &--background {
        width: 100%;
        background: var(--color-primary-opacity-10);
        padding: 2.5rem 2.5rem 1rem;
        margin-bottom: 1rem;

        @include media-breakpoint-up(md) {
            width: 25rem;
        }
    }

    &__items {
        @include list-reset;
        margin-bottom: 1.5rem;
    }

    &__item {
        .icon {
            width: 1rem;
            height: 1rem;
        }

        .contact__link {
            padding-left: .5rem;
        }

        a[href^="mailto:"] {
            text-decoration: underline;
        }
    }

    &--subtitle {
        @include text-copy-small(700);
        margin-bottom: .5rem;
    }

    // contact width image
    &-image {
        &--container {
            display: flex;
            margin-left: 1rem;

            > .card {
                width: auto;
                margin: 0;
                padding: .5rem;
            }

            > .contact--information {
                margin-top: .25rem;
                margin-left: 1.5rem;

                >.contact__items {
                    .contact__item {
                        margin-bottom: .125rem;
                    }
                }
            }
        }
    }

    // contact width person
    &--person {
        &-container {
            display: flex;
            .card {
                margin-left: 0;
                margin-right: 0;
                padding-bottom: 0;
            }

            .contact--information {
                margin-top: 1.5rem;

                h6 {
                    font-family: $font-family-sans-serif;
                    font-weight: 200;
                }
            }
        }
    }

    // contact right on the picture
    &--right {
        @include media-breakpoint-up(md) {
            position: absolute;
            top: 20rem;
            right: 0;
            z-index: 1;
        }

        @include media-breakpoint-up(lg) {
            top: 30rem;
        }
    }
}

// end of contact.scss file
