<!-- Component Start: logo -->

<a class="logo" href="{{ prototype.links.startpage }}">
    <img class="logo__image" src="../../dist/image/logo/logo.svg" alt="DKFZ Logo">
</a>

<!-- Components End: logo -->
