//
//    @tableOfContent
//      1. Quote
//


//
//   @section 1. Quote
//

.quote {
    position: relative;
    margin: 2rem 0 3rem;
    padding: 1rem;
    background-color: var(--color-white);

    //&__content {  }

    &__pattern {
        position: absolute;
        top: -1rem;
        right: -7rem; // @todo variable, siehe image
        bottom: -1rem;
        left: -7rem; // @todo variable, siehe image
        z-index: -1;
    }
}

// end of quote.scss file
