//
//    @tableOfContent
//      1. Quote
//


//
//   @section 1. Quote
//

.quote {
    display: grid;
    text-align: center;

    &__pattern {
        grid-column: 1/2;
        grid-row:1/2;
        margin-top: -2rem;
        margin-bottom: 4rem;
        margin-left: -7rem;
        margin-right: -7rem;
    }

    &__body {
        grid-column: 1/2;
        grid-row:1/2;
        margin-bottom: 6rem;
        background-color: var(--color-white);
    }

    &__content {
        position: relative;
        line-height: 36px;
        padding: 3.3rem 6rem 0rem;

        &:before {
            position: absolute;
            content: open-quote;
            font-size: 25rem;
            margin-top: -6rem;
            margin-left: 40%;
            transform: translateX(-50%);
            color: var(--color-cyan);
            opacity: .2;
        }
    }
    &__caption{
        margin-bottom: 3.3rem;
    }

    &__cite {
        font-style: normal;
        @include text-copy-standard(700, .3);

        span {
            @include text-copy-standard(200, .3);
        }
    }
}

// end of quote.scss file
