<!-- Component Start: breadcrumb -->

<nav class="breadcrumb__wrapper" aria-label="Brotkrumen-Navigation">
    <ul class="breadcrumb">
        {% for item in prototype.breadcrumb %}
            {% if loop.last %}
                <li>
                    <a class="breadcrumb__link" href="#" aria-current="location">{{ item.title }}</a>
                </li>
            {% else %}
                <li>{{ item.title }}
                    {% include '@components/icon/icon.twig' with {icon: 'chevron-right'} %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>

<!-- Components End: breadcrumb -->
