$sprites: (
    'arrow-down': "../Icon/icon.min.svg#icon-arrow-down",
    'arrow-left': "../Icon/icon.min.svg#icon-arrow-left",
    'arrow-right': "../Icon/icon.min.svg#icon-arrow-right",
    'bookmark-add': "../Icon/icon.min.svg#icon-bookmark-add",
    'bookmark-delete': "../Icon/icon.min.svg#icon-bookmark-delete",
    'bookmark': "../Icon/icon.min.svg#icon-bookmark",
    'calendar': "../Icon/icon.min.svg#icon-calendar",
    'chevron-down': "../Icon/icon.min.svg#icon-chevron-down",
    'chevron-left': "../Icon/icon.min.svg#icon-chevron-left",
    'chevron-right': "../Icon/icon.min.svg#icon-chevron-right",
    'close': "../Icon/icon.min.svg#icon-close",
    'copyright': "../Icon/icon.min.svg#icon-copyright",
    'delete-bin': "../Icon/icon.min.svg#icon-delete-bin",
    'download': "../Icon/icon.min.svg#icon-download",
    'emergency': "../Icon/icon.min.svg#icon-emergency",
    'external-link': "../Icon/icon.min.svg#icon-external-link",
    'facebook': "../Icon/icon.min.svg#icon-facebook",
    'file': "../Icon/icon.min.svg#icon-file",
    'instagram': "../Icon/icon.min.svg#icon-instagram",
    'linkedin': "../Icon/icon.min.svg#icon-linkedin",
    'location-pin': "../Icon/icon.min.svg#icon-location-pin",
    'location': "../Icon/icon.min.svg#icon-location",
    'mail': "../Icon/icon.min.svg#icon-mail",
    'map': "../Icon/icon.min.svg#icon-map",
    'menu': "../Icon/icon.min.svg#icon-menu",
    'message': "../Icon/icon.min.svg#icon-message",
    'minus': "../Icon/icon.min.svg#icon-minus",
    'option': "../Icon/icon.min.svg#icon-option",
    'person-add': "../Icon/icon.min.svg#icon-person-add",
    'person-remove': "../Icon/icon.min.svg#icon-person-remove",
    'phone': "../Icon/icon.min.svg#icon-phone",
    'play': "../Icon/icon.min.svg#icon-play",
    'plus': "../Icon/icon.min.svg#icon-plus",
    'printer': "../Icon/icon.min.svg#icon-printer",
    'search': "../Icon/icon.min.svg#icon-search",
    'twitter': "../Icon/icon.min.svg#icon-twitter",
    'user-plus': "../Icon/icon.min.svg#icon-user-plus",
    'youtube': "../Icon/icon.min.svg#icon-youtube"
);

$sizes: (
    'arrow-down': (
        'width': 24px,
        'height': 24px
    ),
    'arrow-left': (
        'width': 24px,
        'height': 24px
    ),
    'arrow-right': (
        'width': 24px,
        'height': 24px
    ),
    'bookmark-add': (
        'width': 24px,
        'height': 24px
    ),
    'bookmark-delete': (
        'width': 24px,
        'height': 24px
    ),
    'bookmark': (
        'width': 24px,
        'height': 24px
    ),
    'calendar': (
        'width': 19.111px,
        'height': 22px
    ),
    'chevron-down': (
        'width': 24px,
        'height': 24px
    ),
    'chevron-left': (
        'width': 24px,
        'height': 24px
    ),
    'chevron-right': (
        'width': 24px,
        'height': 24px
    ),
    'close': (
        'width': 24px,
        'height': 24px
    ),
    'copyright': (
        'width': 24px,
        'height': 24px
    ),
    'delete-bin': (
        'width': 24px,
        'height': 24px
    ),
    'download': (
        'width': 24px,
        'height': 24px
    ),
    'emergency': (
        'width': 24px,
        'height': 24px
    ),
    'external-link': (
        'width': 24px,
        'height': 24px
    ),
    'facebook': (
        'width': 24px,
        'height': 24px
    ),
    'file': (
        'width': 24px,
        'height': 24px
    ),
    'instagram': (
        'width': 24px,
        'height': 24px
    ),
    'linkedin': (
        'width': 24px,
        'height': 24px
    ),
    'location-pin': (
        'width': 24px,
        'height': 24px
    ),
    'location': (
        'width': 24px,
        'height': 24px
    ),
    'mail': (
        'width': 24px,
        'height': 24px
    ),
    'map': (
        'width': 24px,
        'height': 22px
    ),
    'menu': (
        'width': 24px,
        'height': 24px
    ),
    'message': (
        'width': 24px,
        'height': 24px
    ),
    'minus': (
        'width': 24px,
        'height': 24px
    ),
    'option': (
        'width': 20px,
        'height': 20px
    ),
    'person-add': (
        'width': 24px,
        'height': 24px
    ),
    'person-remove': (
        'width': 24px,
        'height': 24px
    ),
    'phone': (
        'width': 24px,
        'height': 24px
    ),
    'play': (
        'width': 20px,
        'height': 20px
    ),
    'plus': (
        'width': 24px,
        'height': 24px
    ),
    'printer': (
        'width': 24px,
        'height': 24px
    ),
    'search': (
        'width': 24px,
        'height': 24px
    ),
    'twitter': (
        'width': 24px,
        'height': 24px
    ),
    'user-plus': (
        'width': 20px,
        'height': 16.667px
    ),
    'youtube': (
        'width': 24px,
        'height': 24px
    )
);

$variables: (
    /* EMPTY */
);

// https://github.com/waldemarfm/sass-svg-uri/blob/v1.0.0/_svg-uri.scss
@function sprite-str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if type-of($replace) == 'null' {
        $replace: '';
    }

    @if ( $index ) {
        @return str-slice($string, 1, $index - 1) + $replace + sprite-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function sprite-svg-uri($value) {
    $output: $value;

    $output: sprite-str-replace($output, '"', "'");
    $output: sprite-str-replace($output, '<', '%3C');
    $output: sprite-str-replace($output, '>', '%3E');
    $output: sprite-str-replace($output, '&', '%26');
    $output: sprite-str-replace($output, '#', '%23');

    @return $output;
}

@mixin sprite($name, $user-variables: (), $include-size: false) {
    $sprite: map-get($sprites, $name);

    // Inject variables
    $default-variables: map-get($variables, $name);
    @if type-of($default-variables) == 'map' {
        @each $key, $value in map-merge($default-variables, $user-variables) {
            @if ( not map-has-key($default-variables, $key) ) {
                @warn 'Sprite \'#{$name}\' does not support variable named \'#{$key}\'';
            }

            $sprite: sprite-str-replace($sprite, '___#{$key}___', sprite-svg-uri(quote(#{$value})));
        }
    } @else if type-of($user-variables) == 'map' {
        @warn 'Sprite \'#{$name}\' does not contain any variables';
    }

    background: url($sprite) center no-repeat;

    @if $include-size {
        $size: map-get($sizes, $name);
        @if $include-size == true {
            background-size: map-get($size, width) map-get($size, height);
        } @else if $include-size == 'box' {
            width: map-get($size, width);
            height: map-get($size, height);
        }
    }
}
