.container-accordion-title {
	background-color: #eaeaea;
	padding: 5px 7px;
	margin: 10px;
	display: block;
	transition: background-color 0.3s ease;
}

.container-accordion-title .icon-actions-chevron-up {
	transition: transform 0.3s ease;
}

.container-accordion-title:hover {
	background-color: #d0d0d0;
}

.container-accordion-title:not(.container-accordion--open) ~ div {
	max-height: 0;
	overflow: hidden;
	min-height: 0;
	margin: 0;
	transition: max-height 0.3s ease;
}

.container-accordion-title.container-accordion--open .icon-actions-chevron-up {
	transform: rotate(180deg);
}

.accordion-container-start > .chevron-icon {
	display: none;
}

.accordion-container-start + .t3-grid-container .t3-page-column-header-icons {
	display: none;
}

.accordion-container-start + .t3-grid-container table tr {
	display: none;
}

.accordion-container-start + .t3-grid-container table tr.visible {
	display: table-row;
}
