//
//    @tableOfContent
//      1. Accordion
//


//
//   @section 1. Accordion
//

.accordion {
    margin-bottom: 2rem;
    counter-reset: section;

    &__items {
        position: relative;
        padding-top: 2rem;
        padding-left: 0;
        list-style-type: none;

        &--title {
            display: flex;
            counter-reset: subsection;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid var(--color-gray-100);

            &:before {
                counter-increment: section;
                content: counter(section) ". ";
                padding-right: .5rem;
            }
        }

        &--subtitle {
            margin-bottom: 0;
        }
    }

    &__item {
        padding-left: 0;
        list-style-type: none;
    }

    &-button {
        padding-left: 0;
        border-bottom: 1px solid #dddddd;

        &[aria-expanded="true"] {
            border-bottom: 3px solid var(--color-gray-900);
        }

        &::after {
            background-image: url(map-get($sprites, 'plus'));
        }

        &:not(.collapsed) {
            color: inherit;
            background: transparent;

            &::after {
                background-image: url(map-get($sprites, 'minus'));
            }
        }

        &:before {
            counter-increment: subsection;
            content: counter(section) "." counter(subsection) " ";
            padding-right: .5rem;
        }

        &--description {
            font-family: $font-family-sans-serif;
        }
    }

    &-body {
        position: relative;
        padding: 2rem 0;
        background: var(--color-gray-100);
    }

    .icon {
        &:before {
            @include size(1rem);
            margin-right: .5rem;
        }

    }
}


// end of accordion.scss file
