//
//    @tableOfContent
//      1. Video player
//


//
//   @section 1. Video player
//

.video-player {
    position: relative;
    max-width: 60.625rem;
    margin: auto;

    &__button {
        &--play {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate3d(-50%, -50%, 0);
        }
    }

    &__iframe {
        @include size(100%);

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
}

// end of video-player.scss file

