//
//    @tableOfContent
//      1. Disruptor
//      2. Lightbox warning
//


//
//   @section 1. Disruptor
//
.disruptor-wrapper {
    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        //background: rgb(17, 17, 17);
        //background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, .1) 100%);
        background: $color-gray-200;
        padding: .5rem;
        z-index: 100;
        animation: opacityIn 0.4s ease;
    }

    &--content {
        max-width: $container-default-widths;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto;

        @include media-breakpoint-up(md) {
            grid-template-columns: auto 1fr;
        }

        .disruptor__title,
            p {
            @include text-copy-x-small;
            margin-bottom: 0;
        }

        .disruptor {
            &__title {
                letter-spacing: 1.2px;
                margin-right: .5rem;
                padding: 0 .25rem;
                background: $color-secondary;
                max-height: 2.5rem;

                @include media-breakpoint-down(md) {
                    max-width: fit-content;
                }
            }
        }
    }
}

//
//   @section 2. Lightbox warning
//

.lightbox {
    &--warning {
        .lightbox {
            &__content {
                padding-left: var(--space-unit);
                padding-top: 0;
                padding-bottom: 0;

                .infobox {
                    padding-top: var(--space-lg);
                    padding-bottom: var(--space-xl);

                    p {
                        @include text-copy-standard;
                        strong {
                            letter-spacing: .3px;
                        }
                    }
                }
            }

            &__close {
                padding-top: calc(10px + var(--space-xxl));
            }
        }
    }
}

// when disruptor is fixed at the top
.lightbox-style-warning,
.modal-disruptor-fixed {
    .header {
        @include media-breakpoint-up(lg) {
            padding-top: 8rem;
        }

        &__meta {
            top: 6rem;

            @include media-breakpoint-up(sm) {
                top: 4rem;
            }

            @include media-breakpoint-up(md) {
                top: 3rem;
            }
        }
    }
}


// end of disruptor.scss file
