<f:layout name="Administration/Default"/>

<f:section name="main">

	<h1>Password refresh</h1>

	<f:if condition="{updated}">
		<div class="typo3-messages">
			<div class="alert alert-success">
				<div class="media">
					<div class="media-body">
						<p class="alert-message">{updated} user passwords have been updated.</p>
					</div>
				</div>
			</div>
		</div>
	</f:if>

	<h3>Set new passwords</h3>

	<f:form action="passwordRefresh" name="passwordRefresh" arguments="{refresh: '1'}" method="POST">
		<div class="form-group">
			<div class="form-section">
				<div class="form-group">
					<label>New password field:</label>

					<input type="hidden" name="passwordField" value="1"/>
					<div class="form-control-wrap">
						<p>ZIP field</p>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group">
				<input type="submit" class="btn btn-default" value="Update Passwords"/>
			</div>
		</div>
	</f:form>

	<h3>{users->f:count()} Users</h3>

	<ul>
		<f:for each="{users}" as="user">
			<li>
				{user.company}: {user.zip}
			</li>
		</f:for>
	</ul>


</f:section>
