//
//    @tableOfContent
//      1. Button default
//      2. Button primary
//      3. Button secondary
//      4. Button white
//      5. Button with icon only
//      6. Button round
//


//
//   @section 1. Button default
//

.button {
    position: relative;
    display: inline-flex;
    gap: .5rem;
    padding: .375rem 1rem;
    font-family: $font-family-sans-serif;
    text-decoration: none;
    border-radius: 2rem;
    border: 2px solid transparent;

    &.fx--focus,
    &:focus {
        border-color: var(--color-cyan);
        box-shadow: 0 0 8px var(--color-cyan);
    }
}


//
//   @section 2. Button primary
//

.button--primary {
    color: var(--color-white);
    background-color: var(--color-gray-900);
    border-color: var(--color-gray-900);

    &.fx--hover,
    &.fx--focus,
    &:hover,
    &:focus {
        color: var(--color-gray-900);
        background-color: var(--color-white);
    }
}


//
//   @section 3. Button secondary
//

.button--secondary {
    color: var(--color-gray-900);
    background-color: var(--color-primary-opacity-10);
    border-color: var(--color-primary-opacity-10);

    // the action on these buttons will be implemented later, so hover effect is not needed now
    //&.fx--hover,
    //&:hover {
    //    color: var(--color-white);
    //    background-color: var(--color-primary);
    //    border-color: var(--color-primary);
    //}
}


//
//   @section 4. Button white
//

.button--white {
    color: var(--color-primary);
    background-color: var(--color-white);

    [class*='icon-'] {
        color: inherit;
    }
}


//
//   @section 5. Button with icon only
//

.button--icon-only {
    @include size(2.125rem);

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .375rem;
    border-width: 0;

    .picture {
        margin: -.375rem;
    }

    //[class*='icon-'] {
    //    color: inherit;
    //}

    &.fx--hover,
    &:hover {
        //opacity: .9;
        color: var(--color-primary);
        background-color: var(--color-white);
        box-shadow: 0 0 0 .25rem rgba($color-white, .3);
    }
}

//
//   @section 6. Button round
//

.button--round {
    @include size(3.375rem);

    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &.button--large {
        @include size(6rem);

        border-radius: 50%;
    }

    .icon {
        @include size(1.75rem);
    }
}

// end of button.scss file
