//
//    @tableOfContent
//      1. Copyright
//


//
//   @section 1. Copyright
//

.copyright {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 1rem;
    color: var(--color-white);
    font-size: 14px;
    letter-spacing: .6px;
    margin-left: 0.5rem;

    &__content {
        display: flex;
        align-items: center;
        margin: 0;
        padding: .2rem .5rem;
        background-color: rgba(0, 0, 0, .5);
        z-index: 1;
    }

    &__text {
        margin: 0;
        margin-left: .5rem;
    }
}

// end of copyright.scss file
