//
//    @tableOfContent
//      1. Copyright
//


//
//   @section 1. Copyright
//

.copyright {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 1rem;
    color: var(--color-white);

    &__button {
        @include size(2rem, 2.5rem);

        display: inline-grid;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
        padding: 0;
        color: inherit;
        background-color: var(--color-gray-900);
        border-radius: 50%;
        border: 0;
        cursor: auto !important;

        &--active {
            border-left: 1rem solid var(--color-gray-900);
            border-radius: 0
        }

        [class*='icon-'] {
            @include size(1rem);
        }
    }

    &__content {
        z-index: 1;
    }

    &__text {
        display: flex;
        align-items: center;
        min-height: 100%;
        margin: 0;
        padding: .5rem 1rem;
        background-color: var(--color-gray-900);
    }
}

// end of copyright.scss file
