//
//    @tableOfContent
//      1. Copyright
//


//
//   @section 1. Copyright
//

.copyright {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 1rem;
    color: var(--color-white);

    &__content {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0.5rem 1rem;
        background-color: var(--color-gray-900);
        z-index: 1;
    }

    &__text {
        margin: 0;
        margin-left: .5rem;
    }
}

// end of copyright.scss file
