//
//    @tableOfContent
//      1. Field text
//


//
//   @section 1. Field text
//

.field--text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    padding-top: 1.5rem;
    border-bottom: 1px solid currentColor;

    .field {
        &__label {
            opacity: .5;
            position: absolute;
            transform: translate3d(.25rem, .25rem, 0);
            transform-origin: 0 0;
            transition: opacity $transition-time, transform $transition-time;
            pointer-events: none;
        }

        &__input {
            width: 100%;
            padding: .25rem 0;
            color: inherit;
            font-weight: 200;
            background-color: transparent;
            border-color: transparent;
            outline: none;

            &::placeholder {
                opacity: 0; //.5; // firefox
                color: transparent; //currentColor;
            }
        }
    }

    &.fx--filled,
    &.fx--focus {
        .field {
            &__label {
                opacity: 1;
                transform: translate3d(0, -1rem, 0) scale3d(.75, .75, 1);
            }
        }
    }

    &.fx--focus {

    }
}

// end of field--text.scss file
