//
//    @tableOfContent
//      1. Organigramm
//


//
//   @section 1. Organigramm
//

.organigram {
    display: grid;

    &__wrapper {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        align-items: center;
        grid-gap: 2rem;
        padding: 1rem;

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2.8rem;
        }
    }

    &__boxes {
        height: 100%;
    }

    &__overlays {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-items: center;
        align-items: center;
    }


    .infobox {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        padding: 2.5rem 1.5rem;
        height: 100%;

        &__title {
            margin-bottom: 0;
            letter-spacing: .5px;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            transition: transform .6s;
        }

        &.active {
            z-index: -1;
            height: 0;
        }
    }

    .grid-column {
        &-1 {
            grid-column: 1;
        }

        &-2 {
            @include media-breakpoint-up(lg) {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

        &-3 {
            @include media-breakpoint-up(lg) {
                grid-column: 3;
            }
        }

        &-4 {
            @include media-breakpoint-up(lg) {
                grid-column: 4;
            }
        }
    }

    .accordion-body {
        max-width: none;
    }

    &__detail {
        display: none;
        padding: 1rem;
        border: 0;
        background: $white;
        box-shadow: 0 0 16px rgba(0, 0, 0, .2);

        &--with-accordion {
            width: 100%;
        }


        &.show {
            display: grid;
            z-index: 3;
            position: relative;
        }

        .btn-close {
            border: none;
            background: transparent;
            text-align: right;

            .icon {
                @include size(12px);
            }
        }

        &--content {
            padding: 1rem;

            @include media-breakpoint-up(lg) {
                padding: 1rem 3rem 2rem 3rem;
            }

            .icon {
                width: 14px;
                margin-bottom: .5rem;
            }

            ul {
                margin-top: 1rem;

                li {
                    .organigram__detail--content__headline {
                        @include text-copy-small(700, 0.6px);
                        margin-bottom: 0;
                    }

                    h4 {
                        @include text-copy-standard(700, 0.6px);
                    }
                }
            }

            a + .accordion__item {
                margin-top: 2rem;
            }

            .accordion {

                &-body {
                    padding: 1rem 1.5rem;

                    ul {
                        li {
                            a {
                                @include text-copy-small(700, 0.6px);
                            }

                            p {
                                font-weight: 200;
                                letter-spacing: normal;
                            }
                        }
                    }
                }

                &-button--description {
                    line-height: 30px;
                    letter-spacing: .3px;

                    & > span {
                        font-size: 1rem;
                        line-height: 24px;
                        letter-spacing: normal;
                        font-weight: 200;
                    }
                }

                &-collapse {
                    margin-left: 0;
                    margin-right: 0;

                    @include media-breakpoint-up(xl) {
                        margin-left: -4rem;
                        margin-right: -4rem;
                    }
                }
            }
        }
    }
}


// end of organigramm.scss file
