//
//    @tableOfContent
//      1. Organigramm
//


//
//   @section 1. Organigramm
//

.frame-type-bw_static_template {
    width: 100%;

    @include media-breakpoint-up(xl) {
        width: $container-default-widths;
    }
}

.row + .row {
    margin-top: 2.5rem;
}

.row {
    [class*='col-md-'] {
        @include media-breakpoint-down(lg){
            margin-top: 2rem;
        }

        @include media-breakpoint-up(xl) {
            padding-right: 2.8rem;
            padding-left: 0;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .infobox {
        text-align: center;
        position: relative;
        padding: 2.5rem 1.5rem;
        height: 100%;

        &__title {
            margin-bottom: 0;
        }

        &:hover {
            //transform: scale(1.1);
            cursor: pointer;
            min-width: calc(100% + 10px);
            min-height: calc(100% + 10px);
            margin: -5px;
        }

        &.hide {
            z-index: 0;
        }
    }

    .modal-detail {
        box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .2);
        padding: 1rem;
        position: absolute;
        top: -2px;
        left: -50%;
        transform: translateX(10%);
        background-color: $color-white;
        text-align: left;

        &--full {
            &-right {
                left: -50vw;
                width: 52vw;
                transform: translateX(21%);
            }

            &-left {
                width: 48vw;
                transform: translateX(23%);
            }
        }

        &--close {
            z-index: 2;
            text-align: right;

            .icon {
                @include size(0.75rem)
            }
        }

        &--body {
            padding: 1.5rem 3rem 2rem 3rem;

            .icon {
                width: 14px;
                margin-bottom: .5rem;
            }

            ul {
                margin-top: 1rem;

                li {
                    h5 {
                        @include text-copy-small(0.6px)
                    }
                }
            }

            a + .accordion__item {
                margin-top: 2rem;
            }

            .accordion {
                &-body {
                    max-width: $container-md-widths + 6rem;
                }

                &-button--description {
                    margin-left: 1rem;
                }
            }
        }
    }
}



// end of organigramm.scss file
