<!-- Component Start: language-switcher -->

<div class="language-switcher">
    <ul class="language-switcher__items">
        <li class="language-switcher__item">
            <a class="language-switcher__link fx--active" href="#de">De</a>
        </li>
        <li class="language-switcher__item">
            <a class="language-switcher__link" href="#en">En</a>
        </li>
    </ul>
</div>

<!-- Components End: language-switcher -->
