//
//    @tableOfContent
//      1. Footer
//


//
//   @section 1. Footer
//

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    max-width: $container-default-widths;
    margin: auto auto 0;
    padding: 1.5rem 0;
    color: var(--color-white);
    background: var(--color-primary);

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

    &__items {
        @include list-reset;

        display: flex;
        gap: 1rem;
    }

    &__link {
        &--meta {
            color: inherit;
            text-decoration: none;

            &:hover,
            &:focus {
                color: inherit;
                text-decoration: underline;
            }
        }
    }

    &__copyright {
        margin-bottom: 0;
    }
}

// end of footer.scss file
