<!-- Component Start: carousel -->

<div
    class="
        carousel
        {{ cardsWithPattern ? 'carousel--cards-with-pattern' : '' }}
        {{ color ? 'carousel--color-' ~ color : '' }}
        {{ pagination ? 'carousel--pagination-' ~ pagination : '' }}
    "
    data-cols="{{ cols|default(4) }}"
>
    <div class="carousel__content swiper">
        <div class="carousel__body swiper-wrapper">
            {% block content %}{% endblock content %}
        </div>
    </div>
    {# @todo pagination wird nicht a11y konform ausgespielt, obwohl in demo korrekt!? #}
    <div class="carousel__pagination swiper-pagination"></div>
    <button class="carousel__button swiper-button-prev" aria-label="Zurück">
        {% include '@components/icon/icon.twig' with {icon: 'chevron-left'} %}
    </button>
    <button class="carousel__button swiper-button-next" aria-label="Vor">
        {% include '@components/icon/icon.twig' with {icon: 'chevron-right'} %}
    </button>
</div>

<!-- Components End: carousel -->
