ul.contacts {
    --list-item-margin: 0;
    --list-margin: 1rem;

    li.contact-image {
        display: flex;
        gap: 1rem;
        align-items: center;
        --list-item-margin: 1rem;

        figure {
            margin: 0;
        }
    }
}

ul, ol {
    font-family: var(--font-family-sans-serif);
    letter-spacing: 0.6px;
    padding-left: var(--list-indent, 1rem);
    margin-bottom: var(--list-margin, 1rem);

    @include media-breakpoint-up(md) {
        --list-indent: 3rem;
        font-size: 18px;
        line-height: 30px;
    }

    @include media-breakpoint-up(xl) {
        --list-indent: 5rem;
    }

    &:last-child {
        --list-margin: 0;
    }

    li:not(:last-child) {
        margin-bottom: var(--list-item-margin, 0.5rem);
    }

    li:not(:last-child) {
        ul, ol {
            margin-bottom: 1rem;
        }
    }

    li strong {
        font-weight: 700;
    }

    ul, ol {
        margin-top: var(--list-item-margin);
    }
}

ul li {
    list-style: disc;
}

ul.list {
    --list-indent: 0;

    &--inline {
        display: flex;
        gap: .25rem;
    }

    li {
        list-style: none;
    }

    .list__link-item {
        margin-bottom: .4rem;

        a {
            word-break: break-word;
        }
    }
}


a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: underline;
    }
}

p {
    margin-bottom: var(--paragraph-margin, 1rem);

    @include media-breakpoint-up(md) {
        --paragraph-margin: 1.5rem;
        font-size: 18px;
        line-height: 30px;
    }

    &:last-child {
        --paragraph-margin: 0;
    }

    > a {
        text-decoration: underline;

        &:hover {
            box-shadow: inset 0 -2px 0 0 var(--color-black);
            text-decoration: none;
        }
    }

}
