.button--bookmark {
    &-add {
        &.icon {
            &::before {
                background-color: var(--color-white);
                width: var(--dimension-default);
                height: var(--dimension-default);
            }
        }

        &:hover,
        &:focus {
            &.icon {
                &::before {
                    background-color: var(--color-gray-900);
                }
            }
        }
    }
}

.button--more {
    display: block;
    background: transparent;
    border: none;
    @include text-copy-small(200);
    text-decoration: underline;

    &.hide {
        display: none;
    }
}
