//
//    @tableOfContent
//      1. Carousel default
//      2. Carousel navigation
//      3. Carousel pagination
//      4. Carousel - cards with pattern
//


//
//   @section 1. Carousel
//

// @todo aufräumen
.carousel {
    position: relative;
    width: $container-expand-widths -6rem;

    .content-wrapper & {
        @include media-breakpoint-up(md) {
            max-width: calc(100vw - 3rem);
        }
    }

    .content-box & {
        @include media-breakpoint-up(md) {
            max-width: calc(100vw - 7.5rem);
        }

        @include media-breakpoint-up(xl) {
            max-width: 100%;
        }
    }

    .content-box--main-hero & {
        max-width: calc(100vw - 3.5rem);

        @include media-breakpoint-up(md) {
            max-width: calc(100vw - 8rem);
        }

        @include media-breakpoint-up(lg) {
            max-width: 100%;
        }
    }

    &__content {
        overflow: hidden;
        position: relative;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        z-index: 1;

        &-teaser {
            .carousel__button {
                &.swiper-button-next {
                    right: -7.938rem;
                }

                &.swiper-button-prev {
                    left: -7.938rem;
                }
            }
        }

        .card {
            &__content {
                .card__header {
                    margin-bottom: 1.2rem;
                }
            }
        }

        &+.carousel__pagination {
            margin-top: 1.5rem;
        }
    }

    &__body {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
    }

    //&__link {
    //    @include link-secondary;
    //
    //    text-decoration: none;
    //
    //    .icon {
    //        @include size(.75rem);
    //
    //        margin-left: .25rem;
    //    }
    //}

    .swiper-slide {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        padding: 1rem;
        transition-property: transform;
    }

    .card {
        flex: 1 1 0;
        height: 100%;
    }
}

// @todo noch schön machen
.swiper-vertical > .swiper-wrapper {
    flex-direction: column;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}
.swiper-pointer-events {
    touch-action: pan-y;
    &.swiper-vertical {
        touch-action: pan-x;
    }
}

.swiper-slide-invisible-blank {
    visibility: hidden;
}
/* Auto Height */
.swiper-autoheight {
    &,
    .swiper-slide {
        height: auto;
    }

    .swiper-wrapper {
        align-items: flex-start;
        transition-property: transform, height;
    }
}
.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    backface-visibility: hidden;
}

.swiper-slide--height {
    .card {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__image {
            margin-bottom: 0;
        }

        //&--image-size-md {
        //    .card__image {
        //        flex: 0 0 26.5rem;
        //    }
        //}
    }

    .picture__item {
        background: transparent;
    }

    .image--responsive {
        max-height: 650px;
        object-fit: contain;
    }


}


//
//   @section 2. Carousel navigation
//

.carousel__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 4rem;
    height: 6rem;
    margin-top: -3rem;
    padding: 0;
    color: var(--color-black);
    background-color: transparent;
    border: 0;
    cursor: pointer;

    @include media-breakpoint-down(xl) {
        display: none;
    }

    &.swiper-button-prev {
        right: auto;
        left: 3.375rem;
    }

    &.swiper-button-next {
        right: 3.375rem;
        left: auto;
    }

    &.swiper-button-disabled {
        opacity: 0;
        cursor: auto;
        pointer-events: none;
    }

    [class*='icon-'] {
        @include size(2.75rem);
    }
}

.background--expanded {
    .carousel__button {
        &.swiper-button-prev {
            @include media-breakpoint-up(lg) {
                left: -13.125rem;
            }

        }

        &.swiper-button-next {
            @include media-breakpoint-up(lg) {
                right: -13.125rem;
            }
        }
    }
}


//
//   @section 3. Carousel pagination
//

.carousel__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.375rem;
    bottom: -2rem;
    left: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
    transition: opacity $transition-time;
    transform: translate3d(0, 0, 0);

    &.swiper-pagination-hidden {
        opacity: 0;
    }

    &.swiper-pagination-lock {
        position: static;
        margin-bottom: -5rem;
    }

    .swiper-pagination-bullet {
        @include size(.5rem);

        opacity: .5;
        display: inline-block;
        background-color: var(--color-black);
        border-radius: 50%;
        box-shadow: 0 0 0 .25rem transparent;

        // @todo für andere Farben noch aufbereiten
        .carousel--color-orange & {
            background-color: var(--color-gray-700);
        }

        &:only-child {
            display: none !important;
        }

        &-active {
            opacity: 1;
            background-color: transparent !important; // be strong
            box-shadow: 0 0 0 .25rem currentColor; //var(--color-black);

            // @todo für andere Farben noch aufbereiten
            .carousel--color-primary & {
                box-shadow: 0 0 0 .25rem var(--color-primary);
            }

            .carousel--color-orange & {
                box-shadow: 0 0 0 .25rem var(--color-orange);
            }

            .carousel--color-cyan & {
                box-shadow: 0 0 0 .25rem var(--color-cyan);
            }
        }
    }

    .carousel--pagination-right & {
        @include media-breakpoint-up(xxl) {
            flex-direction: column;
            top: 0;
            right: 10.375rem;
            bottom: 0;
            left: auto;
            width: auto;
        }
    }
}


//
//   @section 4. Carousel - cards with pattern
//

// background pattern
.carousel--cards-with-pattern {
    .carousel {
        &__content {
            &::before,
            &::after {
                @include background-pattern();

                content: '';
                position: absolute;
                z-index: -1;
                width: 11.75rem;
                aspect-ratio: 1;
            }

            &::before {
                //top: .25rem;
                //left: .25rem;
                top: 0;
                left: 0;
            }

            &::after {
                right: .25rem;
                bottom: .25rem;
            }

            .card {
                @include background-blur($background-color: $color-white, $alpha: .9);

                height: 100%;
            }
        }
    }

    &[data-count='1'],
    &[data-count='2'],
    &[data-count='3'] {
        .carousel {
            &__content {
                &::after {
                    content: none;
                }
            }
        }
    }
}

// end of carousel.scss file
