//
//    @tableOfContent
//      1. Content wrapper
//


//
//   @section 1. Content wrapper
//

.content-wrapper {

    &__header {
        position: relative;
        justify-content: space-between;
        align-items: center;
        display: grid;
    }

    &__title {
        margin-bottom: .25rem;
    }

    &__pattern {
        grid-column: 1 / 3;
        width: 100%;
        height: .5rem;
    }

    &__link {
        font-size: 15px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: 1.2px;
        position: relative;

        svg {
            width: .75rem;
            margin-left: .25rem;
        }

        &[href^="http"] svg {
            transform: rotate(-45deg);
        }

        &::after {
            content: '';
            opacity: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 1px;
            background-color: currentColor;
            transform: translate3d(0, .25rem, 0);
            transition: opacity .3s * .5, transform .3s * .5;
        }

        &:hover,
        &:focus {
            color: inherit;
            text-decoration: none;

            &::after {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }

    &--sm {
        .content-wrapper {
            &__title {
                @include h5;

                margin-bottom: .5rem;
            }
        }
    }

    &--md {
        max-width: $container-md-widths;
        margin: auto;
    }

    &__horizontal {
        @include media-breakpoint-up(lg) {
            display: flex;
            max-width: $container-default-widths;
            margin: 1.875rem auto .75rem;
        }

        & > .card {
            padding-right: 1rem;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    &__picture {
        //max-width: $container-default-widths;
        max-width: 69.125rem;
        margin: auto;

        &-position {
            &-left {
                .picture {
                    float: left;
                    clear: both;

                    &--orientation {
                        &-md {
                            &-square {
                                width: 100%;

                                @include media-breakpoint-up(md) {
                                    flex: 0 0 27.5rem;
                                    width: 27.5rem;
                                    margin-right: 4.8rem;
                                }
                            }

                            &-rectangle {
                                width: 100%;

                                @include media-breakpoint-up(md) {
                                    flex: 0 0 18.125rem;
                                    width: 18.125rem;
                                    margin-left: 4rem;
                                    margin-right: 10rem;
                                }
                            }
                        }

                        &-sm {
                            &-square {
                                width: 100%;

                                @include media-breakpoint-up(md) {
                                    flex: 0 0 18.75rem;
                                    width: 18.75rem;
                                    margin-left: 4rem;
                                    margin-right: 10rem;
                                }
                            }

                            &-rectangle {
                                width: 100%;

                                @include media-breakpoint-up(md) {
                                    flex: 0 0 12.5rem;
                                    width: 12.5rem;
                                    margin-left: 7rem;
                                    margin-right: 13rem;
                                }
                            }
                        }

                    }

                    &__caption {
                        margin-bottom: 0;
                    }
                }

                .--content {
                    max-width: $container-md-widths;
                    margin-left: auto;
                }
            }

            &-right {
                .picture {
                    float: right;
                    clear: both;

                    &--orientation {
                        &-md {
                            &-square {
                                width: 100%;

                                @include media-breakpoint-up(md) {
                                    flex: 0 0 27.5rem;
                                    width: 27.5rem;
                                    margin-left: 4.8rem;
                                }
                            }

                            &-rectangle {
                                width: 100%;

                                @include media-breakpoint-up(md) {
                                    flex: 0 0 18.125rem;
                                    width: 18.125rem;
                                    margin-right: 4rem;
                                    margin-left: 10rem;
                                }
                            }
                        }

                        &-sm {
                            &-square {
                                width: 100%;

                                @include media-breakpoint-up(md) {
                                    flex: 0 0 18.75rem;
                                    width: 18.75rem;
                                    margin-right: 4rem;
                                    margin-left: 10rem;
                                }
                            }

                            &-rectangle {
                                width: 100%;

                                @include media-breakpoint-up(md) {
                                    flex: 0 0 12.5rem;
                                    width: 12.5rem;
                                    margin-right: 7rem;
                                    margin-left: 13rem;
                                }
                            }
                        }
                    }

                    &__caption {
                        margin-bottom: 0;
                    }
                }

                .--content {
                    max-width: $container-md-widths;
                    margin-right: auto;
                }
            }
        }

        .--title {
            @include h4;
            margin: 1rem 0;
        }

        .--text {
            @include text-copy-standard();
        }
    }

    &__content-text {
        p,
        li {
            padding-bottom: 1rem;

            > a {
                text-decoration: underline;

                &:hover {
                    box-shadow: inset 0 -2px 0 0 var(--color-black);
                    text-decoration: none;
                }
            }

        }
    }
}

.head-area {
    &--picture {
        position: relative;
    }
}


.frame {
    width: 100%;
    position: relative;
    //backdrop-filter: blur(27px);
    padding-bottom: var(--content-padding);
    padding-top: var(--content-padding);
    display: grid;

    > * {
        width: 100%;
        max-width: var(--content-width);
        margin-left: auto;
        margin-right: auto;
        padding-left: var(--space-unit);
        padding-right: var(--space-unit);

        @include media-breakpoint-up(lg) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.background--color {
        background-color: var(--color-accent);
        --content-padding: 4rem;

        & + .background--color {
            padding-top: 0
        }
    }

    &.frame-type-welcome {
        margin-top: 0;

        @include media-breakpoint-up(md) {
            margin-top: -1rem;
            padding-top: calc(2 * var(--content-padding));
        }

        @include media-breakpoint-up(lg) {
            margin-top: -4rem;
        }
    }

    &.frame-type-heroteaser {
        margin-bottom: var(--space-md);
    }

    &.frame-type-serviceSlider {

        .content-wrapper {
            &__content {

                .card {
                    &__header,
                    &__text {
                        color: $black;
                    }
                }
            }
        }
    }


}

// end of content-wrapper.scss file
