//
//    @tableOfContent
//      1. Contact
//


//
//   @section 1. Contact
//

.contact {
    &--background {
        width: 100%;
        margin-bottom: 1rem;

        &-primary-opacity-10 {
            background: var(--color-primary-opacity-10);
            padding: 2.5rem 2.5rem 1rem;
        }

        @include media-breakpoint-up(md) {
            width: 25rem;
        }

        [class*='image-color-'] {
            &::before,
            &::after {
                content: '';
                position: absolute;
                bottom: -.375rem; // @todo variable
                left: -.375rem; // @todo variable
                width: calc(50% + .375rem); // @todo variable
            }
        }
    }

    &__items {
        @include list-reset;
        margin-bottom: 1.5rem;
    }

    &__item {
        .icon {
            float: left;
            position: relative;
            top: 5px;
            margin-right: 8px;

            & + * {
                overflow: hidden;
                display: block;
            }
        }

        .contact__link {
            padding-left: .5rem;
        }
    }

    &--title {
        font-weight: 200;
    }

    &--subtitle {
        margin-bottom: .5rem;
    }

    &--information {
        a {
            &:hover {
                color: var(--color-gray-900);
                text-decoration: underline;
            }
        }
    }
}

// end of contact.scss file
