//
//    @tableOfContent
//      1. Employee info
//


//
//   @section 1. Employee info
//

.employee-info {
    display: inline-flex;
    justify-content: space-between;

    @include media-breakpoint-up(md) {
        margin-top: 1.5rem;
        margin-bottom: 3rem;
    }

    li {
        &:before {
            content: '';
            display: inline-block;
            padding: 1rem;
            width: 48px;
            height: 48px;
            background: var(--color-gray-100);
            border-radius: 50%;
            margin-top: -.5rem;
            margin-right: .75rem;
        }
    }

    .icon {
        position: absolute;
        top: 1rem;
        left: .875rem;
    }
}

// end of employee-info.scss file
