@include media-breakpoint-up(lg) {
    .frame-xmdkfznetevents_listevents .content-wrapper__header h2 {
        visibility: hidden;
    }
}

.events {

    @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: flex-start;
        gap: calc(2 * var(--content-padding));
    }

    a:hover {
        text-decoration: none;

        h5 {
            text-decoration: underline;
        }
    }

    ul li a, ul li a:hover {
        text-decoration: underline;
    }

    p span:first-child {
        margin-right: 0.5rem;
    }

    .event:not(:last-child) {
        border-bottom: 1px solid var(--color-gray-200);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
}

.events-latest {
    .card {
        padding: 0;
        display: grid;
        height: 100%;
    }

    .swiper-slide:nth-child(3n-2) {
        padding-left: 0;
    }

    .swiper-slide:nth-child(3n) {
        padding-right: 0;
    }

    span.h3 {
        display: block;
    }

    .text-intro {
        line-height: 1;
    }

    .item {
        display: flex;
        flex-direction: column;
    }

    ul {
        margin-top: auto;

        a, a:hover {
            text-decoration: underline;
        }
    }

    a:hover {
        text-decoration: none;
        cursor: pointer;

        h3 {
            text-decoration: underline;
        }
    }
}
