//
//    @tableOfContent
//      1. Field select
//      2. Tom select
//


//
//   @section 1. Field select
//

.filter {
    padding: 2.5rem;
    background: var(--color-accent);
    max-height: 50rem;
    height: 100%;

    &--subtitle {
        margin-top: 2rem;

        + .field--select {
            padding-top: 0;

            .field__label {
                opacity: 1;
            }
        }
    }

    &--remove {
        @include font-base;
        padding: 0;
        background: transparent;
        text-decoration: underline;
    }
}

.field__checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;

    &:hover {
        cursor: pointer;
    }
}

// default checkmark

input[type="checkbox"] {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid currentColor;
    transform: translateY(-0.075em);

    &:before {
        content: "";
        position: absolute;
        width: 5px;
        height: 10px;
        border: solid var(--color-gray-900);
        border-width: 0 1px 1px 0;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        bottom: 5px;
    }

    &:checked::before {
        transform: scale(1) rotate(45deg);
    }

    &:focus {
        outline: max(2px, 0.15em) solid $color-primary-opacity-15;
    }
}

// end of field--select.scss file
