//
//    @tableOfContent
//      1. Header
//


//
//   @section 1. Header
//

.header {
    position: relative;
    z-index: 99;
    background-color: var(--color-primary);
    padding-top: 4rem;

    ul li {
        list-style: none;
        margin: 0;
    }

    @include media-breakpoint-up(md) {
        padding-top: 6rem;
    }

    // mobile background
    &::before {
        @include background-blur($color-black, .5);

        opacity: 0;
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        pointer-events: none;
        transition: opacity $transition-time * .5 $transition-time;

        @include media-breakpoint-down(md) {
            .fx--main-menu-open & {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    &__sticky-trigger {
        opacity: 0;
        position: absolute;
        top: .5rem;
        left: 0;
        z-index: 2;
        width: 100px;
        height: 1px;
        //background-color: red;
        //pointer-events: none;
    }

    &__meta {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        padding-right: 1rem;
        padding-left: 1rem;
        color: var(--color-white);
        background: var(--color-primary-opacity-15);
        backdrop-filter: blur(10px);

        @include media-breakpoint-up(md) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include media-breakpoint-up(xl) {
            padding-left: calc(50vw - 36.5rem);
            padding-right: calc(50vw - 36.5rem);
        }

        .navigation__items {
            &.search-box--active {
                .navigation__item:not(.navigation__item--quick-search) {
                    visibility: hidden;
                }
            }
        }
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 2.25rem;
        order: 1;
        margin-right: auto;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__center {
        display: flex;
        align-items: center;

        @include media-breakpoint-up(lg) {
            justify-content: center;
        }
        order: 2;
    }

    &__right {
        order: 3;
        margin-left: auto;

        @include media-breakpoint-down(lg) {
            .button--white {
                color: #FFF;
                background-color: transparent;

                &:hover {
                    color: var(--color-primary);
                    background-color: #FFF;
                }
            }
        }
    }

    &__navigation {
        position: relative;
        top: 1.875rem;
        margin-top: -.125rem;

        @include media-breakpoint-down(lg) {
            //display: none;
            opacity: 1;
            position: fixed;
            top: 6.1rem;
            width: calc(50vw - 34px);
            right: 0;
            bottom: 0;
            z-index: 100;
            background-color: var(--color-white);
            box-shadow: 0 0 30px rgb(0 0 0 / 20%); // @todo variable
            transform: translate3d(100%, 0, 0);

            .fx--main-menu-open & {
                // display: block;
                transform: translate3d(0, 0, 0);
            }
        }

        @include media-breakpoint-down(md) {
            top: 4.4rem;
            width: calc(100vw - 5rem);
        }
    }

    &__link {
        @include font-header-meta;

        display: inline-flex;
        align-items: center;
        gap: .5rem;
        position: relative;
        text-decoration: none;

        &::after {
            opacity: 0;
            content: '';
            position: absolute;
            right: 0;
            bottom: -.125rem;
            left: 1.75rem;
            height: 1px;
            background-color: var(--color-white);
            transform: translate3d(0, .25rem, 0);
            transition: opacity $transition-time * .5, transform $transition-time * .5;
        }

        &:hover,
        &:focus {
            color: inherit;
            text-decoration: none;

            &::after {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }

    .language-switcher {
        &::after {
            content: '';
            position: absolute;
            top: .5rem;
            right: -1rem;
            bottom: .25rem;
            width: 1px;
            background-color: var(--color-white);
        }
    }
}

// end of header.scss file
