//
//    @tableOfContent
//      1. Image responsive
//      2. Picture defaults
//      3. Picture - no image
//      4. Picture - with image
//      5. Picture - round
//      6. Picture - orientation
//


//
//   @section 1. Image responsive
//
.image--responsive {
    width: 100%;
    height: auto;
}

.image-editor__image {
    img {
        display: block;
        max-width: 100%;
    }
}

.frame-type-textmedia,
.frame-type-image {

    .carousel {

        @include media-breakpoint-up(md) {
            margin: 0 var(--default-overflow-margin-negative);
        }

        .carousel__button {

            &.swiper-button-next {
                right: 0;
            }

            &.swiper-button-prev {
                left: 0;
            }

        }

        .picture__pattern {
            display: none;
        }
    }
}

figure.userimage {
    display: grid;
    position: relative;
    --color-primary: #2662c3;
    grid-template-columns: var(--pattern-size, 6px) auto;
    grid-template-rows: auto var(--pattern-size, 6px);
    margin-bottom: -6px;

    &--large {
        --pattern-size: 10px;

        +label {
            &.field__checkbox {
                margin-top: 1rem;
                margin-left: 2rem;
            }
        }
    }

    picture, svg {
        z-index: 1;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    span {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        display: block;
        height: 66%;
        aspect-ratio: 1;
        background: var(--color-primary);
        align-self: flex-end;
        z-index: 0;
    }
}

.picture {

    &--round {
        overflow: hidden;
        display: block;
        border-radius: 50%;
    }

    &__item {
        --pattern-size: 1rem;
        position: relative;
        display: grid;
        z-index: 1;
        margin-bottom: 1rem;

        @include media-breakpoint-down(md) {
            .frame > * {
                padding: 0;
            }
        }

        @include media-breakpoint-up(lg) {
            --pattern-size: 5rem;
        }

        @include media-breakpoint-up(xxl) {
            --pattern-size: 7rem;
        }

        picture {
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }

    &__item--no-image {
        position: relative;
        opacity: 0.8;
        aspect-ratio: 3 / 2;

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            background: var(--color-accent);
            opacity: 0.8;
            top:0;
            left: 0;
            position: absolute;
            z-index: -1;
        }
    }

    &__caption {
        margin-top: .625rem;
    }

    &__pattern {
        grid-column: 1/2;
        grid-row: 1/2;

        &.pattern {
            max-height: 100%;
            margin: 0 calc(-1 * var(--pattern-size)) 2rem calc(-1 * var(--pattern-size));

            & + picture {
                margin-top: 1rem;
            }
        }

        &.color {
            background-color: var(--color-accent, var(--color-primary));
            width: calc(50% + .875rem);
            aspect-ratio: 1;
            align-self: flex-end;
            margin: -0.5rem;

            @include media-breakpoint-up(lg) {
                &:not(.sm) {
                    margin: -1rem;
                }
            }
        }

        &.no-image {
            aspect-ratio: 1;
            max-width: 50%;
            align-self: flex-end;
            margin: 0 0 -1rem -1rem;

            &.sm {
                margin: 0 0 -0.5rem -0.5rem;
            }
        }
    }
}

@include media-breakpoint-up(md) {

    .image-orient {

        // Above, center
        &--0 > div > .content-wrapper__content-image .picture__pattern {
            margin-left: -7rem;
            margin-right: -7rem;
        }

        &--17, &--18, &--25, &--26 {
            .pattern {
                --pattern-size: 2rem;
            }
        }

        // In text, right
        &--17 .content-wrapper__content-image {
            max-width: 400px;
            float: right;
            margin: 0 var(--default-overflow-margin-negative) 0 4rem;
        }

        // In text, left
        &--18 .content-wrapper__content-image {
            max-width: 400px;
            float: left;
            margin: 0 4rem 0 var(--default-overflow-margin-negative);
            max-height: fit-content;
            height: fit-content;
        }

        // Beside text, right
        // Beside text, left
        &--25, &--26 {
            .content-wrapper__content {
                display: flex;
                flex-direction: row;
                gap: 4rem;
            }

            .content-wrapper__content-image {
                display: grid;
                margin-right: var(--default-overflow-margin-negative);
                max-height: fit-content;
                height: fit-content;
                flex: 1;
            }

            .content-wrapper__content-text {
                flex: 1;
            }
        }

        // Beside text, left
        &--26 {
            .content-wrapper__content-image {
                margin-right: 0;
                margin-left: var(--default-overflow-margin-negative);
            }
        }
    }

}

// end of image.scss file
