.infobox {
    position: relative;
    --infobox-gutter: 2rem;

    @include media-breakpoint-up(md) {
        --infobox-gutter: 3rem;
    }

    &--pattern {
        margin-left: -1rem;
        padding-left: 1rem;

        @include media-breakpoint-up(md) {
            margin: 0;
            padding-left: 0;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background-image: var(--pattern-url);
            width: 1rem;
        }
    }

    &--wrapper {
        margin-left: var(--infobox-gutter);
    }

    &__title {
        margin-bottom: 1rem;
    }

    @include media-breakpoint-up(md) {
        ul {
            --list-indent: 2rem;
        }
    }

    ul:last-child, p:last-child {
        margin-bottom: 0;
    }

    &--border {
        border-width: 1px;
        border-style: solid;
        border-color: var(--color-accent);

        .infobox--wrapper {
            margin: 0;
            padding: var(--infobox-gutter);
        }

        &::after {
            content: '';
            position: absolute;
            right: -1rem;
            top: 1rem;
            height: 100%;
            background-image: var(--pattern-url);
            width: 1rem;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: -1rem;
            left: 1rem;
            width: calc(100% - 1rem);
            height: 1rem;
            background-image: var(--pattern-url);
        }
    }
}
