html.open-lightbox {
    overflow: hidden;
    padding-right: var(--scrollbar-width);

    .lightbox {
        display: grid;
        animation: opacityIn 0.4s ease;

        &--default .lightbox__content {
            animation: moveIn 0.4s ease;
            animation-fill-mode: forwards;
        }

        &--warning .lightbox__content {
            animation: moveIn 0.4s ease;
            animation-fill-mode: forwards;
        }

        &--sidebar .lightbox__content {
            animation: slideIn 0.4s ease;
            animation-fill-mode: forwards;
        }
    }

}

@keyframes opacityIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacityOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    0% {
        transform: translate3d(500px, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes moveIn {
    0% {
        transform: translate3d(0, 100px, 0);
        opacity: 0
    }
    30% {
        transform: translate3d(0, 100px, 0);
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes moveOut {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
    30% {
        transform: translate3d(0, -100vh, 0);
    }
    80% {
        opacity: 0;
    }
    100% {
        transform: translate3d(0, -100vh, 0);
        opacity: 0
    }
}

.lightbox {
    --content-padding: 1rem;
    display: none;
    position: fixed;
    width: calc(100vw);
    height: calc(100vh);
    background-color: rgba(#000, 0.5);
    top: 0;
    left: 0;
    z-index: 100;
    padding: var(--space-xl) var(--space-sm);
    overflow-x: scroll;
    align-items: flex-start;
    backdrop-filter: blur(5px);

    @include media-breakpoint-up(md) {
        --content-padding: 2rem;
    }

    @include media-breakpoint-up(lg) {
        --content-padding: 3rem;
    }

    &--closing {
        transition: opacity 0.2s ease;
        opacity: 0;
    }

    &--loading {
        .lightbox__loader {
            opacity: 1;
        }

        &-visual {
            .lightbox__loader {
                display: flex;
            }
        }
    }

    &--sidebar {
        padding: 0;
        align-items: unset;
        justify-content: flex-end;
        overflow-x: hidden;
        overflow-y: hidden;
        width: calc(100vw + 800px);
        left: -800px;

        &.lightbox--closing {
            transform: translate3d(800px, 0, 0);
            transition: opacity 0.8s ease 0.4s, transform .4s ease-in-out;
        }

        .lightbox__content {
            opacity: 1;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &__content {
        background: #FFF;
        max-width: calc(100vw - var(--content-padding));
        width: 100%;
        margin: 0 auto;
        padding: var(--content-padding);
        display: grid;
        opacity: 0;
        min-height: 15vh;

        @include media-breakpoint-up(md) {
            max-width: 800px;
        }
    }

    &__wrap,
    &__dialog {
        transition: all 0.3s ease;

        &--hidden {
            display: none;
        }

        &--show {
            display: block;
        }
    }

    &__dialog {
        display: none;
        grid-column: 1/2;
        grid-row: 1/2;

        &--show {
            display: block;
        }
    }

    &__close, &__wrap, &__loader {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    &__close {
        justify-self: right;
        width: 3rem;
        height: 3rem;
        position: relative;
        top: -0.2rem;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
        border-radius: 50%;
        transition: all 0.2s ease;

        &:hover {
            color: var(--color-white);
            background: var(--color-gray-900);
        }

        &:active {
            transform: scale(0.9);
            box-shadow: 0 0 0 0.3rem rgba(#000, 0.1);
        }
    }

    &__loader {
        display: none;
        transition: opacity .7s ease-in-out;
        justify-content: center;
        align-items: center;
        background-color: rgba(#FFF, 0.75);
        z-index: 2;
        opacity: 0;
    }

}
