main.login {

    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: grid;
    padding: 0;
    --background-image: var(--background-image-webp);
    background-image: var(--background-image);

    @include media-breakpoint-up(md) {
        --background-image: var(--background-image-webp-md);
    }

    @include media-breakpoint-up(xl) {
        --background-image: var(--background-image-webp-xl);
    }

    .login__blur {
        @include background-blur(#FFF, .2);
        display: grid;
        justify-items: center;
        min-height: 600px;
    }

    .logo, .box, footer {
        align-self: flex-start;
        grid-column: 1 /2;
        grid-row: 1 /2;
    }

    .logo {
        text-align: center;
        background: var(--color-primary);
        color: #FFF;
        padding: 0;
        width: 100%;
        margin: 0;

        svg {
            margin: 1rem 1rem 1.5rem;
            max-width: 16.25rem;
        }
    }

    .box {
        align-self: center;
        background: #FFF;
        @include background-blur(#FFF, .5);
        text-align: center;
        padding: 1rem;

        @include media-breakpoint-up(md) {
            padding: var(--space-xxl);
        }

        .button {
            margin: 1rem;

            @include media-breakpoint-up(md) {
                margin: var(--space-xl);
            }
        }
    }


    footer {
        align-self: flex-end;
        width: 100%;
    }
}

body > #hiddenLogin {
    display: none;
}

#hiddenLogin {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
