//
//    @tableOfContent
//      1. Logo
//


//
//   @section 1. Logo
//

.logo {
    display: block;
    padding: 1rem 0 1.25rem;
    margin-right: 1rem;

    svg {
        fill: currentColor;
    }

    @include media-breakpoint-up(md) {
        margin: 0;
        width: 16.25rem;
        padding: 1rem 1.5rem 1.25rem;
        transition: all 0.2s ease;

        .fx--header-not-sticky & {
            background-color: var(--color-white);
            color: var(--color-primary);
        }
    }


}

// end of logo.scss file
