//
//    @tableOfContent
//      1. Main navigation
//


//
//   @section 1. Main navigation
//

.navigation--main {
    position: relative;
    max-width: $container-default-widths;
    margin: auto;
    background-color: var(--color-white);

    a.color {
        color: var(--color-primary);
    }

    @include media-breakpoint-down(lg) {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
    }

    @include media-breakpoint-up(lg) {
        &::after {
            @include background-pattern($color-primary);

            content: '';
            position: absolute;
            bottom: -.75rem;
            right: -.75rem;
            left: -.75rem;
            z-index: -1;
            height: 3rem;
        }
    }

    .navigation {
        //&__button {
        //    @include media-breakpoint-up(xl) {
        //        display: none;
        //    }
        //}

        &__items {
            @include list-reset;

            display: flex;
            position: relative;

            &.fx--first {
                justify-content: center;

                @include media-breakpoint-down(lg) {
                    flex-direction: column;
                    justify-content: flex-start;
                }
            }

            &.fx--second {
                display: none;
                padding: 1.5rem;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: -0.75rem;
                    left: 3rem;
                    width: calc(100% - 2.75rem);
                    height: 0.75rem;
                    background: var(--color-accent);
                }

                &::after {
                    content: "";
                    position: absolute;
                    right: -0.75rem;
                    top: 2rem;
                    height: calc(100% - 1.25rem);
                    background: var(--color-accent);
                    width: 0.75rem;
                }

                @include media-breakpoint-down(lg) {
                    grid-area: content;
                    flex-direction: column;
                    background-color: $color-gray-100;
                }

                @include media-breakpoint-up(lg) {
                    gap: 2rem;
                    position: absolute;
                    left: 50%;
                    padding-right: 3rem;
                    padding-bottom: 3rem;
                    padding-left: 3rem;
                    box-shadow: 0 0 6px rgb(0 0 0 / 20%);
                    transform: translateX(-50%);
                    background-color: #FFF;
                }
            }

            &.fx--third {
                flex-direction: column;

                @include media-breakpoint-down(lg) {
                    margin-left: 1rem;
                }
            }

            &.fx--row {
                flex-direction: column;
            }
        }

        &__item {
            &.fx--first {
                position: relative;

                @include media-breakpoint-down(lg) {
                    display: grid;
                    grid-template-areas:
                        'header'
                        'content';
                }

                @include media-breakpoint-up(lg) {
                    &:hover,
                    &:focus-within {
                        .navigation__items {
                            &.fx--second {
                                display: flex;
                            }
                        }
                    }
                }
            }

            &.fx--third {
                border-bottom: 1px solid $color-gray-100;
            }
        }

        &__link {
            position: relative;
            display: flex;
            gap: .5rem;
            align-items: center;
            font-weight: 200;
            white-space: nowrap;
            text-decoration: none;

            &.fx--first {
                @include text-main-navi;

                height: 100%;
                padding: 1.375rem 2rem;

                @include media-breakpoint-down(lg) {
                    grid-area: header;
                    padding-right: 1rem;
                    padding-left: 1rem;

                    &:not(:last-child) {
                        border-bottom: 1px solid $color-gray-100;
                    }
                }

                @include media-breakpoint-down(lg) {
                    position: sticky;
                    top: 0;
                    background-color: var(--color-white);
                    z-index: 1;
                }

                &::after {
                    content: '';
                    display: none;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    height: .25rem;
                    background-color: var(--color-primary);
                }

                @include media-breakpoint-up(lg) {
                    &:hover,
                    &:focus {
                        ~ .navigation__items {
                            display: flex;
                        }
                    }

                    &:hover,
                    &:focus,
                    &.fx--active {
                        &::after {
                            display: block;
                        }
                    }
                }
            }

            &.fx--second {
                font-size: 18px;
                font-weight: 700;
            }

            &.fx--third {
                min-width: 200px;
            }

            &.fx--second,
            &.fx--third {
                padding: .5rem 0;

                &:hover,
                &:focus {
                    color: $color-primary;
                }
            }
        }

        &__button {
            &--toggle-items {
                position: sticky;
                top: 0;
                z-index: 1;
                width: 3rem;
                margin-left: auto;
                background-color: transparent;
                border: 1px solid transparent;

                @include media-breakpoint-down(lg) {
                    grid-area: header;
                }

                @include media-breakpoint-up(lg) {
                    display: none;
                }

                &.fx--active {
                    ~ .navigation__items {
                        display: flex;
                    }
                }
            }
        }
    }
}

.fx--main-menu-open {
    overflow: hidden;
}

// end of navigation--main.scss file
