.news-content {

    margin-bottom: 5rem;

    figure {
        margin-bottom: 2rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 3rem;
        }
    }

    h2 {
        margin-top: 2rem;

        @include media-breakpoint-up(md) {
            margin-top: 3rem;
        }
    }

    p.news-intro {
        font-family: inherit;
        margin-bottom: 3rem;
        line-height: 1.7;
    }
}


.image-slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;

    img {
        max-width: 100%;
        height: auto;
    }

    button {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        z-index: 2;
        border: 0;
        justify-self: flex-start;
        align-self: center;
        padding: 1rem;
        background: #FFF;

        @include media-breakpoint-up(xl) {
            transform: translate3d(var(--direction, -5rem), 0, 0) scale(2);
        }

        &.next {
            grid-column: 2 / 3;
            justify-self: flex-end;
            --direction: 5rem;
        }
    }

    &__images {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        display: grid;
        overflow: hidden;
    }

    &__wrapper {
        width: 300%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        transform: translate3d(-33.333%, 0, 0);
        transition: transform 0.3s ease;

        .no-animation & {
            transition: none;
        }

        .go-next & {
            transform: translate3d(-66.666%, 0, 0);
        }

        .go-prev & {
            transform: translate3d(0, 0, 0);
        }
    }

    &__item {
        grid-row: 1 / 2;

        &.current {
            grid-column: 2 / 3;
        }

        &.go-next {
            grid-column: 3 / 4;
        }

        &.go-prev {
            grid-column: 1 / 2;
        }
    }
}
