.news-content {

    margin-bottom: 5rem;

    figure {
        margin-bottom: 2rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 3rem;
        }
    }

    h2 {
        margin-top: 2rem;

        @include media-breakpoint-up(md) {
            margin-top: 3rem;
        }
    }

    .news-related {
        margin-top: 3rem;
    }

    &--shortNews {

        @include media-breakpoint-up(xl) {
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            align-items: flex-start;
        }
    }
}


.image-slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;

    img {
        max-width: 100%;
        height: auto;
    }

    button {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        z-index: 2;
        border: 0;
        justify-self: flex-start;
        align-self: center;
        padding: 1rem;
        background: #FFF;

        @include media-breakpoint-up(xl) {
            transform: translate3d(var(--direction, -5rem), 0, 0) scale(2);
        }

        &.next {
            grid-column: 2 / 3;
            justify-self: flex-end;
            --direction: 5rem;
        }
    }

    &__images {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        display: grid;
        overflow: hidden;
    }

    &__wrapper {
        width: 300%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        transform: translate3d(-33.333%, 0, 0);
        transition: transform 0.3s ease;

        .no-animation & {
            transition: none;
        }

        .go-next & {
            transform: translate3d(-66.666%, 0, 0);
        }

        .go-prev & {
            transform: translate3d(0, 0, 0);
        }
    }

    &__item {
        grid-row: 1 / 2;

        &.current {
            grid-column: 2 / 3;
        }

        &.go-next {
            grid-column: 3 / 4;
        }

        &.go-prev {
            grid-column: 1 / 2;
        }
    }
}

.news-latest {
    display: grid;
    gap: 2rem;

    @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr 1fr;
        &[data-news-limit="4"] {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    @include media-breakpoint-up(sm) {
        gap: 3rem;
    }

    a:hover {
        text-decoration: none;

        h3 {
            text-decoration: underline;
        }
    }
}

.news-list {

    display: grid;
    gap: 5rem;

    &__item {

        display: grid;
        gap: 1rem;


        @include media-breakpoint-up(sm) {
            grid-template-columns: 1fr 2.3fr;
        }

        @include media-breakpoint-up(sm) {
            gap: 4rem;
        }

    }

    a:hover {
        text-decoration: none;

        h3 {
            text-decoration: underline;
        }
    }
}

.news-shortnews {

    a {
        display: block;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
    }

    a:hover {
        text-decoration: none;

        h4 {
            text-decoration: underline;
        }
    }

    li:not(:last-child) a {
        border-bottom: 1px solid #CCC;
    }
}

.news-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 1rem;
    justify-content: center;

    a {
        white-space: nowrap;
        font-weight: normal;

        &.active {
            font-weight: bold;
        }
    }
}
