.notice {
    transform: translate3d(0, -100%, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    display: flex;
    background: #FFF;
    padding: 1rem;
    justify-content: center;
    gap: 1rem;

    &--visible {
        transform: translate3d(0, -100%, 0);
        box-shadow: 0 0 3rem rgba(#000, 0.3);
    }

    &--closeable.notice {
        .notice__wrapper {
            max-width: calc(var(--content-width) - 3rem);
        }

        button {
            display: block;
        }
    }

    &__wrapper {
        max-width: calc(var(--content-width));
        width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &__icon {
        display: none;

        svg {
            width: 1.5rem;

            @include media-breakpoint-up(lg) {
                width: 2rem;
            }
        }
    }

    button {
        display: none;
        align-self: center;
        background: rgba(#000, 0.05);
        flex-shrink: 0;

        &:hover {
            background: #000;
            color: #FFF;
        }

        svg {
            top: -1px;
            position: relative;
        }
    }

    p {
        font-weight: 300;
        line-height: 1.5;
    }
}

$types: "info" #e5ecf8 #123062, "warning" #ffd600 #544a19, "error" #f00 #440d0d;
@each $type, $bgColor, $color in $types {
    .notice--#{$type} {
        background: $bgColor;
        color: $color;
        border-bottom: 1px solid $color;

        .notice__icon--#{$type} {
            display: inline-flex;
        }
    }
}
