.navigation__item--quick-search .quick-search__wrapper {
    &.search-box{
        width: fit-content;
        height: fit-content;
        position: relative;

        &--active {
            .quick-search__button--toggle {
                color: var(--color-white);
            }
        }
    }

    .field__input {
        position: absolute;
        top: 0;
        right: 0;
        width: 2.125rem;
        height: 2.125rem;
        border-style: none;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 25px;
        transition: all .5s ease-in-out;
        background-color: var(--color-white);
        padding: 2px;
        color: var(--color-white);

        &::placeholder {
            color:rgba(255,255,255,.5);
            font-size: 18px;
            letter-spacing: 2px;
            font-weight: 100;
        }

        &:focus {
            width: 300px;
            border-radius: 0;
            background-color: var(--color-primary);
            border-bottom:1px solid rgba(255,255,255,.5);
            transition: all 500ms ease-in-out;
            padding: 10px 40px 10px 10px;
        }
    }

    .quick-search__button--toggle {
        position: relative;
        z-index: 1;
        width: 2.125rem;
        height: 2.125rem;
        border-style: none;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        right: 0;
        color: var(--color-primary) ;
        background-color:transparent;
        pointer-events: painted;

        &:focus {
            ~ .field__input {
                width: 300px;
                border-radius: 0;
                background-color: var(--color-primary);
                border-bottom:1px solid rgba(255,255,255,.5);
                transition: all 500ms ease-in-out;
                padding: 10px 40px 10px 10px;
            }
        }
    }
}
