.quote {
    display: grid;
    text-align: center;
    position: relative;

    .icon--quotation-mark {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        fill: $color-gray-100;
        transform: translate(-50%, -50%);
        opacity: .7;
    }

    &__pattern {
        grid-column: 1/2;
        grid-row:1/2;
        margin-top: -2rem;
        margin-bottom: 4rem;
        margin-left: -7rem;
        margin-right: -7rem;
    }

    &__body {
        position: relative;
        grid-column: 1/2;
        grid-row:1/2;
        margin-bottom: 6rem;
        background-color: var(--color-white);
    }

    &__content {
        position: relative;
        padding: 3.3rem 6rem 0;
        z-index: 1;

        p {
            font-family: var(--font-family-sans-serif);
            font-weight: 600;
            font-size: 20px;
            line-height: 36px;
        }
    }
    &__caption{
        margin-bottom: 3.3rem;
        position: relative;
        z-index: 1;
    }

    &__cite {
        font-style: normal;
        @include text-copy-standard(700, .3);

        span {
            @include text-copy-standard(200, .3);
        }
    }
}

// end of quote.scss file
