//
//    @tableOfContent
//      1. Table
//


//
//   @section 1. Table
//

.table {
    margin-top: 2rem;

    caption {
        padding-top: .5rem;
        padding-bottom: .5rem;
        color: var(--color-gray-900);
        text-align: left;
        caption-side: bottom;
    }

    &-striped  {
        .table-body {
            tr:nth-of-type(odd) {
                background: var(--color-gray-white-reversed);

            }
        }
    }

    &-title {
        border-bottom: 1px solid var(--color-gray-900);

        th {
            vertical-align: top;
            text-align: center;
        }
    }

    &-body {
        td {
            text-align: center;
            padding: .6rem;

            &:last-child {
                font-weight: bold;
                letter-spacing: .6px;
            }
        }
    }

}

// end of table.scss file
