//
//    @tableOfContent
//      1. Tabs
//


//
//   @section 1. Tabs
//

.nav {
    --bs-nav-tabs-border-radius: 0;

    &-tabs {
        border-bottom: 1px solid var(--color-gray-900);
    }

    li {
        list-style: none;
        margin: 0;
    }

    &-item {
        & > .nav-link {
            width: 100%;
            color: var(--color-gray-900);
            border: none;
            transition: none;

            @include text-copy-small(900);

            @include media-breakpoint-up(lg) {
                @include text-copy-standard(900);
            }


            &.active {
                color: var(--color-gray-900);
                border-bottom: 3px solid var(--color-gray-900);
            }

            &:hover,
            &:focus {
                cursor: pointer;
                color: var(--color-white);
                background: var(--color-gray-900);
                border-bottom: 3px solid var(--color-gray-900);
            }
        }
    }
}

.frame-type-container-tabs {
    &:last-child {
        padding-bottom: 0;
    }
    .tab-item__wrapper {
        background: var(--color-white);
        margin: 0;
    }
}

.tab {
    &-content {
        background: var(--color-gray-100);
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
    }

    &-pane {
        padding: 2rem 0;
        margin: auto;

        .frame {
            background: transparent;
            box-shadow: none;
        }
    }

    &-title:not(:first-child) {
        padding-top: 2rem;
    }

    &-item {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            border-bottom: 1px solid var(--color-gray-white);
            padding: .625rem;
            background: var(--color-gray-100);

            @include media-breakpoint-up(lg) {
                padding: .9rem;
            }

            &--active {
                z-index: 1;
                box-shadow: 0 24px 32px 0 var(--color-black);
            }
        }

        &__title {
            display: inline-flex;
            align-items: center;

            @include media-breakpoint-down(md) {
                margin-bottom: .5rem;
            }

            .icon {
                flex-shrink: 0;
                margin-right: 1rem;
            }
        }

        &__detail {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__type {
            padding: .25rem .5rem .125rem .5rem;
            border-radius: .625rem;
            text-transform: uppercase;
            color: var(--color-gray-500);
            @include text-copy-xs-small(700, .5px);
        }

        &__size {
            text-transform: uppercase;
            color: var(--color-gray-500);
            @include text-copy-xs-small;
        }

        &__link {
            @include size(44px);
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid transparent;
            background: transparent;
            border-radius: 50%;


            &:hover, &.fx--hover {
                cursor: pointer;
                color: var(--color-white);
                background: var(--color-gray-900);
            }

            &:active {
                transform: scale(0.9);
                box-shadow: 0 0 0 0.3rem rgba(#000, 0.1);
            }
        }
    }
}

.frame-type-uploads {
    .tab-item__title {
        margin-top: auto;
        margin-bottom: auto;

        span {
            padding-right: 2rem;
            word-break: break-all;
        }
        .icon {
            align-self: flex-start;
            margin-top: 3px;
        }
    }
}


// end of tabs.scss file
