.page-teaser {
    display: grid;
    gap: 1.5rem;
    padding-top: calc(1.5 * var(--content-padding));
    padding-bottom: calc(1.25 * var(--content-padding));

    @include media-breakpoint-up(md) {
        gap: 3.75rem;
        flex-direction: row;
        grid-template-columns: 1fr 1fr;
    }

    &:nth-child(2n-1) {
        justify-content: flex-start;

        .page-teaser__image {
            order: unset;
            @include media-breakpoint-up(lg) {
                margin: 0 0 0 -2rem;
            }
        }
    }

    &__image {
        order: 1;
        width: 100%;
        max-width: 450px;
        @include media-breakpoint-up(lg) {
            margin: 0 -2rem 0 0;
        }
    }

    &__content {
        max-width: 30rem;
    }

    p:not(.copyright__text):last-child {
        margin-bottom: 1rem;
    }
}
