//
//    @tableOfContent
//      1. Text
//


//
//   @section 1. Text
//

.text {
    &--title {
        margin-bottom: 2.5rem;
    }

    &--subTitle {
        margin-bottom: 1.5rem;
    }

    p {
        @include text-copy-standard;
    }

    &--items {
        padding-left: 4rem;
    }

    &--gap {
        .text {
            &__item {
                margin-bottom: 1.5rem;
            }
        }
    }

    &--bold {
        font-weight: 700;
    }

    &--column {
        @include media-breakpoint-up(lg) {
            width: 60.5625rem;
            margin-left: 6rem;
        }

        .text-intro {
            font-size: 20px;
            line-height: 34px;
        }

        .text-copy-small {
            font-weight: 200;
        }
    }

    &-intro {
        + p {
            margin-top: 3rem;
        }
    }
}

.list {
    &-dot {
        list-style: disc;
        @include text-copy-standard(false, .6px);
        margin-left: .375rem;
    }

    &-number {
        @include text-copy-standard;
        &:before {
            content: "";
            padding-right: 1.25rem;
        }

        > ul {
            margin-left: 1.25rem;
        }
    }

    &__tags {
        @include list-reset;

        display: flex;
        margin-left: 1rem;
        margin-bottom: 1.75rem;
    }

    &__tag {
        &:not(:last-child) {
            &::after {
                content: '|';
                display: inline-block;
                margin: 0 .75rem;
            }
        }
    }

    .link--primary + .link--primary {
        margin-top: .75rem;
    }
}


// end of text.scss file
