.topnews {

    display: grid;
    grid-template-columns: 2rem auto 2rem;
    padding: 0 .5rem;
    --current: 0;
    --count: 0;
    --space: 10rem;

    @include media-breakpoint-up(md) {
        grid-template-columns: 4rem auto 4rem;
    }

    @include media-breakpoint-up(lg) {
        grid-template-columns: 8rem auto 8rem;
        margin: calc(1 * var(--content-padding)) 0;
    }


    a:hover {
        text-decoration: none;

        h3, & ~ div h3 {
            text-decoration: underline;
        }
    }

    h3 {
        color: var(--color-primary);
        z-index: 1;
        position: relative;
    }

    &__container {
        overflow: hidden;
        grid-column: 1 / 4;
        grid-row: 1 / 2;

        @include media-breakpoint-up(md) {
            grid-column: unset;
        }

        @include media-breakpoint-up(xxl) {
            grid-column: 1 / 4;
        }
    }

    picture {
        text-align: center;
    }

    img {
        max-width: 80%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        transition: clip-path 0.3s ease, transform 0.2s ease;

        &:hover {
            transform: scale(1.02);
            transition: transform 0.2s ease;
        }
    }

    .topnews__text-main, h3, .card__link--more {
        transition: transform 0.4s ease 0.3s, opacity 0.3s ease 0.4s;
    }

    .topnews__text-main {
        transition-delay: 0.35s, 0.45s;
    }

    .card__link--more {
        display: inline-block;
        transition-delay: 0.4s, 0.5s;
    }

    &.animation {
        img {
            clip-path: polygon(75% 0%, 75% 0%, 25% 100%, 25% 100%);
        }

        .topnews__text-main, h3, .card__link--more {
            transform: translate3d(-100px, 0px, 0);
            opacity: 0;
            transition: transform 0.6s ease 0.1s, opacity 0.4s ease 0s;
        }

        a.active {
            border-color: var(--color-gray-500);
        }

        .topnews__bullets a.active {
            background-color: var(--color-gray-500);
            box-shadow: 0 0 0 0px var(--color-accent);
        }

        .topnews__bullets {
            gap: 0;
        }

        .topnews__bullets a {
            transition-delay: 0s;
        }

    }

    button {
        background: none;
        border: 0;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        z-index: 2;
        transform: translate3d(-1rem, 0, 0);

        @include media-breakpoint-up(xxl) {
            transform: translate3d(-8rem, 0, 0);

            svg {
                width: 3rem;
                height: auto;
            }
        }

        &.next {
            grid-column: 3 / 4;
            transform: translate3d(1rem, 0, 0);

            @include media-breakpoint-up(xxl) {
                transform: translate3d(8rem, 0, 0);
            }
        }


    }

    &__wrapper {
        --gap: calc(var(--count) * var(--space) - var(--space));
        width: calc(100% * var(--count) + var(--gap));
        column-gap: var(--space);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        --translateX: calc((-100% - (var(--gap) / 2)) / var(--count) * var(--current));
        transform: translate3d(var(--translateX), 0, 0);
    }

    &__item {
        display: grid;
        align-content: flex-start;

        @include media-breakpoint-up(lg) {
            grid-template-columns: 1.2fr 1fr min-content;
            gap: 4rem;
            align-content: stretch;

            & > a {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }

            h3 {
                margin: 3rem 0;
                margin-left: -15rem;
            }

            .picture__pattern.pattern {
                margin: 0;
                margin-left: 2rem;
            }

            .picture__pattern.pattern + picture {
                margin-top: 12rem;
                text-align: left;
                margin-bottom: 5rem;
            }
        }
    }

    &__timer {
        display: grid;
        justify-content: flex-end;
        grid-column: 1 / 4;
        margin-top: -2.5rem;
        z-index: 3;

        @include media-breakpoint-up(md) {
            margin: 0;
        }

        @include media-breakpoint-up(lg) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            align-self: center;
            position: relative;
            left: 1.5rem;
        }

        svg:first-child {
            transform: scaleX(.8) translate(3px, 0px);
        }

        svg:last-child {
            display: none;
        }

        &--playing {
            svg:first-child {
                display: none;
            }
            svg:last-child {
                display: block;
            }
            .pie:before {
                animation: pie1 linear infinite 4s;
            }
            .pie2:before {
                animation: pie2 linear infinite 4s;
            }
        }

        &--stop {

        }

        a {
            display: grid;
            align-items: center;
            justify-items: center;
            width: 3rem;
            height: 3rem;
            color: #FFF;
        }

        svg, .pie, .pie2, .circle, .dot {
            grid-column: 1/ 2;
            grid-row: 1/ 2;
        }

        .circle {
            display: grid;
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
            background: var(--color-primary);
        }

        .dot {
            display: grid;
            width: 2.8rem;
            height: 2.8rem;
            border-radius: 100%;
            background: var(--color-primary);
            z-index: 3;
            align-items: center;
            justify-items: center;
            border: 2px solid #FFF;
        }

        .pie, .pie2 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            --w: 3rem;
            --p: 60;
            --c: white;
            width: var(--w);
            aspect-ratio: 1;
            display: inline-grid;
            place-content: center;
            font-weight: bold;
            font-family: sans-serif;
            position: relative;
        }

        .pie {
            clip-path: inset(0 0 0 50%);
        }

        .pie2 {
            clip-path: inset(0 50% 0 0);
        }

        .pie:before, .pie2:before {
            content: "";
            position: absolute;
            border-radius: 50%;
            inset: 0;
            background: conic-gradient(var(--c) 50%, #0000 0);
            z-index: 1;
        }

        .pie2:before {
            transform: rotate(180deg);
        }

        @keyframes pie2 {
            50% {
                transform: rotate(180deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes pie1 {
            0% {
                transform: rotate(0deg);
            }
            50% {
                transform: rotate(180deg);
            }
            100% {
                transform: rotate(180deg);
            }
        }
    }

    &__text {
        max-width: 80%;
        justify-self: center;
    }

    &__bullets {
        display: flex;
        gap: 1.2rem;
        grid-column: 1 / 4;
        justify-content: center;
        margin-bottom: 1rem;
        transition: gap 0.3s ease 0s;

        @include media-breakpoint-up(md) {
            margin: 1rem 0 2rem;
        }

        @include media-breakpoint-up(lg) {
            grid-column: unset;
            order: 3;
            flex-direction: column;
        }

        a {
            display: inline-block;
            width: 8px;
            height: 8px;
            background-color: var(--color-gray-500);
            box-shadow: 0 0 0 var(--color-accent);
            border-radius: 100%;
            transition: all 0.2s ease 0s;
            margin: 4px;

            &.active {
                background-color: var(--color-gray-100);
                box-shadow: 0 0 0 4px var(--color-accent);
            }

            &:not(.active):hover {
                --color-accent: var(--color-gray-100);
                transition-delay: 0s;
                box-shadow: 0 0 0 4px var(--color-gray-100);
            }
        }
    }
}
