//
//    @tableOfContent
//      1. Employee header
//


//
//   @section 1. Employee header
//

.employee-header {
    display: flex;
    gap: 2rem;
    padding: 1rem;

    &__image {
        order: -1;
    }
}

// end of employee-header.scss file
