<!-- Component Start: hero -->

<div class="hero">
    <h1 class="hero__title">{{ title }}</h1>
    {% if subTitle %}
        <p class="hero__sub-title h3">{{ subTitle }}</p>
    {% endif %}
    {% if info %}
        <p class="hero__info">{{ info }}</p>
    {% endif %}
    {% block content %}{% endblock content %}
</div>

<!-- Components End: hero -->
