<!-- Styleguide Start: icon -->

<div class="styleguide styleguide--icons">
    <h2 class="h4">Feather Icons: 24px</h2>
    <ul class="styleguide__items">
        {% for icon in icons %}
            <li class="styleguide__item">
                <div class="styleguide__header">
                    {% include '@components/icon/icon.twig' with { 'icon': icon.name } %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<!-- Styleguide End: icon -->
