{% extends "@layouts/default--with-sidebar.twig" %}
{% block main %}
    {% include '@components/employee/employee-header.twig' with {
        title: 'Ammon, Lisa',
        texts: ['Barriere B', 'W410 – Zentrales Tierlabor'],
        image: {
            src: '../../dist/image/examples/user.jpg'
        }
    } only %}

    <div class="testblubb"> {# @todo Klasse umbennen #}
        <h2>Über mich</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
            massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
            enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
            mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
            vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend
            ac, enim.
        </p>

        {# @todo eventuell besser als tag-Komponente #}
        {% include '@components/list/list.twig' with {
            title: 'Meine Kompetenzen:',
            items: prototype.tags.skills
        } only %}

        {% include '@components/list/list.twig' with {
            title: 'Fachliche Themen, die mich interessieren:',
            items: prototype.tags.technical
        } only %}

        {% include '@components/list/list.twig' with {
            title: 'Meine Hobbys:',
            items: prototype.tags.hobby
        } only %}
    </div>
{% endblock main %}

{% block sidebarHeader %}
    <h3>Kontakt</h3>
    {% include '@components/contact/contact.twig' with {
        title: 'Mitarbeiterin',
        contacts: prototype.contact.main
    } only %}
{% endblock sidebarHeader %}
{% block sidebarBody %}
    <h3>Kontakt Abteilung</h3>
    <p>W410 – Zentrales Tierlabor</p>

    {% include '@components/contact/contact.twig' with {
        title: 'Leitung',
        contacts: prototype.contact.department.director
    } only %}

    {% include '@components/contact/contact.twig' with {
        title: 'Sekretariat',
        contacts: prototype.contact.department.secretary
    } only %}
{% endblock sidebarBody %}

