<!-- Component Start: table -->

<table class="table table-striped col-12 col-md-9">
    <caption>*Abbuchung 31.12. + 30.06. jeden Jahres </caption>
    <thead>
    <tr class="table-title">
        <th scope="col">Kategorie</th>
        <th scope="col">RNV-Beitrag <br/>
            (monatlich)</th>
        <th scope="col">Grundbeitrag <br/>
            (monatlich)</th>
        <th scope="col">Grundbeitrag für RNV <br/>
            (halbjährlich)*</th>
        <th scope="col">Gesamtpreis <br/>
            (monatlich)</th>
    </tr>
    </thead>
    <tbody class="table-body">
    <tr>
        <td>1</td>
        <td>46,60 €</td>
        <td>13,50 €</td>
        <td>81,00 € (6 x 13,50 €)</td>
        <td>60,10 €</td>
    </tr>
    <tr>
        <td>2</td>
        <td>46,60 €</td>
        <td>13,50 €</td>
        <td>81,00 € (6 x 13,50 €)</td>
        <td>60,10 €</td>
    </tr>
    <tr>
        <td>3</td>
        <td>46,60 €</td>
        <td>13,50 €</td>
        <td>81,00 € (6 x 13,50 €)</td>
        <td>60,10 €</td>
    </tr>
    </tbody>
</table>

<!-- Components End: table -->
