{namespace bw=Blueways\BwGuild\ViewHelpers}
<div class="orders__item card card__content" id="address__label-{offer.uid}">
	<h3>{offer.title}</h3>
	<p>
		<f:format.crop maxCharacters="100">{offer.description->f:format.stripTags()}</f:format.crop>

	<br />
	<f:link.action pageUid="{showPid}" action="show" controller="Offer" arguments="{offer: offer.uid}">Show offer</f:link.action>
	<f:if condition="{bw:isEditable(offer: offer)} && {settings.editPid}}">
		<br /><f:link.action pageUid="{settings.editPid}" action="edit" controller="Offer" arguments="{offer: offer.uid}">Edit offer
		</f:link.action>
		<br /><f:link.action pageUid="{settings.editPid}" action="delete" controller="Offer" arguments="{offer: offer.uid}">Delete offer
		</f:link.action>
	</f:if>

	</p>
</div>
