div.table {

    .label {
        font-weight: bold;
        margin-bottom: .1rem;
    }

    .username {
        @include media-breakpoint-down(xl) {
            font-size: 1.3em;
            font-weight: bold;
        }
    }

    p, ul {
        margin: 0;
    }

    p:empty:after {
        content: '-';
    }

    &__header {
        display: grid;
        grid-template-columns: 80px 150px 250px auto 120px;
        column-gap: 1rem;
        border-bottom: 1px solid $black;
        padding: .5rem;
    }

    &__row {
        display: grid;
        margin-bottom: var(--content-padding);
        gap: 1rem;
        padding: .5rem;

        &:nth-child(2n-1) {
            background: var(--color-gray-white-reversed);
        }

        @include media-breakpoint-up(sm) {
            grid-template-columns: min-content auto;
            column-gap: 1rem;
            grid-template-areas:
            "username username"
            "picture contact"
            "responsibilities responsibilities"
            "representative representative";

            @each $area in username, picture, contact, responsibilities, representative {
                .#{$area} {
                    grid-area: $area;
                }
            }
        }

        @include media-breakpoint-up(xl) {
            grid-template-columns: min-content 150px 250px auto 120px;
            grid-template-areas: "picture username contact responsibilities representative";
            padding: .75rem;
            margin-bottom: 0;
        }
    }

}
