//
//    @tableOfContent
//      1. Hero
//


//
//   @section 1. Hero
//

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 5rem;
    text-align: center;

    @include media-breakpoint-up(xxl) {
        padding-bottom: 1rem;
    }

    &--with-image {
        margin: 0 var(--default-overflow-margin-negative);
    }

    button {
        margin-top: 1.5rem;

        @include media-breakpoint-up(xl) {
            margin-bottom: -1.5rem;
        }
    }

    &__sub-title {
        font-family: var(--font-family-sans-serif);
        font-weight: 200;
        font-size: 36px;
        line-height: 50px;
        letter-spacing: -0.3px;
    }

    &-teaser {
        display: grid;
        margin-top: var(--space-lg);
        text-align: left;
        justify-items: center;

        &__no-image {
            display: flex;
            gap: var(--space-lg);

            .hero-teaser__contact {
                margin: 0 var(--default-overflow-margin-negative) 0 0;
                position: relative;
                flex: .5;
                order: 2;
                max-width: unset;
                align-self: flex-start;
                margin-top: 5rem;
            }

            .hero-teaser__text {
                flex: 1;
                order: 1;
            }
        }

        &__copyright {
            grid-column: 1/2;
            grid-row: 1/2;
            justify-self: flex-start;
            align-self: flex-end;
            padding: 0.5rem 1rem 0.5rem 1rem;
            background-color: var(--color-gray-900);
            color: #FFF;
            margin-bottom: 4rem;
        }

        &__image {
            display: grid;
            grid-column: 1/2;
            grid-row: 1/2;

            .picture__pattern {
                grid-column: 1/2;
                grid-row: 1/2;
                width: 90%;
                height: 90%;
            }

            figure {
                grid-column: 1/2;
                grid-row: 1/2;
                margin: 1rem 0 0 1rem;

                .picture__caption {
                    margin-bottom: 0;
                }
            }
        }

        &__contact {
            justify-self: left;
            margin: .5rem 0 0 0;
            max-width: fit-content;
            max-height: fit-content;
            height: fit-content;
            align-self: flex-end;

            @include media-breakpoint-up(sm) {
                grid-column: 1/2;
                grid-row: 1/2;
                justify-self: right;
                margin: 0 -1rem 0 0;
            }

            .contact {
                background: var(--color-primary-opacity-10);
                padding: 2.5rem 2.5rem 1rem;
            }
        }

        &__text {
            margin-top: 33px;
            width: 100%;
            max-width: var(--content-width);
        }
    }
}


.background--image-hero {
    --background-image: var(--background-image-webp);
    background-image: var(--background-image);

    .no-webp & {
        --background-image: var(--background-image-jpg);
    }

    @include media-breakpoint-up(md) {
        --background-image: var(--background-image-webp-md);
        .no-webp & {
            --background-image: var(--background-image-jpg-md);
        }
    }

    @include media-breakpoint-up(lg) {
        --background-image: var(--background-image-webp-lg);
        .no-webp & {
            --background-image: var(--background-image-jpg-md);
        }
    }

    @include media-breakpoint-up(xl) {
        --background-image: var(--background-image-webp-xl);
        .no-webp & {
            --background-image: var(--background-image-jpg-xl);
        }
    }

    @include media-breakpoint-up(xxl) {
        --background-image: var(--background-image-webp-xxl);
        .no-webp & {
            --background-image: var(--background-image-jpg-xxl);
        }
    }

    &.layout__item {
        &.background--expanded {
            &::after {
                bottom: -21rem;
            }
        }
    }
}

// end of hero.scss file
