//
//    @tableOfContent
//      1. Size
//      2. List reset
//      3. Fonts
//      4. Styled scrollbars
//      5. Styled slider
//      6. Hyphens
//


//
//    @section 1. Size
//

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}


//
//    @section 2. List reset
//

@mixin list-reset() {
    margin: 0;
    padding: 0;
    list-style: none;
}


//
//    @section 3. Fonts
//




//
//    @section 4. Styled scrollbars
//

//@mixin styled-scrollbars($size: .25em) {
//    // firefox
//    scrollbar-color: var(--color-opacity-black-2) var(--color-opacity-black-1);
//    scrollbar-width: thin;
//
//    // webkit
//    &::-webkit-scrollbar {
//        @include size($size, 0);
//    }
//
//    //&::-webkit-scrollbar-track {}
//
//    &::-webkit-scrollbar-thumb {
//        background-color: $color-black-opacity-2;
//        outline: 0;
//    }
//}


//
//    @section 5. Styled slider
//

//@mixin slider__track {
//    width: 100%;
//    height: 2px;
//    margin-right: -.5rem;
//    margin-left: -.5rem;
//    background-image:
//        linear-gradient(
//            to right,
//            transparent 1rem,
//            $color-secondary 1rem,
//            $color-primary calc(100% - 1rem),
//            transparent calc(100% - 1rem)
//        );
//    cursor: pointer;
//    transition: background-color $transition-time;
//}
//
//@mixin slider__thumb {
//    position: relative;
//    top: 1px;
//    width: 2rem;
//    height: 2rem;
//    margin-top: -1rem;
//    background-color: transparent;
//    // stylelint-disable max-line-length
//    background-image: radial-gradient(circle at center, $color-primary 20%, $color-primary 35%, $color-primary-opacity-0 40%);
//    // stylelint-enable max-line-length
//    border: 0;
//    border-radius: 50%;
//    cursor: pointer;
//    transition: transform $transition-time;
//
//    &:hover,
//    &:focus {
//        transform: scale3d(1.25, 1.25, 1);
//    }
//}


//
//    @section 6. Hyphens
//

@mixin hyphens($status: true) {
    @if $status {
        overflow-wrap: break-word;
        hyphens: auto;
        word-wrap: break-word;
    } @else {
        overflow-wrap: normal;
        hyphens: none;
        word-break: normal;
    }
}

// end of app-mixins.scss file
