//
//    @tableOfContent
//      1. Basic variables scss
//


//
//   @section 1. Basic variables scss
//

// timing
$transition-time: 300ms;

// colors
$color-primary: rgb(0, 71, 185); // #0047b9;
$color-secondary: #f00;
$color-cyan: #009ee3;
$color-gray-100: rgb(238, 238, 238); // #eee;
$color-gray-900: rgb(17, 17, 17); // #111;
$color-white: #fff;

// typography
$font-headline: 'The Serif', sans-serif;

// end of basic-variables-scss.scss file
