//
//    @tableOfContent
//      1. Basic variables css
//      2. Colors
//      3. Typography
//


:root {
    //
    //   @section 1. Global
    //

    // timing
    --transition-time: #{$transition-time};


    //
    //   @section 2. Colors
    //

    --color-primary: #{$color-primary};
    --color-primary-opacity-10: #{$color-primary-opacity-10};
    --color-secondary: #{$color-secondary};
    --color-cyan: #{$color-cyan};
    --color-blue-900: #{$color-blue-900};
    --color-green: #{$color-green};
    --color-green-light: #{$color-green-light};
    --color-yellow: #{$color-yellow};
    --color-orange: #{$color-orange};
    --color-magenta: #{$color-magenta};
    --color-purple: #{$color-purple};
    --color-gray-100: #{$color-gray-100};
    --color-gray-200: #{$color-gray-200};
    --color-gray-700: #{$color-gray-700};
    --color-gray-900: #{$color-gray-900};


    //
    //   @section 3. Typography
    //

    --font-family-serif: #{$font-family-serif};
    --font-family-sans-serif: #{$font-family-sans-serif};
}

// end of basic-variables-css.scss file
