//
//    @tableOfContent
//      1. Size
//      2. List reset
//      3. Fonts
//      4. Styled scrollbars
//      5. Styled slider
//      6. Hyphens
//


//
//    @section 1. Size
//

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}


//
//    @section 2. List reset
//

@mixin list-reset() {
    margin: 0;
    padding: 0;
    list-style: none;
}


//
//    @section 3. Fonts
//


//
//    @section 4. Styled scrollbars
//

//@mixin styled-scrollbars($size: .25em) {
//    // firefox
//    scrollbar-color: var(--color-opacity-black-2) var(--color-opacity-black-1);
//    scrollbar-width: thin;
//
//    // webkit
//    &::-webkit-scrollbar {
//        @include size($size, 0);
//    }
//
//    //&::-webkit-scrollbar-track {}
//
//    &::-webkit-scrollbar-thumb {
//        background-color: $color-black-opacity-2;
//        outline: 0;
//    }
//}


//
//    @section 5. Styled slider
//

// @todo aufräumen


//
//    @section 6. Hyphens
//

@mixin hyphens($status: true) {
    @if $status {
        overflow-wrap: break-word;
        hyphens: auto;
        word-wrap: break-word;
    } @else {
        overflow-wrap: normal;
        hyphens: none;
        word-break: normal;
    }
}

// end of app-mixins.scss file
