//
//    @tableOfContent
//      1. Size
//      2. List reset
//      3. Pattern
//      4. Styled scrollbars
//      5. Styled slider
//      6. Hyphens
//


//
//    @section 1. Size
//

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}


//
//    @section 2. List reset
//

@mixin list-reset() {
    margin: 0;
    padding: 0;
    list-style: none;
}


//
//    @section 3. Pattern
//

@mixin background-pattern($color: $color-primary) {
    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><path d="M9.354,11.354L11.354,9.354L10.646,8.646L8.646,10.646L9.354,11.354ZM0.354,10.354L10.354,0.354L9.646,-0.354L-0.354,9.646L0.354,10.354ZM-0.646,1.354L1.354,-0.646L0.646,-1.354L-1.354,0.646L-0.646,1.354Z" style="fill:#{$color};"/></svg>');
}


//
//    @section 4. Styled scrollbars
//

//@mixin styled-scrollbars($size: .25em) {
//    // firefox
//    scrollbar-color: var(--color-opacity-black-2) var(--color-opacity-black-1);
//    scrollbar-width: thin;
//
//    // webkit
//    &::-webkit-scrollbar {
//        @include size($size, 0);
//    }
//
//    //&::-webkit-scrollbar-track {}
//
//    &::-webkit-scrollbar-thumb {
//        background-color: $color-black-opacity-2;
//        outline: 0;
//    }
//}


//
//    @section 5. Styled slider
//

// @todo aufräumen


//
//    @section 6. Hyphens
//

@mixin hyphens($status: true) {
    @if $status {
        overflow-wrap: break-word;
        hyphens: auto;
        word-wrap: break-word;
    } @else {
        overflow-wrap: normal;
        hyphens: none;
        word-break: normal;
    }
}

// end of app-mixins.scss file
