//
//    @tableOfContent
//      1. Basic
//      2. Startpage layout
//


//
//   @section 1. Basic
//

body {
    font-family: $font-family-sans-serif;
    font-weight: 200;
    font-variant-numeric: oldstyle-nums;
    background-color: transparent; // @todo die bootstrap variable überschreiben
}

.app {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    max-width: $container-expand-widths + 1rem;
    min-height: 100vh;
    margin: 0 auto;
    padding-right: .5rem;
    padding-left: .5rem;
}

// @todo eventuell auslagern
.main {
    &--default {
        max-width: $container-default-widths;
        margin: auto;
    }

    &--with-sidebar {
        display: grid;
        grid-template-columns: 1fr 20rem;
        max-width: $container-default-widths + 2rem;
        margin: auto;

        // @todo umbennen
        .testblubb {
            position: relative;
            padding-top: 2rem;
            padding-bottom: 2rem;
            background-color: var(--color-white);

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: -31.875rem;
                bottom: 0;
                left: -11.875rem;
                z-index: -1;
                background-color: inherit;
            }
        }
    }
}

// @todo eventuell auslagern
.article {
    padding: 0 7rem;
}

// @todo eventuell auslagern
.sidebar {
    background-color: var(--color-primary-opacity-10);

    &__header {
        padding: 1rem;
        color: var(--color-white);
        background-color: var(--color-primary);
    }

    &__body {
        padding: 1rem;
    }
}


//
//   @section 2. Startpage layout
//

.layout {
    // https://stackoverflow.com/questions/55851493/break-out-with-css-grid
    display: grid;
    grid-template-columns:
        [full-start] minmax(0, 1fr)
        [main-start] minmax(0, $container-default-widths)
        [main-end] minmax(0, 1fr)
        [full-end];
    gap: 2rem 0;
    margin: auto;
    padding-top: 11.25rem; // @todo variable

    @include media-breakpoint-up(lg) {
        gap: 4rem;
    }

    &__item {
        grid-column: main;
        position: relative;

        &.fx--expanded {
            grid-column: full;
        }

        &.background--expanded {
            background-color: transparent;

            &::after {
                top: -10rem;
                bottom: -10rem;
            }
        }

        &.background--orange {
            &::after {
                background-color: var(--color-orange);
            }
        }

        &.background--yellow {
            &::after {
                background-color: var(--color-yellow);
            }
        }

        &.background--cyan {
            &::after {
                background-color: var(--color-cyan);
            }
        }

        &.background--image {
            background-size: 0; // hide image

            &::after {
                background-image: inherit;
                background-position: 50% 50%;
                background-size: cover;
                transform: translateX(-50%);
            }
        }
    }
}

// @todo umbennen
[class*="foo--"] {
    display: grid;
    gap: 1rem;
}

.foo--50-50 {
    grid-template-columns: 1fr 1fr;
}

.foo--75-25 {
    grid-template-columns: 2fr 1fr;
}

.foo--25-75 {
    grid-template-columns: 1fr 2fr;
}

// @todo umbennen
.bar {
    position: relative;
    z-index: 1;
    padding: 1rem;
    background-color: rgba(255,255,255,.8); // @todo variable
    backdrop-filter: blur(20px); // @todo variable
}

// @todo aufräumen > für footer
ul > li {
    list-style: none;
}

.list-inline {
    display: inline-flex;

    li {
        margin-right: 1rem;
    }
}

// @todo umbennen bzw so bauen das es generischere funktioniert
.list-view {
    padding-right: 4rem;
    padding-left: 4.25rem;
}

// end of basic.scss file
