//
//    @tableOfContent
//      1. Basic
//      2. Startpage layout
//


//
//   @section 1. Basic
//

body {
    font-family: $font-family-sans-serif;
    background-color: $color-gray-100;
}

.app {
    position: relative;
    z-index: 1;
    max-width: $container-expand-widths + 1rem;
    margin: auto;
    padding-right: .5rem;
    padding-left: .5rem;
    // background-color: #b3d4fc;
}


//
//   @section 2. Startpage layout
//

.layout {
    // https://stackoverflow.com/questions/55851493/break-out-with-css-grid
    display: grid;
    grid-template-columns:
        [full-start] minmax(0, 1fr)
        [main-start] minmax(0, $container-medium-widths)
        [main-end] minmax(0, 1fr)
        [full-end];
    gap: 2rem 0;
    margin: auto;
    padding-top: 11.25rem; // @todo variable

    @include media-breakpoint-up(lg) {
        gap: 4rem;
    }

    &__item {
        grid-column: main;
        position: relative;

        &.fx--expanded {
            grid-column: full;
        }

        &.background--expanded {
            background-color: transparent;

            &::after {
                top: -10rem;
                bottom: -10rem;
            }
        }

        &.background--orange {
            &::after {
                background-color: var(--color-orange);
            }
        }

        &.background--yellow {
            &::after {
                background-color: var(--color-yellow);
            }
        }

        &.background--cyan {
            &::after {
                background-color: var(--color-cyan);
            }
        }

        &.background--image {
            background-size: 0; // hide image

            &::after {
                background-image: inherit;
                background-position: 50% 50%;
                background-size: cover;
                transform: translateX(-50%);
            }
        }
    }
}

// @todo umbennen
[class*="foo--"] {
    display: grid;
    gap: 1rem;
}

.foo--50-50 {
    grid-template-columns: 1fr 1fr;
}

.foo--75-25 {
    grid-template-columns: 2fr 1fr;
}

.foo--25-75 {
    grid-template-columns: 1fr 2fr;
}

// @todo umbennen
.bar {
    position: relative;
    z-index: 1;
    padding: 1rem;
    background-color: rgba(255,255,255,.8); // @todo variable
    backdrop-filter: blur(20px); // @todo variable
}

//
ul > li {
    list-style: none;
}

.list-inline {
    display: inline-flex;

    li {
        margin-right: 1rem;
    }
}
// end of basic.scss file
