//
//    @tableOfContent
//      1. Basic variables css
//


:root {
    //
    //   @section 1. Global
    //

    // timing
    --transition-time: #{$transition-time};


    //
    //   @section 2. Colors
    //

    --color-primary: #{$color-primary};
    --color-secondary: #{$color-secondary};
    --color-gray-900: #{$color-gray-900};
}

// end of basic-variables-css.scss file
