//
//    @tableOfContent
//      1. Basic variables scss
//


//
//   @section 1. Basic variables scss
//

// timing
$transition-time: 300ms;

// colors
$color-primary: #0f0;
$color-secondary: #f00;

// end of basic-variables-scss.scss file
