<!-- Component Start: navigation--anchor -->

<nav class="navigation--anchor">
    <button class="navigation--anchor-button left" aria-label="Zurück">
        {% include '@components/icon/icon.twig' with {'icon': 'chevron-left'} %}
    </button>
    <ul class="navigation--anchor--items">
        <li class="navigation--anchor__item">
            <a class="navigation--anchor__link" href="#Kontakt & Ansprechpartner">Kontakt & Ansprechpartner</a>
        </li>
        <li class="navigation--anchor__item">
            <a class="navigation--anchor__link" href="#Aufzählungen & Nummerierungen">Aufzählungen & Nummerierungen</a>
        </li>
        <li class="navigation--anchor__item">
            <a class="navigation--anchor__link" href="#Tabellen">Tabellen</a>
        </li>
        <li class="navigation--anchor__item">
            <a class="navigation--anchor__link" href="#Tabelement">Tabelement</a>
        </li>

        <li class="navigation--anchor__item">
            <a class="navigation--anchor__link" href="#Kontakt & Ansprechpartner">Kontakt & Ansprechpartner</a>
        </li>
        <li class="navigation--anchor__item">
            <a class="navigation--anchor__link" href="#Aufzählungen & Nummerierungen">Aufzählungen & Nummerierungen</a>
        </li>
        <li class="navigation--anchor__item">
            <a class="navigation--anchor__link" href="#Tabellen">Tabellen</a>
        </li>
        <li class="navigation--anchor__item">
            <a class="navigation--anchor__link" href="#Tabelement">Tabelement</a>
        </li>
    </ul>
    <button class="navigation--anchor-button right" aria-label="Next">
        {% include '@components/icon/icon.twig' with {'icon': 'chevron-right'} %}
    </button>
</nav>

<!-- Components End: navigation--anchor -->
