<!-- Styleguide Start: fonts -->

<div class="styleguide styleguide--fonts">
    <div class="styleguide__sections">
        {% for font in fonts %}
            <div class="styleguide__section">
                <h2>{{ font.title }}</h2>
                <ul class="styleguide__items">
                    {% for style in font.styles %}
                        <li class="styleguide__item">
                            <div class="styleguide__header {{ font.class }}" style="font-weight: {{ style.weight }};">Aa</div>
                            <div class="styleguide__body">
                                <p>
                                    <span class="visually-hidden">Font:</span> {{ style.title }}
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Styleguide End: fonts -->
