body.open-lightbox {
    overflow-x: hidden;

    .lightbox {
        display: grid;
        animation: opacityIn 0.4s ease;
    }

    .lightbox__content {
        animation: moveIn 0.4s ease;
        animation-fill-mode: forwards;
    }
}

@keyframes opacityIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveIn {
    0% {
        transform: translate3d(0, 100px, 0);
        opacity: 0
    }
    30% {
        transform: translate3d(0, 100px, 0);
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.lightbox {
    display: none;
    position: fixed;
    width: calc(100vw);
    height: calc(100vh);
    background-color: rgba(#000, 0.5);
    top: 0;
    left: 0;
    z-index: 100;
    padding: var(--space-xl) var(--space-sm);
    overflow-x: scroll;
    align-items: flex-start;
    backdrop-filter: blur(5px);

    &--closing {
        transition: opacity 0.2s ease;
        opacity: 0;
    }

    &--loading {
        .lightbox__loader {
            display: flex;
        }
    }

    &__content {
        background: #FFF;
        max-width: calc(100vw - var(--space-lg));
        width: 100%;
        margin: 0 auto;
        padding: var(--space-lg);
        display: grid;
        opacity: 0;
        min-height: 40vh;

        @include media-breakpoint-up(md) {
            max-width: calc(800px - var(--space-lg));
        }
    }

    &__wrap {
        width: calc(800px - 3 * var(--space-lg));
        transition: all 0.3s ease;

        &:empty {
            max-width: none;
            width: 300px;
        }
    }

    &__close, &__wrap, &__loader {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    &__close {
        justify-self: right;
        width: var(--space-lg);
        height: var(--space-lg);
        position: relative;
        top: calc(-0.95 * var(--space-lg));
        right: calc(-0.9 * var(--space-lg));
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__loader {
        display: none;
        justify-content: center;
        align-items: center;
        background-color: rgba(#FFF, 0.75);
    }

}
