//
//    @tableOfContent
//      1. Accordion
//          1.1 Accordion with number
//


//
//   @section 1. Accordion
//

.accordion {
    margin-bottom: var(--space-doubled);

    &__items {
        position: relative;
        padding-top: var(--space-doubled);
        padding-left: 0;
        list-style-type: none;

        &--title {
            display: flex;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid var(--color-gray-100);
            margin-top: 55px;
            margin-bottom: 0;
        }

        &--subtitle {
            margin-bottom: 0;
        }
    }

    &__item {
        padding-left: 0;
        list-style-type: none;

        .frame {
            background: transparent;
            box-shadow: none;
        }
    }

    &-collapse {
        background: var(--color-gray-100);
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
    }

    &-button {
        padding-left: 0;
        border-bottom: 1px solid var(--color-gray-300);

        &[aria-expanded="true"] {
            border-bottom: 3px solid var(--color-gray-900);
        }

        &::after {
            @include svg-icon-plus($color-black);
        }

        &:not(.collapsed) {
            color: inherit;
            background: transparent;

            &::after {
                @include svg-icon-minus($color-black);
            }
        }

        &--description {
            font-family: $font-family-sans-serif;
        }

        &:hover {
            background-color: #111;
            color: $color-white;

            &::after {
                @include svg-icon-plus($color-white);
            }

            &:not(.collapsed) {

                &::after {
                    @include svg-icon-minus($color-white);
                }
            }
        }
    }

    &-body {
        position: relative;
        padding: var(--space-doubled) 0;
        max-width: $container-md-widths;
        margin: auto;

        >.frame:first-child {
            margin-top: var(--space-xl);
        }

        // infobox in accordion
        .infobox {
            background-color: transparent;

            &:after {
                left: 0;
                z-index: 0;
                width: var(--space-unit);
            }

            &.color__border {
                &:after {
                    left: 100%;
                }

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -1rem;
                    right: 0;
                    left: var(--space-doubled);
                    height: var(--space-unit);
                    background-image: var(--pattern-url);
                }
            }
        }

        .table-striped  {
            .table-body {
                tr:nth-of-type(even) {
                    background: var(--color-white);
                }
            }
        }
    }

    .icon {
        &:before {
            @include size(1rem);
            margin-right: var(--space-xs);
        }
    }

    //
    //   @section 1.1 Accordion width number
    //

    &--numbered {
        counter-reset: section;

        .accordion__items {
            &--title {
                counter-reset: subsection;

                &:before {
                    counter-increment: section;
                    content: counter(section) ". ";
                    padding-right: var(--space-xs);
                }
            }
        }

        .accordion {
            &-button {
                &:before {
                    counter-increment: subsection;
                    content: counter(section) "." counter(subsection) " ";
                    padding-right: var(--space-xs);
                }
            }
        }
    }
}

.frame-type-container-accordion {
    width: 100%;
    max-width: 100%;
    +.frame-type-container-accordion {
        margin-top: 0;

        .content-wrapper__header {
            .h3 {
                margin-top: var(--space-xxl);
            }
        }
    }

    .tab-item__wrapper {
        background: var(--color-white);
        margin: 0;
    }

    .content-wrapper__content-text {
        display: inline-block;
    }
}


// end of accordion.scss file
