//
//    @tableOfContent
//      1. Accordion
//          1.1 Accordion with number
//


//
//   @section 1. Accordion
//

.accordion {
    margin-bottom: 2rem;

    &__items {
        position: relative;
        padding-top: 2rem;
        padding-left: 0;
        list-style-type: none;

        &--title {
            display: flex;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid var(--color-gray-100);
        }

        &--subtitle {
            margin-bottom: 0;
        }
    }

    &__item {
        padding-left: 0;
        list-style-type: none;
    }

    &-button {
        padding-left: 0;
        border-bottom: 1px solid var(--color-gray-300);

        &[aria-expanded="true"] {
            border-bottom: 3px solid var(--color-gray-900);
        }

        &::after {
            background-image: url(map-get($sprites, 'plus'));
        }

        &:not(.collapsed) {
            color: inherit;
            background: transparent;

            &::after {
                background-image: url(map-get($sprites, 'minus'));
            }
        }

        &--description {
            font-family: $font-family-sans-serif;
        }
    }

    &-body {
        position: relative;
        padding: 2rem 0;
        background: var(--color-gray-100);

        // infobox in accordion
        .infobox {
            background-color: transparent;

            &:after {
                left: 0;
                z-index: 0;
                width: 1rem;
            }

            &.color__border {
                &:after {
                    left: 100%;
                }

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -1rem;
                    right: 0;
                    left: 2rem;
                    height: 1rem;
                    background-image: var(--pattern-url);
                }
            }
        }

        .table-striped  {
            .table-body {
                tr:nth-of-type(even) {
                    background: var(--color-white);
                }
            }
        }
    }

    .icon {
        &:before {
            @include size(1rem);
            margin-right: .5rem;
        }
    }

    //
    //   @section 1.1 Accordion width number
    //

    &--numbered {
        counter-reset: section;

        .accordion__items {
            &--title {
                counter-reset: subsection;

                &:before {
                    counter-increment: section;
                    content: counter(section) ". ";
                    padding-right: .5rem;
                }
            }
        }

        .accordion {
            &-button {
                &:before {
                    counter-increment: subsection;
                    content: counter(section) "." counter(subsection) " ";
                    padding-right: .5rem;
                }
            }
        }
    }
}


// end of accordion.scss file
