<div class="app">
    {% include "@components/header/header.twig" %}
    <main class="main main--default">
{#        {% block hero %}{% endblock hero %}#}
{#        {% block title %}{% endblock title %}#}
        {% block content %}{% endblock content %}
    </main>
    {% include "@components/footer/footer.twig" %}
</div>
