<div class="app">
    {% include "@components/header/header.twig" %}
    <main class="main main--default">
        {% block hero %}{% endblock %}
        {% block title %}{% endblock %}
        {% block content %}{% endblock %}
    </main>
{#    {% include "@components/footer/footer.twig" %}#}
</div>
