<h1>{offers->f:count()} Angebote</h1>

<div class="orders__search">
	<f:form action="list" name="demand" controller="Offer" object="{demand}">

		<label> In Umgebung von
			<f:form.textfield property="searchDistanceAddress"/>
			<f:form.textfield property="maxDistance"/>
			km </label>

		<button type="submit" class="button hollow small">
			<span>Ansicht aktualisieren</span>
			<span class="icon-refresh"></span>
		</button>
	</f:form>
</div>
<f:if condition="{settings.map.enabled} == '1'">
	<f:render partial="Offer/Maps" section="{settings.map.rendering}" arguments="{addresses:offers,settings:settings}"/>
</f:if>
<div class="orders orders--list">
	<f:render partial="Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}"/>
	<f:for each="{pagination.paginator.paginatedItems}" as="offer">
		<f:render partial="Offer/Item" arguments="{offer: offer, showPid: settings.showPid}"/>
	</f:for>
	<f:render partial="Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}"/>
</div>
