<!-- Component Start: navigation--anchor -->

<nav id="nav-anchor" class="navigation navigation--anchor">
    <div class="navigation--anchor-outer">
        <div class="navigation--anchor-middle">
            <button class="navigation--anchor-button right" aria-label="Next">
                {% include '@components/icon/icon.twig' with {'icon': 'chevron-right'} %}
            </button>
            <ul class="nav navigation--anchor-inner">
                <li class="navigation--anchor__item">
                    <a class="navigation--anchor__link" href="#Kontakt & Ansprechpartner">Kontakt & Ansprechpartner</a>
                </li>
                <li class="navigation--anchor__item">
                    <a class="navigation--anchor__link" href="#Aufz채hlungen & Nummerierungen">Aufz채hlungen & Nummerierungen</a>
                </li>
                <li class="navigation--anchor__item">
                    <a class="navigation--anchor__link" href="#Tabellen">Tabellen</a>
                </li>
                <li class="navigation--anchor__item">
                    <a class="navigation--anchor__link" href="#Tabelement">Tabelement</a>
                </li>

                <li class="navigation--anchor__item">
                    <a class="navigation--anchor__link" href="#Kontakt & Ansprechpartner">Kontakt & Ansprechpartner</a>
                </li>
                <li class="navigation--anchor__item">
                    <a class="navigation--anchor__link" href="#Aufz채hlungen & Nummerierungen">Aufz채hlungen & Nummerierungen</a>
                </li>
                <li class="navigation--anchor__item">
                    <a class="navigation--anchor__link" href="#Tabellen">Tabellen</a>
                </li>
                <li class="navigation--anchor__item">
                    <a class="navigation--anchor__link" href="#Tabelement">Tabelement</a>
                </li>
            </ul>


        </div>
    </div>
</nav>

<!-- Components End: navigation--anchor -->
