//
//    @tableOfContent
//      1. Content wrapper
//


//
//   @section 1. Content wrapper
//

.content-wrapper {
    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $container-default-widths;
        margin: 0 auto .75rem; // 1.5rem;
    }

    &__title {
        margin-bottom: .25rem;
    }

    &__pattern {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: .5rem;
    }

    &__link {
        // @todo wiedervendebar machen, siehe auch .card__link
        @include link-secondary;

        text-decoration: none;

        .icon {
            @include size(.75rem);

            margin-left: .25rem;
        }
    }

    &--sm {
        .content-wrapper {
            &__title {
                @include h5;

                margin-bottom: .5rem;
            }
        }
    }
}

// end of content-wrapper.scss file
