/**
 * Individual CSS which overwrites Zurb Foundation CSS
 */

body,
html,
.body {
	background: #f3f3f3 !important;
}

p {
	color: #222;
	line-height: 1.4;
}

.container.header {
	background: #fff;
}

img:not(.small) {
	height: auto;
	max-height: 100%;
	width: 100%;
	max-width: 100%;
}

img.small.small30 {
	max-width: 30px;
	max-height: 30px;
	margin: 0 5px;
	Margin: 0 5px;
}

img.small.small200 {
	width: 200px;
	display: inline;
}

.float-right {
	float: right;
}

table.button.success table td {
	color: #fefefe;
	background: #0047b9;
	border-color: #0047b9;
}

table.button.success:hover table td {
	background: #0040a8;
}

table.button.success table td a {
	color: white;
	border-color: #0047b9;
}

a {
	color: #0047b9;
}

a:hover {
	color: #0040a8;
}

a:active {
	color: #0040a8;
}

a:visited {
	color: #0040a8;
}

.footer {
	background: #393939;
}

.footer p {
	font-size: 13px;
}

.footer p strong {
	font-size: 14px;
}

.footer a {
	color: #fff;
	text-decoration: underline;
}

table.button td {
	line-height: 16px;
}

table.button table td {
	background-color: #0047b9;
	border-color: #0047b9;
	color: #fff;
	line-height: 16px;
}

table.button table td a {
	border-color: #0047b9;
	color: #fff;
	line-height: 16px;
}

table.button:hover table td, table.button:visited table td, table.button:active table td {
	background-color: #0040a8;
	color: #fff;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	background: #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	margin: 8px 0;
	Margin: 8px 0;
}

.small150 {
	width: 150px;
	display: inline;
}

h2 {
	font-weight: bold;
	text-align: center;
	font-size: 26px;
	margin-bottom: 30px;
	Margin-bottom: 30px;
}

td.large-8.last, th.large-8.last {
	padding-left: 48px;
	padding-right: 48px;
}

h5 {
	margin: 0 0 10px 0;
	Margin: 0 0 10px 0;
	line-height: 23px;
}
