<!-- Component Start: quick-search -->

<div class="quick-search">
    <button type="button" class="quick-search__button quick-search__button--toggle button button--icon-only button--white" aria-label="Volltextsuche öffnen" aria-expanded="false">
        {% include '@components/icon/icon.twig' with { icon: 'search' } %}
    </button>
    <form class="quick-search__form" action="#">
        {% include '@components/field/field--text.twig' with {
            label: {
                text: prototype.component.quickSearch.input.label.text,
                hidden: prototype.component.quickSearch.input.label.hidden
            },
            placeholder: prototype.component.quickSearch.input.placeholder,
            type: prototype.component.quickSearch.input.type
        } only %}
        <button type="button{# submit ii TYPO3 #}" class="quick-search__button quick-search__button--submit button button--icon-only button--white">
            {% include '@components/icon/icon.twig' with { icon: 'search' } %}
        </button>
    </form>
</div>

<!-- Components End: quick-search -->
