.releated-pages {
    h5 {
        margin-bottom: 0;
    }

    &__elements {
        display: grid;
        gap: calc(var(--content-padding) * 1.5);

        @include media-breakpoint-up(md) {
            grid-template-columns: 1fr 1fr;
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .picture__pattern.no-image {
        margin: 0 0 -.5rem -.5rem;
    }

    .picture__pattern.color {
        margin: -.5rem;
    }

    p {
        margin-bottom: .2rem;
    }

    a:hover p {
        text-decoration: none;
    }

    .text {
        margin-left: 1rem;
        @include media-breakpoint-up(md) {
            margin-left: 2rem;
        }
        @include media-breakpoint-up(lg) {
            margin-left: 0;
        }
    }
}

.pattern-divider {
    height: 10px;
    background: var(--pattern-url);
    margin-bottom: var(--content-padding);
}
