<!-- Component Start: copyright -->

<div class="copyright">
    {# @todo a11y: aria attribute togglen #}
    <button class="copyright__button" aria-expanded="false" aria-label="Urheber anzeigen">
        {% include '@components/icon/icon.twig' with {icon: 'copyright'} %}
    </button>
    <div class="copyright__content">
        <p class="copyright__text">
            {{ text|default('Lorem ipsum dollor') }}
        </p>
    </div>
</div>

<!-- Components End: copyright -->
