{% extends "@layouts/default--one-column.twig" %}
{% block main %}
    {% include '@components/breadcrumb/breadcrumb.twig' %}

    {# hero #}
    {% embed '@components/hero/hero.twig' with { title: 'Betriebsärztlicher Dienst Topic'} %}
        {% block content %}
            <button class="button button--primary icon icon--bookmark-add button--bookmark-add" data-bookmark-entity="page" data-bookmark-added="false" data-bookmark-id="3">
                Seite merken
            </button>
        {% endblock content %}
    {% endembed %}

<div class="layout">
    {# Text with Contact #}
    <div class="layout__item--two">
        <div class="text--column">
            <h2 class="h6 text-copy-small">zuletzt aktualisiert: 12. Dezember 2021</h2>
            <p class="text-intro">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                eu, pretium quis, sem.
            </p>
        </div>

        {% for item in prototype.contacts %}
            {% include '@components/contact/contact.twig' with {
                background: item.background,
                title: item.title,
                subTitle: item.subTitle,
                items: item.items
            } %}
        {% endfor %}
    </div>

    {# Text without Contact #}
    <div class="layout__item">
        <div class="text--column">
            <h2 class="h6 text-copy-small">zuletzt aktualisiert: 12. Dezember 2021</h2>
            <p class="text-intro">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                eu, pretium quis, sem.
            </p>
        </div>
    </div>

    <div class="layout__item">
        {% for card in prototype.cards %}
            {% include '@components/card/card.twig' with {
                size: 'xl',
                image: {
                    src: card.image.src,
                    color: card.image.color,
                    position: card.image.position,
                },
                title: card.title,
                subTitle: card.subTitle,
                text: card.text,
                link: {
                    href: card.link.url,
                    text: card.link.text,
                    visible: card.link.visible
                }
            } only %}
        {% endfor %}
    </div>
</div>
{% endblock main %}


