<!-- Component Start: info-box -->

<div class="info-box--border">
    <div class="info-box--wrapper">
        {% for info in prototype.infoBoxLink %}
            {% if info.title %}
                <h4 class="info-box--title">{{ info.title }}</h4>
            {% endif %}
            {% if info.text %}
                <p class="info-box--text">{{ info.text }}</p>
            {% endif %}
            {% for infoLink in info.link %}
                <ul class="info-box--link">
                {% if infoLink %}
                    <li>
                        {% include '@components/icon/icon.twig' with {icon: 'arrow-right'} %}
                        <a href="#" class="primary-link">{{ infoLink.item }}</a>
                    </li>
                {% endif %}
                </ul>
            {% endfor %}
        {% endfor %}
    </div>
</div>

<!-- Components End: info-box -->
