//
//    @tableOfContent
//      1. Logo
//


//
//   @section 1. Logo
//

.logo {
    display: block;
    width: 16.25rem;
    padding: 1rem;
    background-color: var(--color-white);

    //&__image {  }
}

// end of logo.scss file
