//
//    @tableOfContent
//      1. Header
//


//
//   @section 1. Header
//

.header {
    position: sticky;
    top: -12rem;
    z-index: 99;
    margin-bottom: 4rem;
    background-color: var(--color-primary);

    @include media-breakpoint-up(md) {
        padding-top: 6rem;
    }

    // mobile background
    &::before {
        opacity: 0;
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(0, 0, 0, .5); // @todo
        backdrop-filter: blur(20px); // @todo
        pointer-events: none;
        transition: opacity $transition-time * .5 $transition-time;

        @include media-breakpoint-down(md) {
            .fx--main-menu-open & {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    &__sticky-trigger {
        opacity: 0;
        position: absolute;
        top: .5rem;
        left: 0;
        z-index: 2;
        width: 100px;
        height: 1px;
        //background-color: red;
        //pointer-events: none;
    }

    &__meta {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        max-width: $container-default-widths + 2rem;
        margin: 0 auto 3.625rem;
        padding-right: 1rem;
        padding-left: 1rem;
        color: var(--color-white);
        background: var(--color-primary);

        @include media-breakpoint-up(md) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 2.25rem;
        order: 1;
        margin-right: auto;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__center {
        display: flex;
        align-items: center;
        order: 2;

        @include media-breakpoint-up(md) {
            opacity: 0;
            justify-content: center;
            transform: translate3d(0, -10rem, 0) scale3d(.5, .5, 1);
            transition: opacity $transition-time * 2, transform $transition-time * 2;

            .fx--header-not-sticky & {
                opacity: 1;
                transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
                transition-delay: $transition-time;
            }
        }
    }

    &__right {
        order: 3;
        margin-left: auto;

        @include media-breakpoint-down(lg) {
            .button--white {
                color: var(--color-white);
                background-color: transparent;
            }
        }
    }

    &__navigation {
        opacity: 0;
        position: relative;
        top: 1.875rem;
        margin-top: -.125rem;
        transform: translate3d(0, 2rem, 0);
        transition: opacity $transition-time * 2, transform $transition-time * 2;

        @include media-breakpoint-up(lg) {
            .fx--header-not-sticky & {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        // @todo bitv beachten
        @include media-breakpoint-down(lg) {
            //display: none;
            opacity: 1;
            position: fixed;
            top: 3.875rem; // header height
            right: 0;
            bottom: 0;
            z-index: 100;
            background-color: var(--color-white);
            box-shadow: 0 0 30px rgb(0 0 0 / 20%); // @todo variable
            transform: translate3d(100%, 0, 0);

            .fx--main-menu-open & {
                // display: block;
                transform: translate3d(0, 0, 0);
            }
        }
    }

    &__link {
        @include font-header-meta;

        display: inline-flex;
        align-items: center;
        gap: .5rem;
        position: relative;
        text-decoration: none;

        &::after {
            opacity: 0;
            content: '';
            position: absolute;
            right: 0;
            bottom: -.125rem;
            left: 1.75rem;
            height: 1px;
            background-color: var(--color-white);
            transform: translate3d(0, .25rem, 0);
            transition: opacity $transition-time * .5, transform $transition-time * .5;
        }

        &:hover,
        &:focus {
            color: inherit;

            &::after {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }

    .language-switcher {
        &::after {
            content: '';
            position: absolute;
            top: .5rem;
            right: -1rem;
            bottom: .25rem;
            width: 1px;
            background-color: var(--color-white);
        }
    }
}

// end of header.scss file
