//
//    @tableOfContent
//      1. Image responsive
//      2. Picture defaults
//      3. Picture - no image
//      4. Picture - with image
//      5. Picture - round
//


//
//   @section 1. Image responsive
//

.image--responsive {
    width: 100%;
}


//
//   @section 2. Picture defaults
//

.picture {
    //overflow: hidden;
    position: relative;
    margin: auto;
}


//
//   @section 3. Picture - no image
//

.picture--no-image {
    .picture {
        &__item {
            position: relative;
            aspect-ratio: 16 / 9;
            margin-left: 1.5rem;

            &::after {
                content: '';
                opacity: .3;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $color-white;
            }
        }

        &__pattern {
            display: block;
            position: absolute;
            right: 50%;
            bottom: -1.5rem;
            width: calc(50% + 1.5rem);
            aspect-ratio: 1;
        }
    }
}


//
//   @section 4. Picture - with image
//

.picture--with-image {
    .picture {
        //&__item {
        //    padding: 6rem 1rem 1.5rem 0;
        //}

        &__pattern {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 1.5rem;
            z-index: -1;
            width: 100%;
        }
    }
}


//
//   @section 5. Picture - round
//

.picture--round {
    overflow: hidden;
    display: block;
    border-radius: 50%;
}

// end of image.scss file
