<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:xm="http://typo3.org/ns/Xima/XmTypo3Manual/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
<h3 class="dropdown-headline">
    Dokumentation für Redakteure
</h3>
<hr>
<div class="dropdown-table">
    <div class="dropdown-table-row">
        <f:if condition="{files}">
            <f:then>
                <f:for each="{files}" as="file">
                    <f:link.typolink parameter="{file.publicUrl}" target="_blank" absolute="true">
                        <div class="dropdown-table-column dropdown-table-column-top dropdown-table-icon">
                        </div>
                        <div class="dropdown-table-column dropdown-table-column-top dropdown-table-text">
                            {file.nameWithoutExtension -> xm:format.replace(substring: '-', replacement: ' ')} ({file.extension -> f:format.case(mode: 'upper')})
                        </div>
                    </f:link.typolink>
                </f:for>
            </f:then>
            <f:else>
                <a href="{f:uri.resource(path: 'Manual/AllgemeinesHandbuch.html', extensionName: 'XmTypo3Manual')}" target="_blank">
                    <div class="dropdown-table-column dropdown-table-column-top dropdown-table-icon">
                    </div>
                    <div class="dropdown-table-column dropdown-table-column-top dropdown-table-text">
                        Allgemeines Handbuch (HTML)
                    </div>
                </a>
                <a href="{f:uri.resource(path: 'Manual/AllgemeinesHandbuch.pdf', extensionName: 'XmTypo3Manual')}" target="_blank">
                    <div class="dropdown-table-column dropdown-table-column-top dropdown-table-icon">
                    </div>
                    <div class="dropdown-table-column dropdown-table-column-top dropdown-table-text">
                        Allgemeines Handbuch (PDF)
                    </div>
                </a>
            </f:else>
        </f:if>
    </div>
</div>

</html>
