<div class="app">
    <h1>Startseite</h1>

    <div class="foo">
        <div class="normal"><div class="bar">Normal breiter content</div></div>
        <div class="wide"><div class="bar">Überbreiter Content</div></div>
        <div class="normal has-bg-color"><div class="bar">Normal breiter content mit Hintergrundfarbe</div></div>
        <div class="wide"><div class="bar">Überbreiter Content</div></div>
        <div class="wide"><div class="bar">Überbreiter Content</div></div>
        <div class="normal"><div class="bar">Normal breiter content</div></div>
        <div class="normal has-bg-image" style="background-image: url('https://picsum.photos/id/800/1024/768');"><div class="bar">Normal breiter content mit Hintergrundgrafik</div></div>
        <div class="normal"><div class="bar">Normal breiter content</div></div>
        <div class="normal has-bg-color"><div class="bar">Normal breiter content mit Hintergrundfarbe</div></div>
    </div>
</div>
