{% extends "@layouts/default.twig" %}
{% block content %}
    <h1>Startseite</h1>

    <div class="layout">
        <div class="layout__item background--image background--expanded" style="background-image: url('https://picsum.photos/id/700/1024/768');"><div class="bar">Normal breiter content</div></div>
        <div class="layout__item fx--expanded">
            <div class="foo--100">
                <div class="bar">
                    <h2>ERC-Förderung für Guoliang Cui</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                </div>
                <div class="bar">
                    <h2>Weitere News</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                </div>
                <div class="bar">
                    <h2>Kurzmeldungen</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                </div>
            </div>
        </div>
        <div class="layout__item background--cyan background--expanded">
            <div class="foo--100">
                <div class="bar">
                    <h2>Unser Service für Sie</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                </div>
                <div class="bar">
                    <h2>Unsere Tools</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                </div>
            </div>
        </div>
        <div class="layout__item fx--expanded">
            <div class="foo--100">
                <div class="bar">
                    <h2>Veranstaltungen</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                </div>
            </div>
        </div>
        <div class="layout__item fx--expanded">
            <div class="foo--100">
                <div class="bar">
                    <h2>Neue Mitarbeiter</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                    <h2>Herzlichen Glückwunsch</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                </div>
            </div>
        </div>
        <div class="layout__item background--yellow background--expanded">
            <div class="foo--75-25">
                <div class="bar">
                    <h2>Offene Stellen</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                </div>
                <div class="bar">
                    <h2>Neue Seiten</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                </div>
            </div>
        </div>
        <div class="layout__item background--image background--expanded" style="background-image: url('https://picsum.photos/id/800/1024/768');">
            <div class="bar">
                <h2>DKFZ auf Twitter</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                    nihil odit qui! Animi aperiam consequuntur eveniet
                    exercitationem molestiae officia omnis ratione tempora
                    vitae. Beatae?
                </p>
            </div>
        </div>
        <div class="layout__item">
            <div class="foo--50-50">
                <div class="bar">
                    <h2>DKFZ auf Twitter</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                </div>
                <div class="bar">
                    <h2>DKFZ auf Instagram</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                </div>
            </div>
        </div>
        <div class="layout__item background--orange background--expanded">
            <div class="foo">
                <div class="bar">
                    <h2>Helmholz Newsroom</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate, illum iure. Assumenda at, dignissimos eligendi
                        nihil odit qui! Animi aperiam consequuntur eveniet
                        exercitationem molestiae officia omnis ratione tempora
                        vitae. Beatae?
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

