  {# do not remove #}
  {{ patternLabFoot | raw }}

  {# debug #}
  {% include '@components/debug/debug.twig' %}

  {# javascript #}
  <script src="../../../JavaScript/app.js"></script>
</body>
</html>
